


/********** ANIMATIONS **********/

.zoom {
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.zoom:hover {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}

.zoom2 {
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.zoom2:hover {
	-webkit-transform: scale3d(1.05, 1.05, 1);
	transform: scale3d(1.05, 1.05, 1);
}

/********** LAYOUT **********/


			
.box_pic {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	background-position: 50% 50%; 
	background-size: cover; 
	border-radius: 2px;
	background-repeat: no-repeat;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.noblur {
	-webkit-filter: blur(0x);
	filter: blur(0px);
}

.shadow {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	background-color: white;
}

.circle-link {
	height: 200px; 
	width: 200px; 
	border-radius: 100px; 
	text-align: center;
	line-height: 50px; 
	padding-top: 45px; 
	font-size: 45px;
	color: black;
	margin: 0 auto;
	border: 1px solid black;
}

.circle_link_l {
	height: 260px; 
	width: 260px; 
	border-radius: 130px; 
	text-align: center;
	line-height: 60px; 
	white-space: nowrap;
	padding-top: 65px;
	font-size: 50px; 
	color: black;
	margin: 0 auto;
	border: 1px solid black;
}

.circle_link_s {
	height: 150px; 
	width: 150px; 
	border-radius: 75px; 
	text-align: center;
	line-height: 40px; 
	white-space: nowrap;
	padding-top: 48px;
	font-size: 46px; 
	color: black;
	margin: 0 auto;
	border: 1px solid black;
}

.circle_s_2_line {
	height: 150px; 
	width: 150px; 
	border-radius: 75px; 
	text-align: center;
	line-height: 40px; 
	white-space: nowrap;
	padding-top: 30px;
	font-size: 46px; 
	color: black;
	margin: 0 auto;
	border: 1px solid black;
}

.loading_alt {
	display: none;
}

.show_s {
	display: none;
}

@media screen and (max-width: 880px) {
	.hide_s {
		display: none;
	}
	
	.show_s {
		display: inline;
	}
}

.bump {
	margin-top: 25px;
}
