<div id="main">

						<!-- Post -->
							<section class="main special" style="background-image: url('../../../uploads/flower_bg2.png');">
								<div class="inner" style="background-color: white;">
									<div class="row">
										<div class="6u 12u(s)">
											<h2>HOW TO JOIN</h2> 
											<h1>1. SEND US YOUR DOCUMENTS</h1>
											<p style="font-size: 75%;">
												Before you can join and receive your first delivery, we need to verify that your 
												recommendation and California I.D. are both valid. Doing this is easy! Just 
												scan or snap a picture of both your I.D. and current recommendation, and submit 
												them using the 'Join Now' form on this page or email them to flowers@flowersonflowers.com.
											</p>
											
											<h1>2. WAIT FOR OUR RESPONSE</h1>
											<p style="font-size: 75%;">
												After we get your email and verify that your recommendation and I.D. are both 
												current, we'll email you and schedule your first delivery with the hour! Delivery times can 
												differ depending on the time of day a purchase was made and where you're located. 24 hour notice must be given on most products.
												Our response will include an estimated delivery time within 1 hour.
											</p>
											
											<h1>3. SIGN MEMBERSHIP AGREEMENT</h1>
											<p style="font-size: 75%;">
												When the delivery driver arrives at your house, he or she will come to your door with a Membership 
												Agreement paper. Once you sign it, you'll be able to donate and receive your delivery. If 
												you want to make the process a bit quicker, download the Membership Agreement Form here. 
												Feel free to print it out and sign it before we arrive!
											</p>
										</div>
										<div class="6u 12u(s)">
											<h2>JOIN NOW!</h2>
											<form enctype="multipart/form-data" action="uploader/upload-application" method="POST">
												<div class="field half first">
													<input type="text" name="first_name" id="first_name" required placeholder="First name" />
												</div>
												<div class="field half">
													<input type="text" name="last_name" id="last_name" required placeholder="Last name" />
												</div>
												<div style="margin-top: 15px; font-weight: bold;">DELIVERY ADDRESS</div>
												<div class="field">
													<input type="text" name="address" id="address" required placeholder="Street Address" />
												</div>
												<div class="field half first">
													<input type="text" name="city" id="city" required placeholder="City" />
												</div>
												<div class="field half">
													<input type="text" name="zip" id="zip" required placeholder="Zip Code" />
												</div>
												<div style="margin-top: 15px; font-weight: bold;">CONTACT INFO</div>
												<div class="field half first">
													<input type="text" name="email" id="email" required placeholder="Email" />
												</div>
												<div class="field half">
													<input type="text" name="phone" id="phone" required placeholder="Phone Number" />
												</div>
												<div style="margin-top: 15px; font-weight: bold;">REQUIRED DOCUMENTS</div>
												<div>
													<div style="float: left;">Driver's License</div>
													&nbsp; <input name="uploadedfile1" type="file" required style="background-color: white;" />
												</div>
												<br>
												<div>
													<div style="float: left;">Medical Marijuana Recommendation</div>
													&nbsp; <input name="uploadedfile2" type="file" required style="background-color: white;" />
												</div>
												<input type="submit" value="Submit" class="button" />
											</form>
										</div>
									</div>
						
								</div>
							</section>

						<!-- 
							<section class="main">
								<div class="posts">
									<article>
										<a href="#" class="image"><img src="../../../images/pic05.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Mauris vitae</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic06.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Dapibus nulla</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic07.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Dictum veroeros</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic08.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Lorem sed magna</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic09.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Vitae adipiscing</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic10.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Aliquam phasellus</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
								</div>
								<footer class="major">
									<ul class="pagination">
										<li><a href="#" class="previous">Prev</a></li>
										<li><a href="#" class="page active">1</a></li>
										<li><a href="#" class="page">2</a></li>
										<li><a href="#" class="page">3</a></li>
										<li><span class="extra">&hellip;</span></li>
										<li><a href="#" class="page">19</a></li>
										<li><a href="#" class="page">20</a></li>
										<li><a href="#" class="next">Next</a></li>
									</ul>
								</footer>
							</section>
							-->

					</div>
					<script type="text/javascript">
						$(document).ready(function(){
							$('.florist_img').hover(function() {
								$(this).addClass('transition');
							}, function() {
								$(this).removeClass('transition');
							});

<?php if ($member == 'false'): ?>
							swal({   
								title: "Ah, ah, ah...",   
								text: "You must be a member to see the awesome things on that page.",   
								imageUrl: "../../../uploads/no_pass.gif",
								imageSize: '300x300',
								showCancelButton: true,   
								confirmButtonColor: "#DD6B55",   
								confirmButtonText: "Close",   
								cancelButtonText: "Login",   
								closeOnCancel: false 
							}).then(function(isConfirm){   
								if (isConfirm) {     
									
								} else {    
									window.location.replace('http://flowersonflowers.com/login/sign-in'); 
								}
							});
<?php endif; ?>

							$("#test").click(function() {
								swal("Success!", "Your application has been submitted and is pending approval", "success");
// 								swal({   
// 									title: '<img alt="" src="../../../uploads/gears.gif">',   
// 									text: 'Loading...',   
// 									html: true,
// 									timer: 5000,   
// 									showConfirmButton: false
// 								});
							});
						});
					</script>