
			
		<!-- Main -->
			<section id="main" class="wrapper" style="margin-top: 75px;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px; text-align: center;">

					<header class="major">
						<h2>What Is Weed?</h2>
						<p style="text-align: center;">
						Many people are curious about Cannabis but honestly have little access to relevant
						information about Cannabis itself.  Many of us have never purposely tried Cannabis, 
						or have had not the greatest experience with it. This is your one stop shop for 
						everything you need to know to enjoy the benefits of medical marijuana safely.
						</p>
					</header>
					
							
							<div class="row" style="text-align: center; margin-bottom: 50px;">
<?php foreach ($educations as $id => $data): ?>
								<div class="6u 12u(s)">
									<div class="card guest_box" style="background-image: url('../../../uploads/weed.jpg');" onclick="javascript: window.location.href='/education/view?id=<?=$id?>'">
										<div class="text_fit" style="white-space: nowrap; background-color: rgba(255, 255, 255, 0.9); color: #0FA18C !important; border-top-right-radius: 25px; padding: 15px 0;">
											<span style="padding: 20px; white-space: nowrap; font-size: 115%;"><?=$data['title']?></span>
										</div>
										<hr style="width: 50%; margin-left: 25%; margin-top: 5px; margin-bottom: 3px; background-color: #0FA18C !important; height: 2px;">
										<div class="shadow" style="color: black !important; margin-bottom: 20px; width: 80%; background-color: rgba(255, 255, 255, 0.85); margin-top: 15px; margin-left: 10%;">
											<?=$data['short_description']?>
										</div>
										<span class="shadow" style="background-color: rgba(255, 255, 255, 0.85);padding: 10px;">
											CLICK TO READ MORE!
										</span>
									</div>
								</div>
<?php endforeach; ?>
							</div>
					
					<style>
						#arrow {
						    -webkit-animation: mover 1s infinite  alternate;
						    animation: mover 1s infinite  alternate;
							position: absolute; 
							top: 0; 
							width: 8%; 
							margin-left: 46%;
							margin-top: -125px;
						}
						@-webkit-keyframes mover {
						    0% { transform: translateY(0); }
						    100% { transform: translateY(-30px); }
						}
						@keyframes mover {
						    0% { transform: translateY(0); }
						    100% { transform: translateY(-30px); }
						}
						.guest_box {
							width: 100%; 
							height: 0; 
							padding-bottom: 50%;
							border-width:3px 8px 3px 8px;
							border-style: solid;
							border-color: #0FA18C #0FA18C #434384 #434384;
							border-radius:0 30px 0 30px;
							-moz-border-radius:0 30px 0 30px;
							-webkit-border-radius:0 30px 0 30px;
							background-color: white;
							cursor: pointer;
						}
						
						@media screen and (max-width: 800px) {
							#arrow {
								width: 20%; 
								margin-left: 40%;
								margin-top: -45px;
							}
						}
					</style>

				</div>
			</section>
