
		<!-- Main -->
			<section class="wrapper ">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px;">
					<section class="main special">
						<h2 style="font-size: 180%; text-shadow: 2px 2px #0FA18C; margin: 0;"><?=$education['title']?></h2>
						<h3 style="margin-top: -25px;"><?=substr($education['created_date'], 0, 11)?></h3>
						
						<?=$education['content_text']?>
					</section>
				</div>
			</section>
			
			