		
<?php if ($user['deleted'] == 0): ?>


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">
							<?=$user['first_name']?> <?=$user['last_name']?> - Change Password
						</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>memberships">Users Main</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>edit-user?user_id=<?=$user_id?>">Edit User</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Change Password</li>
							

						</ol>
					</div>
				</div>
				
				<div class="row">
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
<?php if ($user['profile_image'] != '' && file_exists('./uploads/' . $user['profile_image'])): ?>
								<center class="m-t-30"> 
								<div class="box_pic" style="width: 150px; height: 0; height: 150px; background-image: url('../../../uploads/<?=$user['profile_image']?>');">&nbsp;</div>
<?php  else: ?>
								<center class="m-t-30"> <i class="fa fa-user-circle" style="width: 150px; height: 150px; font-size: 800%;"></i>
<?php endif; ?>
                                    <h4 class="card-title m-t-10"><?=$user['first_name']?> <?=$user['last_name']?></h4>
                                    <h6 class="card-subtitle"><a href="<?=$company_info['nav_path']?>edit-user?user_id=<?=$user['id']?>" class="btn btn-info">Back To Profile</a></h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-calendar"></i> <font class="font-medium"><?=substr($user['created_date'], 0, 11)?></font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-dollar"></i> <font class="font-medium"><?=$total_sales?> (<?=count($transactions)?>)</font></a></div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body" style="padding: 15px;"> <small class="text-muted">Email address </small>
                                <h6><?=$user['email']?></h6> 
                                <small class="text-muted p-t-30 db">Phone</small>
                                <h6><?=$user['phone']?></h6> 
                                <small class="text-muted p-t-30 db">Address</small>
<?php if ($user['address'] == ''): ?>
								<h6>No Address Set</h6>
<?php else: ?>
								<h6><?=$user['address']?></h6>
                                <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCJ4ZsEs4RmxYBnB7P4k2YQkxxL01RSfA8&q=<?=str_replace(' ', '+', $user['address'])?>,<?=str_replace(' ', '+', $user['city'])?>+<?=str_replace(' ', '+', $user['state'])?>" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
<?php endif; ?>
                                <!-- 
                                Social Media Profiles <i class="fa fa-chevron-down"></i>
                                <br/>
                                <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button> -->
                            </div>
                        </div>
                    </div>
<?php endif; ?>


					<div class="col-lg-8 col-xlg-9 col-md-7">

                        <div class="card">
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                            	<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Fill out the fields below to change the login password for <?=$user['first_name']?> <?=$user['last_name']?></a> </li>
                                <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>-->
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                               

								<div class="tab-pane active" id="settings" role="tabpanel">
									<div class="card-body" style="padding: .7em; padding-top: 25px;">
										<div class="form-horizontal form-material row">
																			
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">New Password</label>
													<div class="col-md-12">
														<input id="password" type="password" class="form-control form-control-line">
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Repeat New Password</label>
													<div class="col-md-12">
														<input id="password2" type="password" class="form-control form-control-line">
													</div>
												</div>
											</div>
																					
											
											<div class="col-lg-12" style="font-weight: bold;">
												<div id="submit" class="btn btn-success" style="width: 100%;padding: 15px;">Change Password!</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>


			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {

						do {
							if (document.getElementById('password').value == '') {
								swal('You must enter a new password.');
								break;
							}
	
							if (document.getElementById('password2').value == '') {
								swal('You must re-enter your new password.');
								break;
							}
	
							if (document.getElementById('password2').value != document.getElementById('password').value) {
								swal('Passwords must much.');
								break;
							}

							$.ajax({
								url: "<?=$company_info['nav_path']?>writeUserPassword",
								type: 'post',
								dataType: 'html',
								data: {
									id: <?=$user_id?>,
									password: document.getElementById('password').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'Password has been changed',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.href = '/admin';
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});
				});

			</script>