			<script type="text/javascript">
				tinymce.init({
					selector: "#post_text",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
			</script>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">
						Content 
<?php if ($content_type_id == 1): ?>
						<small>New Blog Post</small>
<?php elseif ($content_type_id == 4): ?>
						<small>New Gallery Image</small>
<?php elseif ($content_type_id == 5): ?>
						<small>New Podcast</small>
<?php else: ?>
						<small>Other (for now)</small>
<?php endif;?>
						<span style="float: right;"><a href="/admin/content" class="btn btn-default btn-lg" style="background-color: #21a2f2; color: white;"><i class="fa fa-arrow-left fa-fw"></i> Back To Content</a></span>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
<?php if ($content_type_id == 1): ?>
						Submit the following fields to create a new blog post
<?php elseif ($content_type_id == 4): ?>
						Submit the following fields to create a new gallery entry
<?php elseif ($content_type_id == 5): ?>
						Submit the following fields to create a new podcast
<?php else: ?>
						Submit the following fields to create new content
<?php endif;?>
							
						</div>
						<div class="panel-body">
						
							<div class="row" style="margin: 0 0 10px 10px; width: 50%;">
								<label>Title</label>
								<input id="title" class="form-control">
							</div>
							<div class="row input-append input-group" style="margin: 0 0 10px 10px; width: 50%;">
<?php if ($content_type_id == 5): ?>
								<label>Audio File: </label>
<?php else: ?>
								<label>Associated Image: </label>
<?php endif; ?>
								<input id="attachment" type="text" class="form-control">
								<span class="input-group-btn">
									<a href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-default iframe-btn" type="submit" style="margin-top: 25px;">
<?php if ($content_type_id == 5): ?>
										<i class="fa fa-volume-up"></i>
<?php else: ?>
										<i class="fa fa-image"></i>
<?php endif; ?>
									</a>
								</span>
							</div>
<?php if ($content_type_id == 3 || $content_type_id == 6): ?>
							<div class="row" style="margin: 0 0 10px 10px; width: 50%;">
								<label>Target Date: </label>
								<div class="input-group date" data-provide="datepicker">
									<input id="target_date" type="text" class="form-control">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
<?php endif; ?>
							<div class="row">
								<div class="col-lg-12">
<?php if ($content_type_id != 4):?>
									<div class="form-group">
										<textarea id="post_text"></textarea>
									</div>
<?php endif; ?>
									<button id="submit" class="btn btn-primary btn-lg">
										Submit
									</button>
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Post Write Complete</h4>
												</div>
												<div class="modal-body">
													Success
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">OK!</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$('.datepicker').datepicker({
					    format: 'yyyy-mm-dd'
					});
					
					$("#submit").click(function () {
						var pass = true;
						
						if (<?=$content_type_id?> == 1) {
							if (document.getElementById('title').value == '') {
								alert('You must enter a title for a new blog post.');
								pass = false;
							}
						} 

						if (pass == true) {
							tinyMCE.triggerSave();

							$.ajax({
								url: "/admin/writeContent",
								type: 'post',
								dataType: 'html',
<?php if ($content_type_id == 4):?>
								data: {title: document.getElementById('title').value, content_text: '', attachment: document.getElementById('attachment').value, target_date: '', content_type_id: <?=$content_type_id?>},
<?php elseif ($content_type_id == 5):?>
								data: {title: document.getElementById('title').value, content_text: tinyMCE.activeEditor.getContent(), attachment: document.getElementById('attachment').value, target_date: '', content_type_id: <?=$content_type_id?>},
<?php else: ?>
								data: {title: document.getElementById('title').value, content_text: tinyMCE.activeEditor.getContent(), attachment: document.getElementById('attachment').value, target_date: document.getElementById('target_date').value, content_type_id: <?=$content_type_id?>},
<?php endif; ?>
								async: false,
								success: function(data) {
									if (data == 1) {
										// update the textarea with the time
										$('#myModal').modal('show');
									} else {
										alert(data);
									}
								} 
							});
						}
					});
				});

				function closeModal()
				{
					document.getElementById('title').value = '';
					document.getElementById('attachment').value = '';

<?php if ($content_type_id != 4):?>
					document.getElementById('target_date').value = '';
					tinyMCE.activeEditor.setContent('');
<?php endif; ?>
				}
			</script>