		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Menu Items</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Menu Item</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
				
<?php if($menu_item_id == 0): ?>
							<h2 class="card-title text-white" style="float: left;">Create Menu Item <i class="fa fa-pencil"></i></h2>								
<?php else: ?>
							<h2 class="card-title text-white" style="float: left;">Edit Menu Item <i class="fa fa-pencil"></i></h2>								
							<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Menu Item <span class="fa fa-exclamation-triangle"></span></button>
<?php if ($menu_item['active'] == 1): ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; background-color: #55CE63; margin-right: 20px;">MENU ITEM ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; display: none; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> MENU ITEM INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php else: ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; display: none; background-color: #55CE63; margin-right: 20px;">MENU ITEM ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> MENU ITEM INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php endif; ?>
<?php endif;?>	
					</div>
					<div class="card-block">
						
						
						
							<div class="row" style="padding: 0 25px;">
								<div id="snap_point" class="col-lg-4 col-sm-12">
									<label>Name</label>
									<div class="input-group">
<?php if($menu_item_id == 0): ?>
										<input id="name" class="form-control">						
<?php else: ?>
										<input id="name" class="form-control" value="<?=$menu_item['name']?>">
<?php endif; ?>
									</div>
								</div>
								
								<div id="snap_point" class="col-lg-4 col-sm-12">
									<label>Price</label>
									<div class="input-group">
<?php if($menu_item_id == 0): ?>
										<input id="price" class="form-control">						
<?php else: ?>
										<input id="price" class="form-control" value="<?=$menu_item['price']?>">
<?php endif; ?>
									</div>
								</div>

								<div class="col-lg-4 col-sm-12">
									<label>Menu Item Type</label>
									<div class="input-group">
										<select id="menu_item_type_id" class="form-control">
<?php foreach($menu_item_types as $id => $data): ?>
<?php if ($menu_item_id > 0): ?>
<?php if($menu_item['menu_type_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php endforeach; ?>
										</select>
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($menu_item_id == 0): ?>
												<input id="attachment" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment" type="text" class="form-control" value="<?=$menu_item['attachment_file_name']?>">
<?php endif; ?>
												<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
													<i class="fa fa-arrow-right"></i>
												</div>
												<span class="input-group-btn">
													<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
													</button>
												</span>
											</div>


										</div>
									</div>
								</div>
								
								
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12" style="margin-top: 20px;"><h2 style="">Menu Item Parts</h2></div>
<?php $count = 1; ?>
<?php foreach ($menu_item_parts as $id => $data): ?>

					<div id="outter_product_part_box<?=$count?>" class="col-lg-3 col-sm-12 product_size_box" style="margin-bottom: 15px;">
						<div id="product_part_box<?=$count?>" class="shadow" style="padding: 10px; background-color: #7460EE; color: white;">
							<label>New Menu Item Part<hr style="margin: 5px;"></label>
							<div class="form-group row" style="margin: 0;">
								<label for="example-month-input" class="col-12 col-form-label">Stock Item</label>
									<div class="col-12">
									<select id="part_selector<?=$count?>" class="custom-select col-12" style="background-color: white;" onchange="javascript: selectStockPart(this.value, <?=$count?>);">
<?php foreach ($products as $id2 => $data2): ?>
<?php if ($data['product_id'] == $id2): ?>
										<option value="<?=$id2?>" selected><?=$data2['name']?></option>
<?php else: ?>
										<option value="<?=$id2?>"><?=$data2['name']?></option>
<?php endif; ?>
<?php endforeach; ?>	
									</select>
								</div>
							</div>

 							<br>
							<div id="units_row<?=$count?>" style="text-align: center;">Product inventory unit - <span id="inventory_unit_string<?=$count?>" style="font-weight: bold;"><?=$products[$data['product_id']]['unit_name']?></span><span style="font-weight: bold;">s</span></div>

							<br>

							<div class="form-group row" style="margin: 0; text-align: center;">
								<label for="example-month-input" class="col-12 col-form-label"># of the above units in this menu item</label>
								<div class="col-12">
									<input id="part_units<?=$count?>" class="form-control" placeholder="#..." value="<?=$data['product_units']?>">	
								</div>
							</div>
							
						</div>
					</div>

<?php $count++; ?>
<?php endforeach; ?>
										<div id="new_product_part_box" class="col-lg-3 col-sm-6" style="pointer-events: auto !important;">
											<div id="product_part_box_new" class="shadow card" style="padding: 30px; background-color: rgba(196, 196, 196, 0.8); text-align: center; cursor: pointer;" onclick="javascript: newProductPart();">
												<h3 style="font-weight: bold;">ADD NEW PART<hr style="margin: 5px;"></h3>
												<br><br>
												<i class="fa fa-plus" style="font-size: 300%;"></i>	
											</div>
										</div>	
									</div>
								</div>

											
							</div>
							
							<div class="row" style="padding: 0 25px;">
								<div class="col-lg-12">
									<div class="form-group">
										<h2 style="margin-top: 50px;">Menu Item Description</h2>
<?php if($menu_item_id == 0): ?>
										<textarea id="post_text"></textarea>			
<?php else: ?>
										<textarea id="post_text"><?=$menu_item['description']?></textarea>
<?php endif; ?>
										
									</div>
									<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
										Submit
									</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>

			<script> 
				var part_count = <?=count($menu_item_parts)?>;
				var products = <?php echo json_encode($products); ?>;
					
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					tinymce.init({
						selector: "#post_text",
						mode: "textareas",
						height: 400,
						theme: "modern",
						plugins: [
							"autolink link image lists charmap print preview hr anchor pagebreak",
							"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
							"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
						],
						toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
						toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
						image_advtab: true ,
						external_filemanager_path:"/filemanager/",
						filemanager_title:"Responsive Filemanager" ,
						external_plugins: { "filemanager" : "/filemanager/plugin.min.js"},
						branding: false
					});
	
					$('.iframe-btn').fancybox({	
						'type'		: 'iframe',
						'width'		: 900,
						'height'	: 650,
						'autoSize'	: false,
						'autoDimensions': false
					});
	
					$(".fancybox").fancybox();

					$("#submit").click(function () {
						do {	

							sizes = [];

							for (var i = 1; i < part_count+1; i++) {
								sizes[i] = {
									product_id: document.getElementById('part_selector' + i).value, 
									units: document.getElementById('part_units' + i).value
								};
							}

							if (document.getElementById('name').value == '') {
								swal("Oops...", "You must enter a name for this menu item", "error");
								break;
							}

							if (document.getElementById('attachment').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment').value != '') {
									swal("Oops...", "Image attachment  does not have a file extension.", "error");
									break;
								}
							}


						tinyMCE.triggerSave();

						$.ajax({
							url: "<?=$company_info['nav_path']?>write-menu-item",
							type: 'post',
							dataType: 'html',
							data: {
								menu_item_id: <?=$menu_item_id?>,
								name: document.getElementById('name').value,
								price: document.getElementById('price').value,
								active: 1,
								attachment: document.getElementById('attachment').value,
								menu_item_type_id: document.getElementById('menu_item_type_id').value,
								description: tinyMCE.activeEditor.getContent(),
								parts: sizes
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Mission Accomplished!',
										text: "This menu item's data has been updated.",
										type: 'success',
										showCancelButton: true,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'To Inventory',
										cancelButtonText: 'To Product List',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: false
									}).then(function () {
										window.location.href = '<?=$company_info['nav_path']?>inventory';
									}, function (dismiss) {
										window.location.href = '<?=$company_info['nav_path']?>view-menu-item';
									});
									

								} else {
									console.log(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					} while (false);
				});
		
				$("#delete").click(function () {
					swal({   
						title: "Confrim Delete",   
						text: 'Are you sure you want to delete this product?',
						type: "warning",    
						showCancelButton: true,
						cancelButtonText: "No, go back",
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Yes!",   
						}).then(function(){   
							confirmDelete();
						}
					);
				});
				
			});
		
			function checkQuantity(i) {
				if (document.getElementById('new_sub_product_name' + i).value == '' || document.getElementById('new_sub_product_price' + i).value == '' || document.getElementById('new_sub_product_inventory' + i).value == '') {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(255, 0, 0, 0.4)';
				} else {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(0, 255, 0, 0.4)';
				}
			}
			
			function showNewQuantity(i) {
				var num = parseInt(i + 1);
				
				document.getElementById('add_quantity_button' + i).style.display = 'none';
				document.getElementById('add_quantity' + num).style.display = 'inline';
		
				if (i == 1) {
					document.getElementById('add_quantity_button2').style.display = 'inline';
				}
			}
		
			function activate(num) {
				$.ajax({
					url: "<?=$company_info['nav_path']?>activateProduct",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: <?=$menu_item_id?>,
						flag: num
					},
					async: false,
					success: function(data) {
						if (data == 1) {			
							if (num == 1) {
								document.getElementById('active_on').style.display = '';
								document.getElementById('active_off').style.display = 'none';
							} else {
								document.getElementById('active_on').style.display = 'none';
								document.getElementById('active_off').style.display = '';
							}				
						} else {
							alert('An error has occurred');
							console.log(data);
						}
					} 
				});
			}


			var new_sizes = {};
			var deleted_sizes = {};

			function deleteSize(i) {
				swal({   
					title: "Delete Product Size?",   
					text: 'Are you sure you want to delete this product size?',
					type: "warning",    
					showCancelButton: true,
					cancelButtonText: "NO",
					confirmButtonColor: "#15A59B",   
					confirmButtonText: "YES",   
					}).then(function(){   
						
						$.ajax({
							url: "<?=$company_info['nav_path']?>deleteProductSize",
							type: 'post',
							dataType: 'html',
							data: {
								i: i,
								product_id: <?=$menu_item_id?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {							
									document.getElementById('size_box' + i).style.display = 'none';
								} else {
									console.log(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					});
				
			}
		
			function newProductPart() {

				part_count++;
				
				var html = `
					<div id="outter_product_part_box` + part_count + `" class="col-lg-3 col-sm-12 product_size_box" style="margin-bottom: 15px;">
						<div id="product_part_box` + part_count + `" class="shadow" style="padding: 10px; background-color: #7460EE; color: white;">
							<label>New Menu Item Part<hr style="margin: 5px;"></label>
							<div class="form-group row" style="margin: 0;">
	                            <label for="example-month-input" class="col-12 col-form-label">Stock Item</label>
	                            <div class="col-12">
									<select id="part_selector` + part_count + `" class="custom-select col-12" style="background-color: white;" onchange="javascript: selectStockPart(this.value, ` + part_count + `);">
<?php foreach ($products as $id => $data): ?>
										<option value="<?=$id?>"><?=$data['name']?></option>
<?php endforeach; ?>	
									</select>
	                            </div>
	                        </div>

 							<br>
							<div id="units_row` + part_count + `" style="text-align: center; display: none;">Product inventory unit - <span id="inventory_unit_string` + part_count + `" style="font-weight: bold;"></span><span style="font-weight: bold;">s</span></div>

							<br>

							<div class="form-group row" style="margin: 0; text-align: center;">
	                            <label for="example-month-input" class="col-12 col-form-label"># of the above units in this menu item</label>
	                            <div class="col-12">
	                            	<input id="part_units` + part_count + `" class="form-control" placeholder="#..." value="">	
	                            </div>
	                        </div>
							
						</div>
					</div>
				`;

				$( "#new_product_part_box" ).before(html);
		
			}
		
			function confirmDelete() {
				$.ajax({
					url: "<?=$company_info['nav_path']?>deleteProduct",
					type: 'post',
					dataType: 'html',
					data: {product_id: <?=$menu_item_id?>},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Product Deleted",   
								text: 'This product has been deleted',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								}).then(function(){   
									window.location.replace('<?=$company_info['nav_path']?>view-product');
								});
						} else {
							alert('An error has occurred');
							console.log(data);
						}
					} 
				});
			} 

			function selectStockPart(product_id, i) {
				document.getElementById('units_row' + i).style.display = '';
				document.getElementById('inventory_unit_string' + i).innerHTML = products[product_id]['unit_name'];
			} 

			</script>
			<style>
				.btn-success {
					margin-right: 50px;
				}
			</style>
