


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>sales">Sales Main</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>view-transaction?transaction_id=<?=$transaction_id?>">View Transaction</a></li>
							<li class="breadcrumb-item active"><span style="font-weight: bold;">Edit Transaction</span></li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>

						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Edit Transaction <i class="fa fa-pencil"></i></h2>								
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Order <span class="fa fa-exclamation-triangle"></span></button>
							</div>
							<div class="card-block">
								<div class="row" style="margin: 0 0 10px 5px; width: 100%; font-size: 160%;">
									
									<div class="col-lg-4 col-sm-12" style="margin-bottom: 35px;">
										<div class="card card-body" style="background-color: #55CE63; padding: 20px; color: white; width: 100%; height: 0; padding-bottom: 40%;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold;">Patient Info</h3>
											<address>
												<div style="margin-left: 15px; font-size: 85%;"><i class="fa fa-user"></i> <?=$user['first_name']?> <?=$user['last_name']?> <button class="btn btn-info" style="background-color: #7460EE;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>edit-user?user_id=<?=$user['id']?>';">Edit <span class="fa fa-pencil"></span></button>
												</div>
												<div style="margin-left: 15px; font-size: 85%;"><i class="fa fa-phone"></i> <a href="tel:<?=$user['phone']?>"><?=$user['phone']?></a></div>
												<div style="margin-left: 15px; font-size: 85%;"><i class="fa fa-home"></i> <?=$user['address']?>, <?=$user['city']?>, <?=$user['zip']?></div>
											</address>
										</div>
									</div>
									<div class="col-lg-4 col-sm-12" style="margin-bottom: 35px;">
										
<?php if ($transaction['changed_date'] == '0000-00-00 00:00:00'): ?>
<?php $string1 = explode(' ', $transaction['created_date']); ?>
<?php $changed = 0; ?>
<?php else: ?>
<?php $string1 = explode(' ', $transaction['changed_date']); ?>
<?php $changed = 1; ?>
<?php endif; ?>

<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i", strtotime($string2[0] . ':' . $string2[1])); ?>

										<div class="card card-body" style="background-color: #7460EE; padding: 20px; color: white; width: 100%; height: 0; padding-bottom: 40%;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold;">
<?php if ($changed == 1): ?>
												Order Time: <span style="font-size: 75%; color: #ed5e3b;">(Altered)</span>
<?php else: ?>
												Order Time:
<?php endif; ?>
											</h3>
											<address>
												
												<div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true" style="margin-top: 10px;">
													<input type="text" id="time" class="form-control" value="<?=$time?>"> 
													<span class="input-group-addon"> <span class="fa fa-clock-o"></span></span>
												</div>
												<div class="input-group" style="margin-top: 20px;">
													<input type="text" id="date" class="form-control mydatepicker" placeholder="mm/dd/yyyy" value="<?=str_replace('-', '/', substr($string1[0], 5)) . '/' . substr($string1[0], 0, 4)?>">
													<span class="input-group-addon"><i class="icon-calender"></i></span> 
												</div>
											</address>
										</div>
									</div>
									<div class="col-lg-4 col-sm-12" style="margin-bottom: 35px;">
										<div class="card card-body" style="background-color: #01C0C8; padding: 20px; color: white; width: 100%; height: 0; padding-bottom: 40%;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold;">
<?php if ($transaction['alt_cost'] > 0): ?>
												Amount Due: <span style="font-size: 75%; color: #ed5e3b;">(Altered)</span><br>
<?php else: ?>
												Amount Due: <br>
<?php endif; ?>	
											</h3>
											<address>
												<div class="input-group" style="margin-top: 10px;">
													<span class="input-group-addon">$</span>
<?php if ($transaction['alt_cost'] > 0): ?>
													<input class="form-control" type="search" id="alt_cost" value="<?=$transaction['alt_cost']?>" style="text-align: center;">
<?php else: ?>
													<input class="form-control" type="search" id="alt_cost" value="<?=$transaction['cost']?>" style="text-align: center;">
<?php endif; ?>	
													
												</div>
											</address>
										</div>
									</div>
									<div class="col-lg-4 col-sm-12" style="margin-bottom: 35px;">
										<div class="card card-body" style="background-color: #F62D51; padding: 20px; color: white; width: 100%; height: 0; padding-bottom: 40%;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold;">
												Delivery Notes: <br>
											</h3>
											<address>
												<div class="form-group" style="margin-top: 8px;">
													<textarea id="notes" class="form-control" rows="4"><?=$transaction['notes']?></textarea>
												</div>
											</address>
										</div>
									</div>
									<div class="col-lg-6 col-sm-12" style="margin-bottom: 50px;">
										<label>Order Contents: </label><br>
<?php $count = 1;?>
<?php foreach($products as $id => $data): ?>
										<div style="margin-left: 15px; margin-top: 3px;">
											<button class="btn btn-info" style="background-color: #ed5e3b;" onclick="javascript: removeProduct(<?=$id?>);"><span class="fa fa-close"></span></button>
											<?=$count?>) <b><?=$data['name']?></b> - <?=$data['size']['name']?>
										</div>
<?php $count++; ?>
<?php endforeach; ?>
										<hr>
									</div>
									<div class="col-lg-12">
										<div>
											<button class="btn btn-info" style="padding: 15px; width: 100%;" onclick="javascript: submitChanges();">Submit Changes</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					$('.clockpicker').clockpicker({
						donetext: 'Done',
					}).find('input').change(function() {
						console.log(this.value);
					});
					
					jQuery('.mydatepicker, #datepicker').datepicker();
				
<?php if ($transaction_id > 0): ?>
					$("#accept_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>accept-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Acccepted!",   
										text: 'You have now reserved this delivery. Please contact us if any issues arise.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										}).then(function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});

					$("#complete_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>complete-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Delivered!",   
										text: 'This order will now be marked as complete.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										}).then(function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});
<?php endif; ?>
				});
				
				function confirmDelete() {
					swal({   
						title: "Delete Order?",   
						text: 'Are you sure you want to delete this transaction?',
						type: "warning",    
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Delete!",
						cancelButtonText: "Cancel", 
						closeOnConfirm: false 
						}, 
						function(){   
							$.ajax({
								url: "<?=$company_info['nav_path']?>deleteTransaction",
								type: 'post',
								dataType: 'html',
								data: {
									transaction_id: <?=$transaction['id']?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Transaction Deleted!",   
											text: 'You will now be taken back to the transactions main page.',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>sales');
											});
									} else {
										alert(data);
									}
								} 
							});
						});
					
				} 

				function submitChanges() {
	
					$.ajax({
						url: "<?=$company_info['nav_path']?>editSaleAction",
						type: 'post',
						dataType: 'html',
						data: {
							time: document.getElementById('time').value,
							date: document.getElementById('date').value,
							notes: document.getElementById('notes').value,
							alt_cost: document.getElementById('alt_cost').value,
							transaction_id: <?=$transaction['id']?>
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'This transaction has been updated.',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>view-transaction?transaction_id=<?=$transaction['id']?>');
									});
							} else {
								alert(data);
							}
						} 
					});
				} 

				function removeProduct(product_id) {
					
					$.ajax({
						url: "<?=$company_info['nav_path']?>removeProductFromTransaction",
						type: 'post',
						dataType: 'html',
						data: {
							product_id: product_id,
							transaction_id: <?=$transaction['id']?>
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'This transaction has been updated.',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>view-transaction?transaction_id=<?=$transaction['id']?>');
									});
							} else {
								alert(data);
							}
						} 
					});
				} 

			</script>

			