
			<div class="row">
				<div class="12u">
					<h1 class="page-header">
						Order 
						<small>Update Order Info</small>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="12u">
					<div class="panel panel-default">
						<div class="panel-heading">
							Submit the following fields to update order information
							<span style="float: right;"><span id="delete" class="btn btn-default btn" onclick="javascript: confirmDelete();" style="background-color: red; color: white; margin-top: -5px; padding: 5px 25px;"><span class="fa fa-exclamation-triangle"></span> Delete Order</span></span>
						</div>
						<div class="panel-body">
							<div class="row" style="margin: 0 0 10px 5px; width: 100%; font-size: 160%;">
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Order Time: </label><br>
<?php $string1 = explode(' ', $transaction['created_date']); ?>
<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i a", strtotime($string2[0] . ':' . $string2[1])); ?>
									<span style="margin-left: 15px;"><span style="margin-right: 25px; font-weight: bold;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span>
									<hr>
								</div>
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Amount Due: </label><br>
									<span style="margin-left: 15px;">$<?=$transaction['cost']?></span>
									<hr>
								</div>
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Patient Name: </label><br>
									<span style="margin-left: 15px;"><?=$user['first_name']?> <?=$user['last_name']?></span>
									<hr>
								</div>
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Patient Phone Number: </label><br>
									<span style="margin-left: 15px;"><a href="tel:<?=$user['phone']?>"><?=$user['phone']?></a></span>
									<hr>
								</div>
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Patient Address: </label><br>
									<span style="margin-left: 15px;"><?=$user['address']?>, <?=$user['city']?>, <?=$user['zip']?></span>
									<hr>
								</div>
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Order Contents: </label><br>
<?php $count = 1;?>
<?php foreach($products as $id => $data): ?>
									<div style="margin-left: 15px; margin-top: 3px;"><?=$count?>) <?=$data['parent']['name']?> - <b><?=$data['name']?></b></div>
<?php $count++; ?>
<?php endforeach; ?>
									<hr>
								</div>
								<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
									<label>Delivery Instructions: </label><br>
<?php if ($transaction['notes'] != ''): ?>
									<span style="margin-left: 15px;"><?=$transaction['notes']?></span>
<?php else: ?>
									<span style="margin-left: 15px;">No special notes</span>
<?php endif; ?>			
									<hr>
								</div>
							</div>
							<div class="row">
<?php if($transaction['order_accepted'] > 0): ?>
								<div class="12u" style="text-align: center;">
									<div id="complete_order" class="btn btn-primary btn-lg" style="padding: 15px 50px; width: 100%; background-color: #10bcae;">
										Complete Delivery!
									</div>
								</div>
<?php else: ?>
								<div class="12u" style="text-align: center;">
									<div id="accept_order" class="btn btn-primary btn-lg" style="padding: 15px 50px; width: 100%; background-color: #10bcae;">
										Accept Delivery
									</div>
								</div>
<?php endif; ?>
							</div>
							
		
				
						</div>
					</div>
				</div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
	
					$("#accept_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>accept-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Acccepted!",   
										text: 'You have now reserved this delivery. Please contact us if any issues arise.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});

					$("#complete_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>complete-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Delivered!",   
										text: 'This order will now be marked as complete.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});

					$("#delete").click(function () {
						$('#delete_modal').modal('show');
					});

				});

				function confirmDelete() {
					swal({   
						title: "Delete Order?",   
						text: 'Are you sure you want to delete this order?',
						type: "warning",    
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Delete!",
						cancelButtonText: "Cancel", 
						closeOnConfirm: false 
						}, 
						function(){   
							$.ajax({
								url: "<?=$company_info['nav_path']?>deleteTransaction",
								type: 'post',
								dataType: 'html',
								data: {
									transaction_id: <?=$transaction['id']?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Order Deleted!",   
											text: 'You will now be taken back to the delivery page.',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											closeOnConfirm: false 
											}, 
											function(){   
												window.location.replace('<?=$company_info['nav_path']?>deliveries');
											});
									} else {
										alert(data);
									}
								} 
							});
						});
					
				} 

			</script>