		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Content</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>content">Content Main</a></li>
							<li class="breadcrumb-item active">Edit Page Content</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><i class="fa fa-pencil"></i> Submit the following fields to edit the page content - <span style="font-weight: bold;"><?=$section['name']?> : <?=$section['section_description']?></span></h2>								
					</div>
					<div class="card-block">
						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div>
									<label>Section Header Title</label>
									<input id="section_header" class="form-control" value="<?=$section['section_header']?>">
								</div>
							</div>
<?php if ($section['attachment_file_name'] != '0'): ?>
							<div class="col-lg-6 col-sm-12">
								<div>
									<label>Background Image: </label>
									<div style="position: relative; margin-top: 7px;">
										<div class="input-group">
											<input id="attachment" type="text" class="form-control" value="<?=$section['attachment_file_name']?>">
											<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
												<i class="fa fa-arrow-right"></i>
											</div>
											<span class="input-group-btn">
												<button href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
												</button>
											</span>
										</div>
									</div>
									<div style="font-weight: bold;">Background Image Preview: <img alt="" src="<?=$company_info['upload_path']?><?=$section['attachment_file_name']?>" style="width: 125px; margin-top: 25px;"></div>
								</div>
							</div>
<?php endif; ?>
<?php if ($section['page_link'] != '0'): ?>
							<div class="col-lg-6 col-sm-12">
								<div>
									<label>Link to what page?</label>
									<select id="page_link" class="form-control">
<?php foreach($pages as $id => $data): ?>
<?php if($section['name'] == $data):?>
										<option selected><?=$data?></option>
<?php else: ?>
										<option><?=$data?></option>
<?php endif; ?>
<?php endforeach; ?>
									</select>
								</div>
							</div>
<?php endif; ?>
							<div class="col-lg-12">
								<h3>Main Content</h3>
								<div class="form-group">
									<textarea id="post_text"><?=$section['section_text']?></textarea>
								</div>
								<button id="submit" class="btn btn-primary btn-lg">
									Submit
								</button>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>
			
			<script type="text/javascript">
				tinymce.init({
					selector: "#post_text",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();

				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						
						do {
							if (document.getElementById('section_header').value == '') {
								alert('You must enter a header for a new page section.');
								break;
							}

							if (tinyMCE.activeEditor.getContent() == '') {
								alert('You must enter a section content for a new page section.');
								break;
							}
							
							tinyMCE.triggerSave();
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writePage",
								type: 'post',
								dataType: 'html',
								data: 
								{
									page_id: <?=$section['id']?>, 
									section_text: tinyMCE.activeEditor.getContent(), 
<?php if ($section['attachment_file_name'] != '0'): ?>
									attachment: document.getElementById('attachment').value, 
<?php else: ?>
									attachment: 0, 
<?php endif; ?>
<?php if ($section['page_link'] != '0'): ?>
									page_link: document.getElementById('page_link').value, 
<?php else: ?>
									page_link: 0,
<?php endif; ?>
									section_header: document.getElementById('section_header').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This page's data has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>view-page?page=<?=$section['name']?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while(false);
					});
				});


			</script>