		
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">
				Vendors <small>Update information about suppliers</small>
				</h1>
			</div>
		</div>
		
		<!-- ROW  -->
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12" onclick="Javascript:window.location.href = '<?=$company_info['nav_path']?>edit-grower'">
				<div class="panel panel-primary text-center no-boder bg-color-green" style="cursor: pointer;">
					<div class="panel-body">
						<i class="fa fa-leaf fa-5x"></i>
					</div>
					<div class="panel-footer back-footer-green">
						New Vendor
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12" onclick="Javascript:window.location.href = '<?=$company_info['nav_path']?>view-grower'">
				<div class="panel panel-primary text-center no-boder bg-color-green" style="cursor: pointer;">
					<div class="panel-body">
						<i class="fa fa-leaf fa-5x"></i>
					</div>
					<div class="panel-footer back-footer-green">
						Edit Vendor
					
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		</script>
