


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Guests</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Guests</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">Recent Front Desk Check-Ins</h2>
					</div>
					<div class="card-block">
						<div class="row">
							<div class="6u 12u(s)" style="padding: 0; margin: 25px 0 0 0; text-align: center;">
								<div style="position: relative;">
									<h3 style="position: absolute; margin-left: 45%;">Quick Filter:</h3>
								</div>
							</div>
							<div class="6u 12u(s)" style="padding: 0; margin: 25px 0 0 0; text-align: center;">
								<div style="position: relative; white-space: nowrap;">
									<h3 style="position: absolute; margin-left: 45%;">Filter By Date:</h3>
								</div>
							</div>
							<div class="6u 12u(s)" style="text-align: center;">
<?php if ($filter == 1) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>';"> 48 Hours</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>';"> 48 Hours</button>
<?php endif; ?>
<?php if ($filter == 2) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=2';"> Week</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=2';"> Week</button>
<?php endif; ?>	
<?php if ($filter == 3) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=3';"> Month</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=3';"> Month</button>
<?php endif; ?>	
<?php if ($filter == 4) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=4';"> Year</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=4';"> Year</button>
<?php endif; ?>	
							</div>
							<div class="6u 12u(s)">
								<div style="position: relative;">
<?php if ($filter > 4) :?>
									<div class="input-group date" style="background-color: #4CB1CF; padding: 5px; margin-top: -5px;">
										<input id="target_date" name="target_date" type="text" style="width: 100%; text-align: center; border-radius: 4px;" value="<?=$filter?>">
										<div class="input-group-addon" style="display: none;"></div>
									</div>
<?php else: ?>		
									<div class="input-group date" style="padding: 5px; margin-top: -5px;">
										<input id="target_date" name="target_date" type="text" style="width: 100%; text-align: center; border-radius: 4px;">
										<div class="input-group-addon" style="display: none;"></div>
									</div>
<?php endif; ?>	
								</div>
							</div>
		

						</div>
						
						<div class="panel-body">
<?php if (count($guests) == 0):?>
							<div>There are currently no guests to display</div>
<?php else: ?>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table id="main_table" class="table table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Time</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Guest Of</th>							
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Time</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Guest Of</th>							
										</tr>
									</tfoot>
									<tbody>
<?php foreach ($guests as $id => $data): ?>
										<tr>
											<td><?=$data['id']?></td>
											<td><?=$data['dateIn']?></td>
											<td><?=$data['firstName']?></td>
											<td><?=$data['lastName']?></td>
											<td><?=$data['email']?></td>
											<td><?=$data['guestOf']?></td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>										
<?php endif; ?>
						</div>
					</div>
				</div>
			</div>		
		</div>

		

		<script>
			var table =  $('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 1, "desc" ]]
			});

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 200);
			});

			$('#main_table').dataTable().api();
			
			jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
				return this.flatten().reduce( function ( a, b ) {
					if ( typeof a === 'string' ) {
						a = a.replace(/[^\d.-]/g, '') * 1;
					}
					if ( typeof b === 'string' ) {
						b = b.replace(/[^\d.-]/g, '') * 1;
					}
					
					return a + b;
				}, 0 );
			} );

			$('input[name="target_date"]').daterangepicker();

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 200);
			});
			

			function search () {
				window.location.href = '/admin/guests?filter=' + document.getElementById('target_date').value;
			}

			

		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>


		