﻿

		<div class="page-wrapper" style="margin-top: -25px;">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button> -->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Alerts</h2>
							</div>
							<div class="card-block">
								<div class="row">

									<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
										<div class="card card-body btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>memberships'" style="background-color: #55CE63; padding-top: 20px; padding-left: 20px; color: white; height: 100px; cursor: pointer;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=count($loader['inactive'])?></h3>
											<address>
												Unactivated Users
											<br/>
											</address>
												
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
										<div class="card card-body btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>inventory'" style="background-color: #01C0C8; padding-top: 20px; padding-left: 20px; color: white; height: 100px; cursor: pointer;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=count($low_products)?></h3>
											<address>
												Products With < 10 Inventory Units
											<br/>
											</address>
												
										</div>
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Last 24 Hours Of Sales</h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>new-sale';"> New Sale <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-block" style="position: relative;">
<?php if (count($recent_pending_sales) > 0): ?>
								<div style="position: absolute; top: 10px; left: 25px; font-weight: bold; font-size: 125%; color: #F62D51; width: 100%; text-align: center;">
									<i class="fa fa-warning"></i> <span style="font-size: 150%;"><?=count($recent_pending_sales)?></span> 
<?php if (count($recent_pending_sales) == 1): ?>
									Pending sale in the last 24 hours. This sale is not included on this graph.
<?php else: ?>
									Pending sales in the last 24 hours. These sales are not included on this graph.
<?php endif; ?>				
									<i class="fa fa-warning"></i>
								</div>
								<br><br>
<?php endif; ?>
								<div id="bar-chart" style="width:100%; height:400px;"></div>
							</div>
						
						</div>
					</div>
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Company Info</h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>account';"> Edit Info <i class="fa fa-pencil"></i></button>
							</div>
							<div class="card-block">
								<form class="form-horizontal" role="form">
									<div class="form-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Company Name:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$company_info['name']?> </p>
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Address:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$company_info['address']?> </p>
													</div>
												</div>
											</div>
										<!--/span-->
										</div>
										<!--/row-->
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Phone:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$company_info['phone']?> </p>
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Email:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$company_info['email']?> </p>
													</div>
												</div>
											</div>
											<!--/span-->
										</div>	
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
			</div>
		</div>
	</div>
				
						
						
						<script type="text/javascript">
						var myChart = echarts.init(document.getElementById('bar-chart'));

						// specify chart configuration item and data
						option = {
						tooltip : {
						trigger: 'axis'
						},
						legend: {
						data:['Sub-Total','Paid']
						},
						toolbox: {
						show : true,
						feature : {
						
						magicType : {show: true, type: ['line', 'bar']},
						restore : {show: true},
						saveAsImage : {show: true}
						}
						},
							color: ["#55ce63", "#009efb"],
							calculable : true,
							xAxis : [{
									type : 'category',
									data : [
<?php foreach ($day_sales as $i => $data): ?>
										'<?=$data['hour']?>',
<?php endforeach; ?>
							]}],
							yAxis : [{
								type : 'value'
							}],
							series : [{
								name:'Sub-Total',
								type:'bar',
								data:[
<?php $count = 0;?>
<?php foreach ($day_sales as $i => $data): ?>
<?php if ($count < count($day_sales)): ?>
										<?=round($data['sub'], 2)?>,
<?php else: ?>
										<?=round($data['sub'], 2)?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
								],
								markPoint : {
									data : [
										{type : 'max', name: 'Max'},
										{type : 'min', name: 'Min'}
									]
								},
								markLine : {
									data : [
										{type : 'average', name: 'Average'}
									]
								}
							},
							{
								name: 'Paid',
								type:'bar',
								data:[
<?php foreach ($day_sales as $i => $data): ?>
									<?=round($data['paid'], 2)?>,
<?php endforeach; ?>
								],
// 									markPoint : {
			// 						data : [
			// 						{name : 'The highest year', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
			// 						{name : 'Year minimum', value : 2.3, xAxis: 11, yAxis: 3}
			// 						]
			// 						},
								markPoint : {
									data : [
										{type : 'max', name: 'Max'},
										{type : 'min', name: 'Min'}
									]
								},
								markLine : {
									data : [
										{type : 'average', name : 'Average'}
							]}}]};

							// use configuration item and data specified to show chart
							myChart.setOption(option, true), $(function() {
								function resize() {
									setTimeout(function() {
										myChart.resize()
									}, 100)
								}

								$(window).on("resize", resize), $(".sidebartoggler").on("click", resize)
							});
						</script>
									

		<script>
			$(document).ready(function() {

				$('input[name="target_date"]').daterangepicker();

				$( ".applyBtn" ).click(function() {
					setTimeout(function () {
						search();
					}, 200);
				});
			});

			function search () {
				window.location.href = '/admin?filter=' + document.getElementById('target_date').value;
			}
		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>
		
<!-- 
	<style>
		#admin_table_length {
			color: white;
			padding: 5px;
		}
		
		#admin_table_filter {
			color: white;
			padding: 5px;
		}
		
		#admin_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#admin_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#admin_table_paginate {
			color: white;
			padding: 10px;
		}
		
		#phone_table_length {
			color: white;
			padding: 5px;
		}
		
		#phone_table_filter {
			color: white;
			padding: 5px;
		}
		
		#phone_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#phone_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#phone_table_paginate {
			color: white;
			padding: 10px;
		}
		
		#main_table_length {
			color: white;
			padding: 5px;
		}
		
		#main_table_filter {
			color: white;
			padding: 5px;
		}
		
		#main_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#main_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#main_table_paginate {
			color: white;
			padding: 10px;
		}
		
		#driver_table_length {
			color: white;
			padding: 5px;
		}
		
		#driver_table_filter {
			color: white;
			padding: 5px;
		}
		
		#driver_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#driver_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#driver_table_paginate {
			color: white;
			padding: 10px;
		}
		
		.paginate_button {
			background-color: #b8d0f2 !important;
		}
		
		.disabled {
			background-color: #272C33 !important;
		}
		
		tr:hover {
			color: white;
		}
	</style>

 -->
		


