
		
		
		
		
		
		
		<link rel="stylesheet" href="../../../css/grid.css" />
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">
<?php if($loader['admin_user']['user_type_id'] == 3): ?>
					Delivery 
<?php endif; ?>
<?php if($loader['admin_user']['user_type_id'] == 4): ?>
					Phone Operator 
<?php endif; ?>
					Dashboard
					<button style="float: right; font-size: 60%;" onclick="javascript: window.location.href='/admin/new-sale'">New Sale +</button>
				</h1>
			</div>
		</div>
<?php if($loader['admin_user']['user_type_id'] == 1): ?>
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="panel panel-primary text-center no-boder bg-color-brown">
					<div class="panel-body">
						<i class="fa fa-users fa-5x"></i>
						<h3><?=$visits?></h3>
					</div>
					<div class="panel-footer back-footer-brown">
						No. of Visits
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="panel panel-primary text-center no-boder bg-color-blue">
					<div class="panel-body">
						<i class="fa fa-shopping-cart fa-5x"></i>
						<h3><?=$sale_count?></h3>
					</div>
					<div class="panel-footer back-footer-blue">
						Sales
					</div>
				</div>
			</div>
		</div>

		
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Company Info <button style="float: right;" onclick="javascript:window.location.href = '/admin/account';">Edit</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<div class="row" style="padding-top: 40px;">
							<div class="6u 12u(s)">
								Company Name: <span style="font-weight: bold; margin-left: 25px;"><?=$company_info['name']?></span>
							</div>
							<div class="6u 12u(s)">
								Company Address: <span style="font-weight: bold; margin-left: 25px;"><?=$company_info['address']?></span>
							</div>
							<div class="6u 12u(s)">
								Company Phone: <span style="font-weight: bold; margin-left: 25px;"><?=$company_info['phone']?></span>
							</div>
							<div class="6u 12u(s)">
								Company Email: <span style="font-weight: bold; margin-left: 25px;"><?=$company_info['email']?></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="customers" style="margin-left: 20px; margin-bottom: 15px;">
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#customers'">Go To Customers</button> 
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#drivers'">Go To Drivers</button> 
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#phone'">Go To Phone Operators</button> 
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#admins'">Go To Admins</button>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Customers <span style="color: red;">- Red users need to be activated!</span>
					
					<button style="float: right;" onclick="javascript:window.location.href = '/admin/edit-user?user_type_id=2';">Add Patient +</button>
					<button style="float: right; margin-right: 50px;" onclick="javascript: window.open('/admin/customerDownloadAction', '_blank');">Download CSV</button>
				</div> 
				<div class="panel-body">
					<div class="row" style="height: 100px; padding: 5px;">
						<div class="3u">
<?php if ($search != ''): ?>
							<div style="background-color: #4CB1CF; padding: 7px;">Search # or Name: <input id="search" value="<?=$search?>"></div>
<?php else: ?>
							<div style="margin-bottom: 20px;">Search # or Name: <input id="search" value="<?=$search?>"></div>
<?php endif; ?>						
						</div>
						<div class="2u">
<?php if ($member == true): ?>
							<div><input id="is_member" type="checkbox" name="is_member" checked> <label for="is_member">Member?</label></div>
<?php else: ?>
							<div><input id="is_member" type="checkbox" name="is_member"> <label for="is_member">Member?</label></div>
<?php endif; ?>			
						</div>
						
						<div class="3u">
							<div><button onclick="javascript: search();">SEARCH USERS</button></div>
						</div>
					</div>
<?php if (count($users) == 0): ?>
					<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
						There are no users that match your search. Please select a different search term.
					</div>
<?php else: ?>
					<div class="table-responsive">
						<table id="main_table" class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th style="width: 50px;">Member</th>
									<th>Address</th>
									<th>eMail</th>
									<th>Phone #</th>
									<th style="width: 50px;">Referred?</th>
									<th style="width: 50px;">Discover</th>
									<th style="width: 50px;">Refer Code</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th style="width: 50px;">Member</th>
									<th>Address</th>
									<th>eMail</th>
									<th>Phone #</th>
									<th style="width: 50px;">Referred?</th>
									<th style="width: 50px;">Discover</th>
									<th style="width: 50px;">Refer Code</th>
								</tr>
							</tfoot>
							<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['id'] > 1 && $data['user_type_id'] == 2): ?>
<?php if ($data['active'] == 1): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
<?php else: ?>
								<tr style="cursor: pointer; color: red;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
<?php endif; ?>
									<td><?=$data['id']?></td>
									<td><?=$data['first_name']?> <?=$data['last_name']?></td>
<?php if ($data['membership'] == 1): ?>
									<td><div style="height: 25px; width: 50px; background-color: green;"></div></td>
<?php elseif ($data['membership'] == 2):?>
									<td><div style="height: 25px; width: 50px; background-color: yellow;"></div></td>
<?php elseif ($data['membership'] == 3): ?>
									<td><div style="height: 25px; width: 50px; background-color: black;"></div></td>
<?php else: ?>
									<td>&nbsp;</td>
<?php endif; ?>					
									<td><?=$data['address']?>, <?=$data['city']?>, <?=$data['zip']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
<?php if ($data['referral_name'] != ''): ?>
									<td><i class="fa fa-check"></i></td>
<?php else: ?>
									<td></td>
<?php endif; ?>			
									<td><?=$data['discover']?></td>
									<td><?=$data['referral_code']?></td>
								</tr>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>
						
					</div>
<?php endif; ?>
				</div>
			</div>
		</div>
		
		<script>
			$('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 0, "desc" ]]
			});

		</script>
		
		
		<div id="drivers" style="margin-left: 20px; margin-bottom: 15px;">
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#customers'">Go To Customers</button> 
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#drivers'">Go To Drivers</button> 
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#phone'">Go To Phone Operators</button> 
			<button style="margin-right: 15px;" onclick="javascript: window.location.href='#admins'">Go To Admins</button>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Drivers <button style="float: right;" onclick="javascript:window.location.href = '/admin/edit-user?user_type_id=3';">Add Driver +</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($drivers as $id => $data): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
									<td><?=$data['id']?></td>
									<td><?=$data['login']?></td>
									<td><?=$data['first_name']?></td>
									<td><?=$data['last_name']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div id="phone" style="margin-left: 20px; margin-bottom: 15px;">
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#customers'">Go To Customers</button> 
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#drivers'">Go To Drivers</button> 
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#phone'">Go To Phone Operators</button> 
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#admins'">Go To Admins</button>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Phone Operators <button style="float: right;" onclick="javascript:window.location.href = '/admin/edit-user?user_type_id=4';">Add Operator +</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($operators as $id => $data): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
									<td><?=$data['id']?></td>
									<td><?=$data['login']?></td>
									<td><?=$data['first_name']?></td>
									<td><?=$data['last_name']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div id="admins" style="margin-left: 20px; margin-bottom: 15px;">
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#customers'">Go To Customers</button> 
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#drivers'">Go To Drivers</button> 
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#phone'">Go To Phone Operators</button> 
    		<button style="margin-right: 15px;" onclick="javascript: window.location.href='#admins'">Go To Admins</button>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Admins <button style="float: right;" onclick="javascript:window.location.href = '/admin/create-admin';">Add Admin +</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($admins as $id => $data): ?>
<?php if ($data['id'] > 1): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
									<td><?=$data['id']?></td>
									<td><?=$data['login']?></td>
									<td><?=$data['first_name']?></td>
									<td><?=$data['last_name']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		
<?php else: ?>
		<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 25px;">
			<div class="panel panel-default">
				<div class="panel-heading">
					Your Info <button style="float: right;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$loader['admin_user']['id']?>';">Edit</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<div class="row" style="padding-top: 40px;">
							<div class="6u 12u(s)">
								Name: <span style="font-weight: bold; margin-left: 25px;"><?=$loader['admin_user']['first_name']?> <?=$loader['admin_user']['last_name']?></span>
							</div>
							<div class="6u 12u(s)">
								Phone #: <span style="font-weight: bold; margin-left: 25px;"><?=$loader['admin_user']['phone']?></span>
							</div>
							<div class="6u 12u(s)">
								Email: <span style="font-weight: bold; margin-left: 25px;"><?=$loader['admin_user']['email']?></span>
							</div>
<?php if($loader['admin_user']['user_type_id'] == 3): ?>
							<div class="6u 12u(s)">
								Deliveries Made: <span style="font-weight: bold; margin-left: 25px;"><?=$driver_count?></span>
							</div>
<?php endif; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Customers <span style="color: red;">- Red users need to be activated!</span><button style="float: right;" onclick="javascript:window.location.href = '/admin/edit-user?user_type_id=2';">Add Patient +</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Address</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['id'] > 1 && $data['user_type_id'] == 2): ?>
<?php if ($data['active'] == 1): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
<?php else: ?>
								<tr style="cursor: pointer; color: red;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
<?php endif; ?>
									<td><?=$data['id']?></td>
									<td><?=$data['first_name']?> <?=$data['last_name']?></td>
									<td><?=$data['address']?>, <?=$data['city']?>, <?=$data['zip']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Drivers <button style="float: right;" onclick="javascript:window.location.href = '/admin/edit-user?user_type_id=3';">Add Driver +</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['id'] > 1 && $data['user_type_id'] == 3): ?>
									<td><?=$data['id']?></td>
									<td><?=$data['login']?></td>
									<td><?=$data['first_name']?></td>
									<td><?=$data['last_name']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Phone Operators <button style="float: right;" onclick="javascript:window.location.href = ('/admin/edit-user?user_type_id=4';">Add Operator +</button>
				</div> 
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['id'] > 1 && $data['user_type_id'] == 4): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '/admin/edit-user?user_id=<?=$data['id']?>';">
									<td><?=$data['id']?></td>
									<td><?=$data['login']?></td>
									<td><?=$data['first_name']?></td>
									<td><?=$data['last_name']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<?php endif; ?>

		<script type="text/javascript">
			$( document ).ready(function () {
<?php if($error == 1): ?>
				swal("Hmmm...", "There was something wrong with the URL you entered. Check and try again.", "error");
<?php endif; ?>
			});

			function search() {
				if (document.getElementById('is_member').checked == true) {
					window.location.href = "/admin?search=" + document.getElementById('search').value + "&member=true";
				} else {
					window.location.href = "/admin?search=" + document.getElementById('search').value;
				}
				
			}
		</script>