<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../../admin/bb_logo.ico">
    <title>Admin Login</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../../admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../admin/css/style.css?ts=<?=time()?>&quot;" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../../../admin/css/colors/megna-dark.css" id="theme" rel="stylesheet">
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.js"></script> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
    <section id="wrapper" style="height: 100vh;">
        <div class="login-register" style="background-image:url('../../../admin/images/login_bg.gif');">        
            <div class="login-box card gradient" style="padding: 5px; border: 2px solid #009EFB;">
            <div class="card-block" style="background-color: #272C33;">
            		<img alt="" src="<?=$company_info['upload_path']?>logo2.svg" style="width: 100%;">
                    <h3 class="box-title m-b-20" style="text-align: center;">Admin Log In</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input id="username" class="form-control" type="text" required placeholder="Username"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input id="password" class="form-control" type="password" required placeholder="Password"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
<!--                                 <input id="remember" type="checkbox"> -->
<!--                                 <label for="remember"> Remember Me </label> -->
                            </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: submitPage();">Log In</button>
                        </div>
                    </div>
                    
                <form class="form-horizontal" id="recoverform" action="index.html">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Recover Password</h3>
                            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required placeholder="Email"> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../../admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../../admin/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../../../admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../../admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../../admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../../admin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../../../admin/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../../../admin/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="../../../admin/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

	<script type="text/javascript">
		var pressed = false;
		
		$(document).keypress(function(event){
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if(keycode == '13'){
				if (pressed == false) {
					submitPage();
				}

				pressed = true;
			}
		});

		function submitPage()
		{
			do {
				if (document.getElementById('username') == '') {
					alert('error - username');
					break;
				}

				if (document.getElementById('password') == '') {
					alert('error - password');
					break;
				}

				$.ajax({
					url: "<?=$company_info['nav_path']?>loginAction",
					type: 'post',
					dataType: 'html',
					data: {
						login: document.getElementById('username').value,
						password: document.getElementById('password').value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
<?php if ($_SESSION['client_id'] > 1): ?>
							window.location.replace('/_<?=$client['db_name']?>/admin');
<?php else: ?>
							window.location.replace('/admin');
<?php endif; ?>
						} else {
							swal('Something has gone wrong');
							console.log(data);
							pressed = false;
						}
					} 
				});

			} while (false);
			
		}

		var colors = new Array(
				  [62,35,255],
				  [60,255,60],
				  [255,35,98],
				  [45,175,230],
				  [255,0,255],
				  [255,128,0]);

				var step = 0;
				//color table indices for: 
				// current color left
				// next color left
				// current color right
				// next color right
				var colorIndices = [0,1,2,3];

				//transition speed
				var gradientSpeed = 0.002;

				function updateGradient()
				{
				  
				  if ( $===undefined ) return;
				  
				var c0_0 = colors[colorIndices[0]];
				var c0_1 = colors[colorIndices[1]];
				var c1_0 = colors[colorIndices[2]];
				var c1_1 = colors[colorIndices[3]];

				var istep = 1 - step;
				var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
				var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
				var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
				var color1 = "rgb("+r1+","+g1+","+b1+")";

				var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
				var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
				var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
				var color2 = "rgb("+r2+","+g2+","+b2+")";

				 $('.gradient').css({
				   background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
				    background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});
				  
				  step += gradientSpeed;
				  if ( step >= 1 )
				  {
				    step %= 1;
				    colorIndices[0] = colorIndices[1];
				    colorIndices[2] = colorIndices[3];
				    
				    //pick two new target color indices
				    //do not pick the same as the current one
				    colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
				    colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
				    
				  }
				}

				setInterval(updateGradient,5);	
	</script>
</html>