		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Metadata</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Metadata Main</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">Edit Metadata <i class="fa fa-pencil"></i></h2>								
					</div>
					<div class="card-block">
						
							<div class="row" style="padding: 0 25px;">
								<div id="snap_point" class="col-lg-4 col-sm-12">
									<label>Main Title</label>
									<div class="input-group">
										<input id="title" class="form-control" value="<?=$meta['title']?>">
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Primary Site Image: </label>
										<div style="position: relative;">
											<div class="input-group">
												<input id="image" type="text" class="form-control" style="background-color: transparent;" value="<?=$meta['image']?>">
												<div style="position: absolute; right: 75px; margin-top: 8px;">
													<i class="fa fa-arrow-right"></i>
												</div>
												<span class="input-group-btn">
													<button href="../../../filemanager/dialog.php?type=0&field_id=image&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-sm-12">
									<label>Description</label>
									<div class="input-group">
										<textarea id="description" class="form-control" rows="3"><?=$meta['description']?></textarea>
									</div>
								</div>
								<div class="col-lg-6 col-sm-12">
									<label>Keywords (seperate by comas)</label>
									<div class="input-group">
										<textarea id="keywords" class="form-control" rows="3"><?=$meta['keywords']?></textarea>
									</div>
								</div>
								
								
								
								<div class="col-lg-12 col-sm-12">
									<div>
										<div class="form-group">
											<label>Google Analytics Code</label>
											<textarea id="google" class="form-control" rows="10" style="margin-top: -8px;"><?=$meta['google_analytics']?></textarea>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-sm-12">
									<div>
										<div class="form-group">
											<label>Facebook Graph Code</label>
											<textarea id="facebook" class="form-control" rows="10" style="margin-top: -8px;"><?=$meta['facebook_graph']?></textarea>
										</div>
									</div>
								</div>
											
							</div>
							
							<div class="row" style="padding: 0 25px;">
								<div class="col-lg-12">
									<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
										Submit
									</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					$('.iframe-btn').fancybox({	
						'type'		: 'iframe',
						'width'		: 900,
						'height'	: 650,
						'autoSize'	: false,
						'autoDimensions': false
					});
	
					$(".fancybox").fancybox();

					$("#submit").click(function () {
						do {	
						
							$.ajax({
								url: "<?=$company_info['nav_path']?>write-meta-action",
								type: 'post',
								dataType: 'html',
								data: {
									title: document.getElementById('title').value,
									image: document.getElementById('image').value,
									description: document.getElementById('description').value,
									keywords: document.getElementById('keywords').value,
									google: document.getElementById('google').value,
									facebook: document.getElementById('facebook').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({
											title: 'Mission Accomplished!',
											text: "The sites's metadata has been updated.",
											type: 'success',
											showCancelButton: false,
											confirmButtonColor: '#3085d6',
											confirmButtonText: 'OK!',
											confirmButtonClass: 'btn btn-success',
										}).then(function () {

										});
										
	
									} else {
										console.log(data);
									}
								} 
							});
						} while (false);
					});
		
					
				});
		
			</script>
