		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>sales">Sales Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">New Sale</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Submit the following fields to create a new sale</span></h2>
								<button class="btn btn-info" data-toggle="modal" data-target="#add-new-event" style="float: right; background-color: #7460EE;">Add New User <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body row" style="padding: 0 10px 10px 10px;">
								<div id="main_box"></div>
				
									
							
							
								<div class="col-lg-12" id="user_select">

										<label style="font-size: 150%;">Selected User: <span id="user" style="font-weight: bold;"><span style="color: #F62D51;">NONE YET, SELECT BELOW</span></span></label>
										<input type="hidden" id="user_id">
										<hr>

										<table id="user_table" class="table table-hover">
											<thead>
												<tr>
													<th style="width: 75px;">ID</th>
<?php if ($company_info['wholesale'] == 1): ?>
													<th style="width: 400px;">Client Name</th>
<?php else: ?>
													<th style="width: 200px;">First Name</th>
													<th>Last Name</th>
<?php endif; ?>
													
													<th>Phone #</th>
													<th>Email</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>ID</th>
<?php if ($company_info['wholesale'] == 1): ?>
													<th>Client Name</th>
<?php else: ?>
													<th>First Name</th>
													<th>Last Name</th>
<?php endif; ?>	
													<th>Phone #</th>
													<th>Email</th>						
												</tr>
											</tfoot>
											<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['deleted'] == 0 && $id > 2 && $data['user_type_id'] == 2): ?>
												<tr style="cursor: pointer;" onclick="javascript: selectUser(<?=$id?>);">
													<td><?=$id?></td>
<?php if ($company_info['wholesale'] == 1): ?>
													<td class="header"><?=trim(ucfirst($data['first_name']))?></td>
<?php else: ?>
													<td class="header"><?=trim(ucfirst($data['first_name']))?></td>
													<td><?=trim(ucfirst($data['last_name']))?></td>
<?php endif; ?>
													
													<td><?=trim($data['phone'])?></td>
													<td><?=trim($data['email'])?></td>
												</tr>
<?php endif; ?>
<?php endforeach; ?>
											</tbody>
										</table>

									</div>
									
									
									
									
							
							
							
							
<?php foreach ($carts as $user_id => $data): ?>

									<script>
										var cart_total<?=$user_id?> = <?=$data['total_adj']?>;
									</script>

									<div id="cart_row<?=$user_id?>" class="col-lg-12" style="padding-top: 0; margin-top: 0; display: none;">
										<div style="border: 4px solid #21A2F2; padding: 10px;">
											<div id="cart_row_inner<?=$user_id?>" class="row">
												<div class="col-lg-12 col-sm-12">
													<div>
														<!-- First Column - products -->
														<label>
															<span style="border-bottom: 1px solid black; font-weight: bold;"><?=ucfirst($users[$user_id]['first_name'])?> <?=ucfirst($users[$user_id]['last_name'])?>'s Cart 
<?php if($users[$user_id]['membership'] > 0): ?>
																(Balance: $<span id="user_balance<?=$user_id?>"><?=$users[$user_id]['balance']?></span>)
<?php else: ?>
																(Non-Member)
<?php endif; ?>		
															</span>
															- ID: <?=$user_id?>
														</label>
														<div>
															<table id="user_product_table<?=$user_id?>" class="table table-hover">
																<thead>
																	<tr>
																		<th>Product</th>
																		<th style="width: 220px;">Inventory Source</th>
																		<th style="width: 120px;">Quantity</th>
																		<th style="width: 50px;">Units</th>
																		<th style="width: 50px;">Price</th>
																		<th style="width: 60px;"><i class="fa fa-star"></i> Holder Before</th>
																		<th style="width: 100px;"><i class="fa fa-star"></i> Holder After</th>

																		<th style="width: 50px;">Remove?</th>
																	</tr>
																</thead>
																<tbody id="cart_wrap<?=$user_id?>">
<?php foreach ($data['cart_records'] as $cart_id => $cart_data): ?>



<script>
	var cart<?=$cart_id?> = <?=$cart_data['quantity']?>;
</script>

<?php if ($products[$cart_data['product_id']]['inventory_holder_id'] > 0): ?>
<?php $holder_user_id = $products[$cart_data['product_id']]['inventory_holder_id']; ?>
<?php else: ?>
<?php $holder_user_id = $company_info['primary_inventory_user_id']; ?>
<?php endif; ?>


																	<tr id="user_cart_row<?=$cart_id?>">
																		<td style="position: relative;"><span style="font-weight: bold;"><?=$products[$cart_data['product_id']]['name']?></span> - <?=$product_sizes[$cart_data['product_size_id']]['name']?> ($<?=$product_sizes[$cart_data['product_size_id']]['price']?>) <span style="font-size: 60%; position: absolute; top: 0; left: 0;"><?=$cart_data['product_id']?></span></td>
																		
																		<td style="padding: 5px;">
																			<select id="holder_user_id<?=$cart_id?>" class="form-control" style="width: 100%;" onchange="javascript: changeHolder(<?=$user_id?>, <?=$cart_id?>, this.value, <?=$cart_data['product_id']?>, <?=$cart_data['product_size_id']?>);">
<?php foreach($holders as $id => $user_record): ?>
<?php if ($holder_user_id == $id): ?>
																				<option value="<?=$id?>" selected><?=$user_record['first_name']?> <?=$user_record['last_name']?> <i class="fa fa-star"></i></option>
<?php else: ?>
																				<option value="<?=$id?>"><?=$user_record['first_name']?> <?=$user_record['last_name']?></option>
<?php endif; ?>
<?php endforeach; ?>
																			</select>
																		</td>
																		
																		<td style="padding: 5px;">
																			<div class="form-group" style="margin: 0;">
																				<div>

																					<input class="form-control" type="number" min="1" value="1" style="margin: 0;" oninput="javascript: updateCartItemQuantity(<?=$cart_id?>, this.value, <?=$cart_data['units_adj']?>, <?=$cart_data['unit_cost']?>, <?=$user_inventory[$holder_user_id][$cart_data['product_id']]['quantity']?>, <?=$user_id?>, <?=$cart_data['product_id']?>);" id="cart_item_quantity<?=$cart_id?>">
																				</div>
																			</div>
																		</td>
																		
																		<td id="cart_item_units<?=$cart_id?>">
<?php if ($products[$cart_data['product_id']]['combo'] == 1): ?>
																			<span style="font-weight: bold;">COM</span>
<?php else: ?>
																			<?=$product_sizes[$cart_data['product_size_id']]['units'] * $cart_data['quantity']?>
<?php endif; ?>
																		</td>
																		
																		<td>$<span id="cart_item_cost<?=$cart_id?>"><?=$cart_data['cost']?></span></td>
												
																		<td id="holder_before<?=$cart_id?>">
																			<?=$user_inventory[$holder_user_id][$cart_data['product_id']]['quantity']?>
																		</td>
																		
																		<td id="cart_item_holder<?=$cart_id?>" style="font-weight: bold; color: #F62D51;">

<?php if ($user_inventory[$holder_user_id][$cart_data['product_id']]['quantity'] >= ($product_sizes[$cart_data['product_size_id']]['units'] * $cart_data['quantity'])): ?>
																			<?=$user_inventory[$holder_user_id][$cart_data['product_id']]['quantity'] - ($product_sizes[$cart_data['product_size_id']]['units'] * $cart_data['quantity'])?>
<?php else: ?>
																			0
<?php endif; ?>

																		</td>

																	
																		<td style="padding: 5px;">
																			<div class="btn btn-info" style="margin-left: 5px; color: white; background-color: #F62D51; width: 100%;" onclick="javascript:removeTempProduct(<?=$cart_id?>, <?=$user_id?>)"><i class="fa fa-remove"></i></div>
																		</td>
																	</tr>

<?php endforeach; ?>
																</tbody>
															</table>
															<a href="#new_product_table" class="btn btn-info" style="width: 100%; font-weight: bold;">Add Another Item To Cart <i class="fa fa-plus"></i></a>
														</div>
													</div>
												</div>

												<div class="col-lg-6 col-sm-12">
													<table class="table table-hover">
														<thead>
															<tr>
																<th></th>
																<th style="width: 50%;"></th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<div>
																		<label>Current or pending sale?</label>
																		<div class="input-group">
																			<span id="switch1<?=$user_id?>" class="combo_switch" style="background-color: #7460EE; border-radius: 2px; color: white;" onclick="javascript: comboSwitch(1, <?=$user_id?>);">Current Or Scheduled Sale</span>
																			
																		</div>
																	</div>
																</td>
																<td>
																	<div>
																		<label>&nbsp;</label>
																		<div class="input-group">
																			<span id="switch2<?=$user_id?>" class="combo_switch" style="background-color: #d1d1d1; border-radius: 2px; color: grey; cursor: pointer;" onclick="javascript: comboSwitch(2, <?=$user_id?>);">Mark As Pending Sale</span>					
																			<input id="combo_switch<?=$user_id?>" type="hidden" value="0">
																		</div>
																	</div>
																</td>
															</tr>
															<tr id="schedule_row<?=$user_id?>">
																
																<td>
																	<div class="form-group" style="padding: 0; margin: 0;">
																		<label style="padding-left: 10px;">Set Altered Created Date?<br><span style="font-size: 80%; color: #F62D51; font-weight: bold;">Only modify if sale is NOT current</span></label>
																		<div class="input-group">
																			<input type="text" class="form-control mydatepicker" id="new_created_date<?=$user_id?>" readonly style="color: black; background-color: white;" onchange="javascript: showTime(<?=$user_id?>);" placeholder="Right now - Click to change">
																			<span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
																		</div>
																
																	</div>
																</td>
																<td>
																	<div class="form-group" style="padding: 0; margin: 0;">
														
				
																		<div id="alte#F62D51_time_row<?=$user_id?>" style="display: none; margin-top: -20px;">
																			<label class="m-t-20" style="font-weight: bold; color: #F62D51; padding-left: 10px;"><br>Set Altered Created Time</label>
																			<div class="input-group clockpicker">
																				<input id="new_created_time<?=$user_id?>" type="text" class="form-control" value="<?=$current_time?>"> <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
																			</div>
																		</div>
																	</div>
																</td>
																
															</tr>
															<tr>
																<td>
																	<div class="form-group row" style="margin-bottom: 0;">
																		<label class="col-12 col-form-label" style="white-space: nowrap; font-weight: bold;">
																			Sub-Total: 
																			<button id="cancel_update<?=$user_id?>" class="btn btn-info" style="display: none; background-color: #F62D51; color: white; float: right; margin-top: -3px;" onclick="javascript: cancelUpdateTotal(<?=$user_id?>);"><i class="fa fa-close"></i> Revert</button>
																		</label>
																	</div>
																	
																	<!-- 								                                    
																	<div>
																		<div style="font-size: 85%; color: #F62D51; line-height: 22px;">Original Price: $0</div>
																		<div style="font-size: 85%; color: #F62D51; line-height: 22px;">Difference: $0 (0% Off)</div>
																	</div> 
																	-->
																	
																</td>
																<td>
																
																	<div class="form-group row" style="margin-bottom: 0;">
																		<div class="col-12 input-group" style="padding-top: 10px;">
																			<span class="input-group-addon">$</span>
																			<input class="form-control" type="number" value="<?=$data['total']?>" id="order_total<?=$user_id?>" oninput="javascript: showUpdateButton(<?=$user_id?>, <?=$data['total']?>);">
																		</div>
																	</div>
																
				
																	
																</td>
															</tr>
<?php if($users[$user_id]['membership'] > 0 && $users[$user_id]['membership_paid'] == 0): ?>	
															<tr id="membership_due_row<?=$user_id?>">
																<td>
																	<span class="member_fee<?=$user_id?>" style="color: #F62D51; font-weight: bold;">
																		Membership Due: 
																		<span class="amount">$ <span id="member_due<?=$user_id?>" style="width: 60px; height: 32px;"><?=$memberships[$users[$user_id]['membership']]['cost']?></span></span>
																	</span>
																</td>
																<td>
																	<span class="btn btn-info" style="font-size: 70%;" onclick="javascript: payMembership(<?=$user_id?>);">
																		Mark Membership Paid
																	</span>
																</td>
															</tr>
<?php endif; ?>	
	
															<tr>
																<td>
																	<div>Sale Made By?</div>
																</td>
																<td style="padding: 5px;">
																	<select id="sale_by<?=$user_id?>" class="form-control" style="width: 100%;">
<?php foreach($sales_people as $id => $user_record): ?>
																		<option value="<?=$id?>"><?=$user_record['first_name']?> <?=$user_record['last_name']?></option>
<?php endforeach; ?>
																	</select>
																</td>
															
															</tr>
															<tr>
																<td>
																	<div>Cash or Card?</div>
																</td>
																<td>
																	<select id="cashcard<?=$user_id?>" class="form-control" style="width: 100%;">

																	<option value="cash">Cash</option>
																	<option value="card">Card</option>
																	
																</select>
															</td>
														</tr>
														
													</tbody>
												</table>
												
											</div>
											<div class="col-lg-6 col-sm-12" style="margin-top: 7px;">
												<hr>
												<div style="text-align: center;">
													<h4 style="margin: 0; margin-bottom: 5px;">Order Notes</h4>
													<textarea id="notes<?=$user_id?>" rows="3" cols="" style="width: 100%; border-radius: 4px;"></textarea>
												</div>
												<div style="text-align: center;">
												<div class="total_due<?=$user_id?>" style="font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
													<span style="border: 2px solid black; padding: 10px; font-size: 120%;">
														Total Due:
														<span class="amount">$ <span id="cash_due<?=$user_id?>" style="width: 60px; height: 32px;"><?=$data['total_adj']?></span></span>
													</span>
												</div>
												
<?php if ($data['membership_due'] > 0): ?>
													<span style="color: #F62D51; font-size: 85%;"><i id="member_flag" class="fa fa-exclamation-triangle"></i> Includes Member Fees Of $<?=$data['membership_due']?></span>
<?php endif; ?>
													<div style="white-space: nowrap; font-weight: bold;">Membership Balance After Sale: $<span id="new_balance<?=$user_id?>"><?=$data['new_balance']?></span></div>
													
													<div style="font-size: 125%; margin-top: 20px;">

														<button id="order_button<?=$user_id?>" class="btn btn-info" style="width: 100%; height: 60px;" class="card" onclick="javascript: placeOrder(<?=$user_id?>, <?=$cart_data['cost']?>, <?=$cart_data['cost']?>, 0);">PLACE ORDER</button>

														<button id="order_button_alt<?=$user_id?>" class="btn btn-info" style="width: 100%; height: 60px; display: none;"><i class="fa fa-spinner fa-spin"></i></button>
													
													</div>
												</div>
											</div>
										</div>
									</div>
									<hr>
								</div>
								
<?php endforeach; ?>

								<div id="outter_row" class="col-lg-12" style="margin: 0; padding-top: 0; text-align: center;display: none;">

									<div id="new_product_table" style="position: absolute; margin-top: -100px;">&nbsp;</div>
									<label style="font-size: 150%; text-align: center;">
										<span id="product" style="font-weight: bold;">
											<span style="color: #F62D51;">
												SELECT BELOW PRODUCT SIZE BELOW TO ADD TO CART<i class="fa fa-arrow-down"></i>
											</span>
										</span>
									</label>

								</div>
								
								<div id="product_row" class="col-lg-12" style="display: none;">									

									<table id="product_table" class="table table-hover">
										<thead>
											<tr>
												<th style="width: 75px;">ID</th>
												<th>Name</th>
												<th style="width: 50px;">Combo?</th>
												<th style="width: 180px;">Vendor</th>
												<th style="width: 180px;">Product Type</th>
												<th style="border-bottom: 4px solid #F62D51;">Sizes - <span style="color: #F62D51;">SELECT HERE</span></th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>ID</th>
												<th>Name</th>	
												<th>Combo>?</th>
												<th>Vendor</th>
												<th>Product Type</th>
												<th style="border-top: 4px solid #F62D51;">Sizes</th>							
											</tr>
										</tfoot>
										<tbody>
<?php foreach($products as $id => $data): ?>
											<tr>
												<td><?=$id?></td>
												<td><a href="<?=$company_info['nav_path']?>edit-product?product_id=<?=$id?>" class="btn btn-info" target="_blank" style="background-color: #7460EE;"><?=$data['name']?> <i class="fa fa-link"></i></a></td>
												<td>
<?php if ($data['combo'] == 1): ?>
													<div style="width: 100%; text-align: center; height: 30px; line-height: 30px;"><i class="fa fa-check"></i></div>
<?php endif; ?>
												</td>
												<td style="font-weight: bold;">
<?php if ($data['combo'] == 1): ?>
													<span style="color: #FEAB12;">- Combo -</span>
<?php else: ?>
													<?=$vendors[$data['vendor_id']]['name']?>
<?php endif; ?>			
												</td>
												<td class="header"><?=$product_types[$data['product_type_id']]['name']?></td>
												<td class="pwn" style="">
<?php foreach($data['sizes'] as $product_size_id => $data2): ?>
													<input id="size<?=$product_size_id?>_quantity" class="form-control" type="number" min="1" value="1" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom: 3px solid #009EFB; margin: 0; margin-right: -5px; width: 25px; min-height: 32px; padding: 0 10px;">
													<span id="size<?=$product_size_id?>" class="btn btn-info" onclick="javasacript: addToCart(<?=$product_size_id?>, <?=$id?>);" style="border-bottom-left-radius: 0; border-top-left-radius: 0; border-bottom: 4px solid #009EFB;position: relative;">
														<span style="position: absolute; left: 0; margin-left: -5px; color: #494949; font-weight: bold;">x</span>
														<?=$data2['name']?> ($<?=$data2['price']?>)
													</span>
<?php endforeach; ?>
													
												</td>
											</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<style>
			.pwn input::-webkit-outer-spin-button,
			.pwn input::-webkit-inner-spin-button {
			    /* display: none; <- Crashes Chrome on hover */
			    -webkit-appearance: none;
			    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}
		</style>
		
		<div class="modal fade none-border" id="add-new-event">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><strong>Create</strong> a new customer</h4>
					</div>
					<div class="modal-body">
						<form role="form" id="new_user_form">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<label class="control-label">First Name</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="First Name" type="text" name="first_name" id="first_name" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Last Name</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Last Name" type="text" name="last_name" id="last_name" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Address</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Street Address" type="text" name="address" id="address" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">City</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="City" type="text" name="city" id="city" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">ZIP Code</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="ZIP Code" type="text" name="zip" id="zip" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Phone</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Phone #" type="text" name="phone" id="phone" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Email</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Email Address" type="text" name="email_q" id="email_q" />
									</div>
								</div>
<!-- 								<div class="col-md-12"> -->
<!-- 									<label class="control-label">ID Image</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input type="file" class="form-control" id="id_file" aria-describedby="fileHelp"> -->
<!-- 									</div> -->
<!-- 								</div> -->
								
<!-- 								<div class="col-md-12"> -->
<!-- 									<label class="control-label">Rec Image</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input type="file" class="form-control" id="rec_file" aria-describedby="fileHelp"> -->
<!-- 									</div> -->
<!-- 								</div> -->
					
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="create_new_user" type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
						<button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<style>
			.datepicker-dropdown {
				z-index: 11111 !important;
			}
		</style>
		
		<script>

		$("#create_new_user").click(function () {
			var pass = true;
			
			if (document.getElementById('first_name').value == '') {
				alert('You must enter a first name for a user.');
				pass = false;
			}

			if (pass == true) {						
				$.ajax({
					url: "/admin/writeUser",
					type: 'post',
					dataType: 'html',
					data: {

						id: 0,
						login: '',

						first_name: document.getElementById('first_name').value,
						last_name: document.getElementById('last_name').value,
						email: document.getElementById('email_q').value, 
						phone: document.getElementById('phone').value,
						address: document.getElementById('address').value,
						city: document.getElementById('city').value,
						zip: document.getElementById('zip').value,
						referral_id: '',
						referral_name: '',
						membership_level: 0,
						balance: 0,
						id_file: '',
						rec_file: '',
						user_type_id: 2,
						source: 'quick'
					},
					async: false,
					success: function(data) {
						if (data > 0) {
							swal({
								title: 'Mission Accomplished!',
								text: "This user has been created",
								type: 'success',
								showCancelButton: false,
								confirmButtonColor: '#3085d6',
								confirmButtonText: 'OK!'
							}).then(function () {
								window.location.href = '/admin/new-sale?user_id=' + data;
							});
							
						} else {
							alert(data);
							console.log(data);
						}
					} 
				});
			}
		});

			var carts = <?php echo json_encode($carts); ?>;
			var products = <?php echo json_encode($products); ?>;
			var holders = <?php echo json_encode($holders); ?>;
			var memberships = <?php echo json_encode($memberships); ?>;
			var product_sizes = <?php echo json_encode($product_sizes); ?>;
			var users = <?php echo json_encode($users); ?>;
			var user_inventory = <?php echo json_encode($user_inventory); ?>;
			var sales_people = <?php echo json_encode($sales_people); ?>;

			var cart_items = [];

			var selected_user = 0;

			var order_total_array = [];
			var order_start = [];

<?php foreach ($carts as $user_id => $data): ?>
			order_total_array[<?=$user_id?>] = <?=$data['total_adj']?>;
			order_start[<?=$user_id?>] = <?=$data['total_adj']?>;
<?php endforeach; ?>

			$('.mydatepicker').datepicker({
				autoclose: true,
				todayHighlight: true
			});
	
			$('.clockpicker').clockpicker({
				placement: 'bottom',
				align: 'left',
				autoclose: true,
				'default': 'now'
			});

			$('#user_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 2, "asc" ]]
			});

			$('#product_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 1, "asc" ]]
			});

			var quantity_values = [];
			var holder_values = [];

			

	<?php foreach ($carts as $user_id => $data): ?>
	<?php foreach ($data['cart_records'] as $cart_id => $cart_data): ?>

			holder_values[<?=$cart_id?>] = <?=$cart_data['holder_user_id']?>;
			quantity_values[<?=$cart_id?>] = <?=$cart_data['quantity']?>;

	<?php endforeach;?>
	<?php endforeach;?>
								
			function changeHolder(user_id, cart_id, holder_user_id, product_id, product_size_id) {

				holder_values[cart_id] = holder_user_id;

				carts[user_id]['cart_records'][cart_id].holder_user_id = holder_user_id;
				
				document.getElementById('holder_before' + cart_id).innerHTML = user_inventory[holder_user_id][product_id]['quantity'];

				if (parseFloat(user_inventory[holder_user_id][product_id]['quantity']) >= parseFloat(product_sizes[product_size_id]['units']) * parseFloat(document.getElementById('cart_item_quantity' + cart_id).value)) {
					document.getElementById('cart_item_holder' + cart_id).innerHTML = parseFloat(user_inventory[holder_user_id][product_id]['quantity']) - parseFloat(parseFloat(product_sizes[product_size_id]['units']) * parseFloat(document.getElementById('cart_item_quantity' + cart_id).value));
				} else {
					document.getElementById('cart_item_holder' + cart_id).innerHTML = 0;
				}

			}
			
			function showUpdateButton (user_id) {
				var key = 'cart_total' + user_id;

				if (document.getElementById('order_total' + user_id).value != eval(key)) {
					document.getElementById('cancel_update' + user_id).style.display = '';
				} else {
					document.getElementById('cancel_update' + user_id).style.display = 'none';
				}

				if (document.getElementById('order_total' + user_id).value == '') {
					eval(key + " = 0;");
				} else {
					eval(key + " = " + document.getElementById('order_total' + user_id).value + ";");
				}

				var order_total = document.getElementById('order_total' + user_id).value;

				if (users[user_id]['membership'] > 0) {

					if (users[user_id]['membership_paid'] == 0) {
						if (parseFloat(memberships[users[user_id]['membership']]['worth']) + parseFloat(users[user_id]['balance']) > order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = parseFloat(memberships[users[user_id]['membership']]['cost']);
						} else {
							document.getElementById('cash_due' + user_id).innerHTML = order_total - (parseFloat(memberships[users[user_id]['membership']]['worth']) + parseFloat(users[user_id]['balance'])) + parseFloat(memberships[users[user_id]['membership']]['cost']);
						}
					} else {
						if (parseFloat(users[user_id]['balance']) >= order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = 0;
						} else {
							
							document.getElementById('cash_due' + user_id).innerHTML = order_total - parseFloat(users[user_id]['balance']);
						}
					}
					
				} else {
					document.getElementById('cash_due' + user_id).innerHTML = order_total;
				}
			}

			function showTime (user_id) {
				document.getElementById('altered_time_row' + user_id).style.display = '';
			}

			function updateCartItemQuantity (cart_id, quantity, units, unit_cost, holder_start, user_id, product_id) {

				quantity_values[cart_id] = quantity;

				if (quantity == '') {
					document.getElementById('cart_item_quantity' + cart_id).style.border = '1px solid #F62D51';

				} else {
					var new_unit1 = quantity * units;
					var new_unit2 = quantity * unit_cost;

					if (products[product_id]['combo'] == 1) {

					} else {
						document.getElementById('cart_item_units' + cart_id).innerHTML = new_unit1.toFixed(2);
					}

					document.getElementById('cart_item_cost' + cart_id).innerHTML = new_unit2.toFixed(2);

					if (parseFloat(document.getElementById('holder_before' + cart_id).innerHTML) - parseFloat(quantity * units) < 0) {
						//@todo do something about neagtives 
						document.getElementById('cart_item_holder' + cart_id).innerHTML = parseFloat('0');
					} else {
						document.getElementById('cart_item_holder' + cart_id).innerHTML = parseFloat(document.getElementById('holder_before' + cart_id).innerHTML) - parseFloat(quantity * units);
					}

					
					//Quantity
					var key = 'cart' + cart_id;
					//Cart Total
					var key2 = 'cart_total' + user_id;

					console.log('quantity: ' + quantity);
					console.log('other quan: ' + eval(key));
					console.log('units: ' + units);
					console.log('unit cost: ' + unit_cost);

					if (eval(key) < quantity) {
						//Count went up
						var diff = quantity - eval(key);
						diff = diff * unit_cost;

						var master_total = parseFloat(document.getElementById('order_total' + user_id).value) + parseFloat(diff);
						master_total = master_total.toFixed(2);
						
						document.getElementById('order_total' + user_id).value = master_total;

						var order_total = parseFloat(document.getElementById('order_total' + user_id).value);
						eval(key2 + " = " + order_total + ";");

						order_total = order_total.toFixed(2);

						updateTotals (user_id, order_total);

					} else {
						//Count went down
						var diff = eval(key) - quantity;
						diff = diff * unit_cost;
						
						var master_total = parseFloat(document.getElementById('order_total' + user_id).value) - parseFloat(diff);
						master_total = master_total.toFixed(2);
						
						document.getElementById('order_total' + user_id).value = master_total;
						
						var order_total = parseFloat(document.getElementById('order_total' + user_id).value);
						eval(key2 + " = " + order_total + ";");

						order_total = order_total.toFixed(2);

						updateTotals (user_id, order_total);
					}
					
					eval(key + " = " + quantity + ";");
				}

				carts[user_id]['cart_records'][cart_id].quantity = quantity;
				carts[user_id]['cart_records'][cart_id].cost = unit_cost * quantity;

				order_total_array[user_id] = order_total;
			}

			function updateTotals (user_id, order_total) {
				if (users[user_id]['membership'] > 0) {

					if (users[user_id]['membership_paid'] == 0) {
						if (parseFloat(memberships[users[user_id]['membership']]['worth']) + parseFloat(users[user_id]['balance']) > order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = parseFloat(memberships[users[user_id]['membership']]['cost']);
							document.getElementById('new_balance' + user_id).innerHTML = parseFloat(memberships[users[user_id]['membership']]['worth']) + parseFloat(users[user_id]['balance']) - order_total;
							
						} else {
							document.getElementById('cash_due' + user_id).innerHTML = order_total - (parseFloat(memberships[users[user_id]['membership']]['worth']) + parseFloat(users[user_id]['balance'])) + parseFloat(memberships[users[user_id]['membership']]['cost']);
							document.getElementById('new_balance' + user_id).innerHTML = 0;
						}
					} else {
						if (parseFloat(users[user_id]['balance']) >= order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = 0;
							document.getElementById('new_balance' + user_id).innerHTML = parseFloat(users[user_id]['balance']) - order_total;
							
						} else {
							document.getElementById('cash_due' + user_id).innerHTML = order_total - parseFloat(users[user_id]['balance']);
							document.getElementById('new_balance' + user_id).innerHTML = 0;
						}
					}
					
				} else {
					document.getElementById('cash_due' + user_id).innerHTML = order_total;
				}

				order_start[user_id] = order_total;
			}

			function removeTempProduct(cart_id, user_id) {
				do {	
					$.ajax({
						url: "/store/remove-cart-item",
						type: 'post',
						dataType: 'html',
						data: {
							cart_id : cart_id
						},
						async: false,
						success: function(data) {
							if (data == 1) {
							
									document.getElementById('user_cart_row' + cart_id).style.display = 'none';

									var key = 'cart_total' + user_id;

									var new_total = parseFloat(eval(key)) - parseFloat(document.getElementById('cart_item_cost' + cart_id).innerHTML);

									new_total = new_total.toFixed(2);
									
									updateTotals(user_id, new_total);

									document.getElementById('order_total' + user_id).value = new_total;

									carts[user_id]['cart_records'][cart_id] = {};

									order_total_array[user_id] = new_total;

									eval(key + '=' + new_total);
								
							} else {
								alert(data);
							}
						} 
					});
				} while (false);
			}

			function cancelUpdateTotal (user_id) {

				var key = 'cart_total' + user_id;

				document.getElementById('order_total' + user_id).value = order_start[user_id];
				updateTotals(user_id, order_start[user_id]);
				document.getElementById('cancel_update' + user_id).style.display = 'none';
			}

<?php if (isset($set_user_id) && $set_user_id > 0) : ?>
			selectUser(<?=$set_user_id?>);
<?php endif; ?>

			function selectUser (user_id) {
				document.getElementById('user_select').style.display = 'none';
				document.getElementById('outter_row').style.display = '';
				document.getElementById('product_row').style.display = '';

				selected_user = user_id;

				if (document.getElementById('cart_row' + user_id)) {
					document.getElementById('cart_row' + user_id).style.display = '';
				} else {
					var key = 'cart_total' + user_id;
					eval(key + " = 0;");
					
					var submit_string = `


						<div id="cart_row` + user_id + `" class="col-lg-12" style="padding-top: 0; margin-top: 0;">
							<div style="border: 4px solid #21A2F2; padding: 10px;">
								<div id="cart_row_inner` + user_id + `" class="row">
									<div class="col-lg-12 col-sm-12">
										<div>
											<!-- First Column - products -->
											<label>
												<span style="border-bottom: 1px solid black; font-weight: bold;">` + users[user_id]['first_name'] + ` ` + users[user_id]['last_name'] + `'s Cart 
													(Balance: $0)

												</span>
												- ID: ` + user_id + `
											</label>
											<div>
												<table id="user_product_table` + user_id + `" class="table table-hover">
													<thead>
														<tr>
															<th>Product</th>
															<th style="width: 220px;">Inventory Source</th>
															<th style="width: 120px;">Quantity</th>
															<th style="width: 50px;">Units</th>
															<th style="width: 50px;">Price</th>
															<th style="width: 60px;"><i class="fa fa-star"></i> Holder Before</th>
															<th style="width: 100px;"><i class="fa fa-star"></i> Holder After</th>

															<th style="width: 50px;">Remove?</th>
														</tr>
													</thead>
													<tbody id="cart_wrap` + user_id + `">

													</tbody>
												</table>
												<a href="#new_product_table" class="btn btn-info" style="width: 100%;">Add Another Item To Cart <i class="fa fa-plus"></i></a>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-sm-12">
										<table class="table table-hover">
											<thead>
												<tr>
													<th></th>
													<th style="width: 50%;"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<div>
															<label>Current or pending sale?</label>
															<div class="input-group">
																<span id="switch1` + user_id + `" class="combo_switch" style="background-color: #7460EE; border-radius: 2px; color: white;" onclick="javascript: comboSwitch(1, ` + user_id + `);">Current Or Scheduled Sale</span>
																
															</div>
														</div>
													</td>
													<td>
														<div>
															<label>&nbsp;</label>
															<div class="input-group">
																<span id="switch2` + user_id + `" class="combo_switch" style="background-color: #d1d1d1; border-radius: 2px; color: grey; cursor: pointer;" onclick="javascript: comboSwitch(2, ` + user_id + `);">Mark As Pending Sale</span>					
																<input id="combo_switch` + user_id + `" type="hidden" value="0">
															</div>
														</div>
													</td>
												</tr>
												<tr id="schedule_row` + user_id + `">
													<td>
														<div class="form-group" style="padding: 0; margin: 0;">
															<label style="padding-left: 10px;">Set Altered Created Date?<br><span style="font-size: 80%; color: #F62D51; font-weight: bold;">Only modify if sale is NOT current</span></label>
															<div class="input-group">
														
															
																<input type="text" class="form-control mydatepicker" id="new_created_date` + user_id + `" readonly style="color: black; background-color: white;" onchange="javascript: showTime(` + user_id + `);" placeholder="Right now - Click to change">
																<span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
															</div>
													
														</div>
													</td>
													<td>
														<div class="form-group" style="padding: 0; margin: 0;">
											

															<div id="alte#F62D51_time_row` + user_id + `" style="display: none; margin-top: -20px;">
																<label class="m-t-20" style="font-weight: bold; color: #F62D51; padding-left: 10px;"><br>Set Altered Created Time</label>
																<div class="input-group clockpicker">
																	<input id="new_created_time` + user_id + `" type="text" class="form-control" value="<?=$current_time?>"> <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
																</div>
															</div>
														</div>
													</td>
													
												</tr>
												<tr>
													<td>
														<div class="form-group row" style="margin-bottom: 0;">
															<label class="col-12 col-form-label" style="white-space: nowrap; font-weight: bold;">
																Sub-Total: 
																<button id="cancel_update` + user_id + `" class="btn btn-info" style="display: none; background-color: #F62D51; color: white; float: right; margin-top: -3px;" onclick="javascript: cancelUpdateTotal(` + user_id + `);"><i class="fa fa-close"></i> Revert</button>
															</label>
														</div>
														
														<!-- 								                                    
														<div>
															<div style="font-size: 85%; color: #F62D51; line-height: 22px;">Original Price: $0</div>
															<div style="font-size: 85%; color: #F62D51; line-height: 22px;">Difference: $0 (0% Off)</div>
														</div> 
														-->
														
													</td>
													<td>
													
														<div class="form-group row" style="margin-bottom: 0;">
															<div class="col-12 input-group" style="padding-top: 10px;">
																<span class="input-group-addon">$</span>
																<input class="form-control" type="number" value="0" id="order_total` + user_id + `" oninput="javascript: showUpdateButton(` + user_id + `, 0);">
															</div>
														</div>
													

														
													</td>
												</tr>`;

												submit_string += `
													<tr>
														<td>
															<div>Sale Made By?</div>
														</td>
														<td style="padding: 5px;">
															<select id="sale_by` + user_id + `" class="form-control" style="width: 100%;">
													`;

												for (var j = 0; j < Object.keys(sales_people).length; j++) {
													submit_string += `
														<option value="` + sales_people[Object.keys(sales_people)[j]].id + `" id="` + sales_people[Object.keys(sales_people)[j]].id + `">` + sales_people[Object.keys(sales_people)[j]]['first_name'] + ` ` + sales_people[Object.keys(sales_people)[j]]['last_name'] + `</option>
													`;
												}
						
												submit_string += `
														</select>
													</td>
												</tr>`;


												submit_string += `
												<tr>
													<td>
														<div>Cash or Card?</div>
													</td>
													<td>
														<select id="cashcard` + user_id + `" class="form-control" style="width: 100%;">

														<option value="cash">Cash</option>
														<option value="card">Card</option>
														
													</select>
												</td>
											</tr>
											
										</tbody>
									</table>
									
								</div>
								<div class="col-lg-6 col-sm-12">
									<hr>
									<div style="text-align: center;">
										<h4 style="margin: 0; margin-bottom: 5px;">Order Notes</h4>
										<textarea id="notes` + user_id + `" rows="3" cols="" style="width: 100%; border-radius: 4px;"></textarea>
									</div>
									<div style="text-align: center;">
									<div class="total_due` + user_id + `" style="font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
										<span style="border: 2px solid black; padding: 10px; font-size: 120%;">
											Total Due:
											<span class="amount">$ <span id="cash_due` + user_id + `" style="width: 60px; height: 32px;">0</span></span>
										</span>
									</div>

										<div style="white-space: nowrap; font-weight: bold;">Membership Balance After Sale: $<span id="new_balance` + user_id + `">0</span></div>
										
										<div style="font-size: 125%; margin-top: 20px;">

											<button id="order_button` + user_id + `" class="btn btn-info" style="width: 100%; height: 60px;" class="card" onclick="javascript: placeOrder(` + user_id + `, 0, 0, 0);">PLACE ORDER</button>

											<button id="order_button_alt` + user_id + `" class="btn btn-info" style="width: 100%; height: 60px; display: none;"><i class="fa fa-spinner fa-spin"></i></button>
										
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
							`;

							document.getElementById('main_box').innerHTML = submit_string;

					$('.mydatepicker').datepicker({
						autoclose: true,
						todayHighlight: true
					});
				}
			}

			

			function addToCart(product_size_id, product_id) {

				var quantity_to_create = document.getElementById('size' + product_size_id + '_quantity').value;

				document.getElementById('size' + product_size_id + '_quantity').value = 1;
				
				do {
					closeProducts(); 

					user_id = selected_user;
					
					$.ajax({
						url: "/store/admin-add-to-cart",
						type: 'post',
						dataType: 'html',
						data: 
						{
							user_id: user_id,
							product_size_id: product_size_id
						},
						async: false,
						success: function(cart_id) {

							if (cart_id > 0) {

								if (products[product_id]['inventory_holder_id'] > 0) {
									var product_holder_id = products[product_id]['inventory_holder_id'];
								} else {
									var product_holder_id = <?=$company_info['primary_inventory_user_id']?>;
								}

								quantity_values[cart_id] = quantity_to_create;
								holder_values[cart_id] = product_holder_id;

								if (typeof carts[user_id] == 'undefined') {
									carts[user_id] = {};
									carts[user_id]['cart_records'] = {};
								} 
								
								carts[user_id]['cart_records'][cart_id] = {id: cart_id, product_id: product_id, product_size_id: product_size_id, cost: product_sizes[product_size_id]['price'], quantity: quantity_to_create, holder_user_id: product_holder_id};
								
						//		carts[user_id]['cart_records'][cart_id]['product_id'] = product_id;
							//	carts[user_id]['cart_records'][cart_id]['product_size_id'] = product_size_id;

								if (order_start[user_id] == 'undefined') {
									order_start[user_id] = parseFloat(product_sizes[product_size_id]['price'] * parseFloat(quantity_to_create)).toFixed(2);
								} else {
									order_start[user_id] = parseFloat(parseFloat(order_start[user_id]) + parseFloat(parseFloat(product_sizes[product_size_id]['price']) * parseFloat(quantity_to_create))).toFixed(2);
								}
								
								var key = 'cart' + cart_id;
								eval(key + " = 1;");
								
								var submit_string = `
							
									<tr id="user_cart_row` + cart_id + `">

									<td style="position: relative;"><span style="font-weight: bold;">` + products[product_id]['name'] + `</span> - ` + product_sizes[product_size_id]['name'] + ` ($` + product_sizes[product_size_id]['price'] + `) <span style="font-size: 60%; position: absolute; top: 0; left: 0;">` + product_id + `</span></td>
									
									<td style="padding: 5px;">
										<select id="holder_user_id` + cart_id + `" class="form-control" style="width: 100%;" onchange="javascript: changeHolder(` + user_id + `, ` + cart_id + `, this.value, ` + product_id + `, ` + product_size_id + `);">
								`;

								if (typeof order_total_array[user_id] == 'undefined') {
									//This is the first item in an empty cart
									var new_order_total = parseFloat(product_sizes[product_size_id]['price'] * parseFloat(quantity_to_create)).toFixed(2);
								} else {
									var new_order_total = parseFloat(parseFloat(parseFloat(product_sizes[product_size_id]['price']) * parseFloat(quantity_to_create)) + parseFloat(order_total_array[user_id])).toFixed(2);
								}
								
								var key = 'cart_total' + user_id;
								eval(key + " = " + new_order_total +";");

								var key2 = 'cart' + cart_id;
								eval(key2 + " = " + quantity_to_create + ";");
								
								//SET SUB-TOTAL INPUT BOX
								document.getElementById('order_total' + user_id).value = new_order_total;
								
								order_total_array[user_id] = new_order_total;

								updateTotals (user_id, new_order_total);

								var holder_before = user_inventory[product_holder_id][product_id]['quantity'];

								for (var j = 0; j < Object.keys(holders).length; j++) {

									var holder_ids = String(Object.keys(holders)).split(',');
									
									if (product_holder_id == holder_ids[j]) {
										submit_string += `
											<option value="` + holder_ids[j] + `" id="` + holder_ids[j] + `" selected>` + users[holder_ids[j]]['first_name'] + ` ` + users[holder_ids[j]]['last_name'] + `</option>
										`;
									} else {
										submit_string += `
											<option value="` + holder_ids[j] + `" id="` + holder_ids[j] + `">` + users[holder_ids[j]]['first_name'] + ` ` + users[holder_ids[j]]['last_name'] + `</option>
										`;
									}
									
								}

								submit_string += `
										</select>
									</td>
									<td style="padding: 5px;">
										<div class="form-group" style="margin: 0;">
											<div>

												<input class="form-control" type="number" min="1" style="margin: 0;" value="` + quantity_to_create + `" oninput="javascript: updateCartItemQuantity(` + cart_id + `, this.value, ` + product_sizes[product_size_id]['units'] + `, ` + product_sizes[product_size_id]['price'] + `, ` + product_holder_id + `, ` + user_id + `, ` + product_id + `);" id="cart_item_quantity` + cart_id + `">
												
											</div>
										</div>
									</td>
									
									<td id="cart_item_units` + cart_id + `">`;

								if (products[product_id]['combo'] == 1) {
									submit_string += `<span style="font-weight: bold;">COM</span>`;
								} else {
									submit_string += product_sizes[product_size_id]['units'] * parseFloat(quantity_to_create);
								}
									
								submit_string += `
									</td>
									
									<td>$<span id="cart_item_cost` + cart_id + `">` + parseFloat(parseFloat(product_sizes[product_size_id]['price'] * parseFloat(quantity_to_create))).toFixed(2) + `</span></td>
			
									<td id="holder_before` + cart_id + `">
										` + holder_before + `
									</td>
									
									<td id="cart_item_holder` + cart_id + `" style="font-weight: bold; color: #F62D51;">`;

									if (parseFloat(user_inventory[product_holder_id][product_id]['quantity']) >= parseFloat(product_sizes[product_size_id]['units'])) {
										submit_string += parseFloat(user_inventory[product_holder_id][product_id]['quantity']) - parseFloat(product_sizes[product_size_id]['units']) * parseFloat(quantity_to_create);
									} else {
										submit_string += 0;
									}


								submit_string += `
									</td>

								
									<td style="padding: 5px;"><div class="btn btn-info" style="margin-left: 5px; color: white; background-color: #F62D51; width: 100%;" onclick="javascript:removeTempProduct(` + cart_id + `, ` + user_id + `)"><i class="fa fa-remove"></i></div></td>
								</tr>
								`;

								
								
								document.getElementById('cart_wrap' + user_id).innerHTML = document.getElementById('cart_wrap' + user_id).innerHTML + submit_string;
								
							} else {
								swal('Oops...', cart_id, 'error');
							}
						} 
					});
					
				} while (false);

				for (var i = 0; i < Object.keys(quantity_values).length; i++) {

					var this_cart_id = Object.keys(quantity_values)[i];
					
					document.getElementById('cart_item_quantity' + this_cart_id).value = quantity_values[this_cart_id];

					if (holder_values[this_cart_id] > 0) {
						document.getElementById('holder_user_id' + this_cart_id).value = holder_values[this_cart_id];
					}
				}

				document.body.scrollTop = document.documentElement.scrollTop = 0;
			}

			function closeProducts () {				
				document.getElementById('outter_row').style.display = 'none';
			}

			function payMembership (user_id) {
				do {	
					$.ajax({
						url: "<?=$company_info['nav_path']?>pay-membership-action",
						type: 'post',
						dataType: 'html',
						data: {
							user_id: user_id
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								document.getElementById('user_balance' + user_id).innerHTML = parseFloat(memberships[users[user_id]['membership']]['worth']) + parseFloat(users[user_id]['balance']);
								document.getElementById('membership_due_row' + user_id).style.display = 'none';
								
							} else {
								alert(data);
							}
						} 
					});
				} while (false);
			}

			function scheduleOrder(user_id) {
			
				do {

					$.ajax({
						url: "/store/schedulePurchaseAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							source: 2,
							user_id: user_id,
							subtotal: document.getElementById('order_total' + user_id).value,
							cash_due: document.getElementById('cash_due' + user_id).innerHTML,
							notes: document.getElementById('notes' + user_id).value,
							payment_type: document.getElementById('cashcard' + user_id).value,
							schedule_time: document.getElementById('new_created_time' + user_id).value,
							schedule_date: document.getElementById('new_created_date' + user_id).value,

							sale_by: document.getElementById('sale_by' + user_id).value,
							pending: document.getElementById('combo_switch' + user_id).value,
							
							cart: carts[user_id]
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Your Scheduled Order Has Been Placed!",   
									text: '',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										if (document.getElementById('combo_switch' + user_id).value == 1) {
											window.location.replace('/admin/pending-sales');
										} else {
											window.location.replace('/admin/sales');
										}										
									});
							} else {
								console.log(data);
							}
						},
						error: function(data) {
							console.log(data['responseText']);
						}
					});
				} while (false);
			}

			function placeOrder(user_id) {
				
				if (document.getElementById('combo_switch' + user_id).value == 1) {
					scheduleOrder(user_id);
				} else {
					var dateString = document.getElementById('new_created_date' + user_id).value + ' ' + document.getElementById('new_created_time' + user_id).value,
					dateTimeParts = dateString.split(' '),
					timeParts = dateTimeParts[1].split(':'),
					dateParts = dateTimeParts[0].split('/'),
					date;

					date = new Date(parseInt(dateParts[2]), parseInt(dateParts[0], 10) - 1, parseInt(dateParts[1]), parseInt(timeParts[0]), parseInt(timeParts[1]));
					
					if (date == 'Invalid Date') {
						submitOrder(user_id);
					} else {
						//Sale is in the future, schedule
						if (date.getTime() > Date.now()) {
							scheduleOrder(user_id);
						} else {
							submitOrder(user_id);
						}
					}
				}
	
				
			}

			function submitOrder(user_id) {
    			//document.getElementById('order_button' + user_id).style.display = 'none';
    			//document.getElementById('order_button_alt' + user_id).style.display = '';

    			cart_item_array = carts[user_id]['cart_records'];

				for (var i = 0; i < Object.keys(cart_item_array).length; i++) {

					var cart_ids = String(Object.keys(cart_item_array)).split(',');

					if (carts[user_id]['cart_records'][cart_ids[i]]['id'] != 'undefined') {
						carts[user_id]['cart_records'][cart_ids[i]]['holder_id'] = document.getElementById('holder_user_id' + cart_ids[i]).value;
						carts[user_id]['cart_records'][cart_ids[i]]['quantity'] = document.getElementById('cart_item_quantity' + cart_ids[i]).value;
					}
				}

    			do {
    				$.ajax({
    					url: "/store/purchaseAdminAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							user_id: user_id,
							alt_due: document.getElementById('order_total' + user_id).value,
							cash_due: document.getElementById('cash_due' + user_id).innerHTML,
						
							new_created_date: document.getElementById('new_created_date' + user_id).value,
							new_created_time: document.getElementById('new_created_time' + user_id).value,
							new_balance: document.getElementById('new_balance' + user_id).innerHTML, 
							notes: document.getElementById('notes' + user_id).value,
							cashcard: document.getElementById('cashcard' + user_id).value,

							pending: document.getElementById('combo_switch' + user_id).value,
							sale_by: document.getElementById('sale_by' + user_id).value,
							
							cart: carts[user_id]
						},
    					async: false,
    					success: function(data) {
    						if (data == 1) {
    							swal({   
    								title: "Order Complete",   
    								text: 'Order has been placed<?php if ($company_info['delivery'] == 2): ?> and OnFleet routing has been successful<?php endif; ?>!',
    								type: "success",    
    								confirmButtonColor: "#15A59B",   
    								confirmButtonText: "OK",   
    								}).then(function(){   
										window.location.href='/admin/new-sale';
    								}
    							);
    							
    						} else {
    							console.log(data);
    							swal('There has been an error.');
    						}
    					},
    					error: function(data) {
    						swal('Something has gone wrong, yell at Joe.');
    						console.log(data['responseText']);

    						$.ajax({
    							url: "/email/log-error",
    							type: 'post',
    							dataType: 'html',
    							data: {
    								message: data['responseText']
    							},
    							async: false,
    							success: function(data) {
    								console.log('Sent error log');
    							} 
    						});
    					} 
    				});
    			} while (false);
			}

			function comboSwitch(source, user_id) {
				if (source == 1) {
					document.getElementById('switch2' + user_id).style.backgroundColor = '#d1d1d1';
					document.getElementById('switch2' + user_id).style.color = 'grey';
					document.getElementById('switch2' + user_id).style.cursor = 'pointer';

					document.getElementById('switch1' + user_id).style.backgroundColor = '#7460EE';
					document.getElementById('switch1' + user_id).style.color = 'white';
					document.getElementById('switch1' + user_id).style.cursor = '';

					document.getElementById('schedule_row' + user_id).style.display = '';

					document.getElementById('combo_switch' + user_id).value = 0;
				} else {
					document.getElementById('switch1' + user_id).style.backgroundColor = '#d1d1d1';
					document.getElementById('switch1' + user_id).style.color = 'grey';
					document.getElementById('switch1' + user_id).style.cursor = 'pointer';

					document.getElementById('switch2' + user_id).style.backgroundColor = '#7460EE';
					document.getElementById('switch2' + user_id).style.color = 'white';
					document.getElementById('switch2' + user_id).style.cursor = '';

					document.getElementById('schedule_row' + user_id).style.display = 'none';

					document.getElementById('combo_switch' + user_id).value = 1;

				}

			}
			
		</script>
		
		<style>
			.combo_switch {
				width: 100%; 
				height: 37px; 
				line-height: 37px;
				text-align: center;
			}
		</style>
		
		
	
		
		
		
		
		
		
		
		