				


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Reviews</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold; text-decoration: underline;">Reviews Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Product Reviews - Click a row to see more</span></h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div class="table-responsive">
									<table id="review_table" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th style="width: 100px;">Product ID</th>
												<th>Product Name</th>
												<th># of Reviews</th>
											</tr>
										</thead>
										<tbody>
<?php foreach ($inventory as $id => $data): ?>
<?php if (isset($products[$data['product_id']])): ?>
											<tr style="cursor: pointer;" onclick="javascript:window.location.replace('<?=$company_info['nav_path']?>view-reviews?product_id=<?=$data['product_id']?>');">
												<td><?=$data['product_id']?></td>
												<td><?=$products[$data['product_id']]['name']?></td>
<?php if (isset($reviews[$data['product_id']])): ?>
												<td><?=count($reviews[$data['product_id']])?></td>
												
<?php else: ?>
												<td>No Reviews Yet</td>
<?php endif; ?>
												
											</tr>
<?php endif; ?>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#review_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});

		</script>
