		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Sales Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><b>Sales Overview</b></h2>
						<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>new-sale';"> New Sale <i class="fa fa-plus"></i></button>
					</div>
					<div class="card-block" style="position: relative;">
<?php if (count($graph_pending_sales) > 0): ?>
						<div style="position: absolute; top: 10px; left: 25px; font-weight: bold; font-size: 125%; color: #F62D51; width: 100%; text-align: center;">
							<i class="fa fa-warning"></i> <span style="font-size: 150%;"><?=count($graph_pending_sales)?></span> 
<?php if (count($graph_pending_sales) == 1): ?>
							pending sale not included on this graph.
<?php else: ?>
							pending sales not included on this graph.
<?php endif; ?>				
							<i class="fa fa-warning"></i>
						</div>
						<br><br>
<?php endif; ?>
						<div class="row">
							<div class="col-lg-12" style="border-bottom: 2px solid #009EFB; text-align: center;">
								<h3>Sales over last 30 days</h3>
								<div id="bar-chart" style="width:100%; height:400px;"></div>
							</div>
							<div class="col-lg-6 col-sm-12" style="padding: 0; margin: 25px 0 0 0; text-align: center;">
								<div style="position: relative;">
									<h3 style="">Quick Filter:</h3>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12" style="padding: 0; margin: 25px 0 0 0; text-align: center;">
								<div style="position: relative; white-space: nowrap;">
									<h3 style="">Filter By Date:</h3>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12" style="text-align: center;">
<?php if ($filter == 1) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>';"> 48 Hours</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>';"> 48 Hours</button>
<?php endif; ?>
<?php if ($filter == 2) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=2';"> Week</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=2';"> Week</button>
<?php endif; ?>	
<?php if ($filter == 3) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=3';"> Month</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=3';"> Month</button>
<?php endif; ?>	
<?php if ($filter == 4) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=4';"> Year</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=4';"> Year</button>
<?php endif; ?>
<?php if ($filter == 5) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=5';"> All Time</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=5';"> All Time</button>
<?php endif; ?>	
							</div>
							<div class="col-lg-6 col-sm-12">
								<div style="position: relative;">
<?php if ($filter > 5) :?>
									<div class="input-group date" data-provide="" style="background-color: #009EFB; padding: 10px; margin-top: -5px;">
<?php else: ?>		
									<div class="input-group date" data-provide="" style="padding: 5px; margin-top: -5px;">
<?php endif; ?>	
<?php if ($filter > 5) :?>
										<input id="target_date" name="target_date" type="text" style="font-family: 'Montserrat', sans-serif; width: 100%; letter-spacing: 1px; text-align: center; border-radius: 4px;" value="<?=$filter?>">
<?php else: ?>		
										<input id="target_date" name="target_date" type="text" style="font-family: 'Montserrat', sans-serif; width: 100%; letter-spacing: 1px; text-align: center; border-radius: 4px;">
<?php endif; ?>	
										<div class="input-group-addon" style="display: none;"></div>
									</div>
								</div>
							</div>
		
							
							<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
								<div class="card card-body" style="background-color: #55CE63; padding-top: 20px; padding-left: 20px; color: white; height: 100px;">
									<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=$transaction_count?></h3>
									<address>
										Transaction Count
									<br/>
									</address>
										
								</div>
							</div>
							<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
								<div class="card card-body" style="background-color: #F62D51; padding-top: 20px; padding-left: 20px; color: white; height: 100px;">
									<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=$sale_count?></h3>
									<address>
										Products Sold
									<br/>
									</address>
										
								</div>
							</div>
							<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
								<div class="card card-body" style="position: relative; background-color: #01C0C8; padding-top: 10px; padding-left: 20px; color: white; height: 100px;">
									<div style="height: 35%;">
										SUB-TOTAL: <span style="font-weight: bold; font-size: 140%;">$<?=$sale_total?></span>
									</div>
									<hr style="margin: 5px; margin-bottom: 5px;">
									<div>
										AVG TRANSACTION: 
<!-- @todo tabbing -->
<?php if ($transaction_count > 0): ?>
									<span style="font-weight: bold; font-size: 140%;">$<?=round($sale_total / $transaction_count, 2)?></span>
<?php else: ?>
									<span style="font-weight: bold; font-size: 140%;">-</span>
<?php endif; ?>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
							<div class="card card-body" style="position: relative; background-color: #7460EE; padding-top: 10px; padding-left: 20px; color: white; height: 100px;">
								<div style="height: 35%;">
									TOTAL PAID: <span style="font-weight: bold; font-size: 140%;">$<?=$paid_total?></span>
								</div>
								<hr style="margin: 5px; margin-bottom: 5px;">
								<div>
									AVG TRANSACTION ADJ: 
<?php if ($transaction_count > 0): ?>
									<span style="font-weight: bold; font-size: 140%;">$<?=round($paid_total / $transaction_count, 2)?></span>
<?php else: ?>
									<span style="font-weight: bold; font-size: 140%;">-</span>
<?php endif; ?>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-12">
						<div>
<?php if (count($pending_sales) > 0): ?>
						<div style="font-weight: bold; font-size: 125%; color: #F62D51; width: 100%; text-align: center;">
							<i class="fa fa-warning"></i> <span style="font-size: 150%;"><?=count($pending_sales)?></span> 
<?php if (count($pending_sales) == 1): ?>
							pending sale not included on this list.
<?php else: ?>
							pending sales not included on this list.
<?php endif; ?>				
							<i class="fa fa-warning"></i>
						</div><br>
<?php endif; ?>
<?php if (count($transactions) > 0): ?>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table id="main_table" class="table table-hover">
									<thead>
										<tr>
											<th style="width: 20px;"></th>
											<th>ID</th>
<?php if ($company_info['wholesale'] == 1): ?>
													<th style="width: 200px;">Company Name</th>
													<th style="width: 1px;"></th>
<?php else: ?>
													<th style="width: 200px;">First Name</th>
													<th>Last Name</th>
<?php endif; ?>
											<th>Product</th>
											<th>Sub Total</th>
											<th>Paid</th>
											<th style="width: 80px;">Order Time</th>	
											<th style="width: 20px;">Delete?</th>							
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th></th>
											<th>ID</th>
<?php if ($company_info['wholesale'] == 1): ?>
													<th style="width: 200px;">Company Name</th>
													<th></th>
<?php else: ?>
													<th style="width: 200px;">First Name</th>
													<th>Last Name</th>
<?php endif; ?>
											<th>Product</th>
											<th>Sub Total</th>
											<th>Paid</th>
											<th>Order Time</th>
											<th>Delete?</th>					
										</tr>
									</tfoot>
									<tbody>
<?php foreach ($transactions as $id => $data): ?>
										<tr style="cursor: pointer;">
											<td style="margin: 0; padding: 0; padding-top: 3px;"><div class="btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>view-transaction?transaction_id=<?=$id?>'"><i class="fa fa-arrow-right"></i></div></td>
											<td><?=$id?></td>
<?php if (!isset($users[$data['user_id']])): ?>
											<td>ZZZ</td>
											<td>DELETE THIS TRANSACTION</td>
<?php else: ?>
<?php if ($users[$data['user_id']]['deleted'] == 1): ?>
											<td>_<?=$users[$data['user_id']]['first_name']?></td>
<?php if ($company_info['wholesale'] == 1): ?>
											<td></td>
<?php else: ?>
											<td>_<?=$users[$data['user_id']]['last_name']?></td>
<?php endif; ?>
<?php else: ?>
											<td><?=$users[$data['user_id']]['first_name']?></td>
<?php if ($company_info['wholesale'] == 1): ?>
											<td></td>
<?php else: ?>
											<td><?=$users[$data['user_id']]['last_name']?></td>
<?php endif; ?>
<?php endif; ?>
<?php endif; ?>
											

											<td>
												<span style="font-weight: bold;">(<?=count($data['products'])?>) </span>
<?php $count = 1; ?>
<?php foreach ($data['products'] as $product_size_id => $data2): ?>
												<?=$all_products[$data2['product_id']]['name']?> (<?=$all_sizes[$data2['product_size_id']]['name']?> x <?=$data2['quantity']?>)
<?php if (count($data['products']) > $count): ?>
												<span style="font-weight: bold;"> / </span>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
											</td>


											<td>$<?=$data['sub_total']?></td>
<?php if ($data['alt_cost'] > 0): ?>
											<td>$<?=$data['alt_cost']?></td>
<?php else: ?>
											<td>$<?=$data['cost']?></td>
<?php endif; ?>
<?php if ($data['changed_date'] == '0000-00-00 00:00:00'): ?>
											<td><?=substr($data['created_date'], 5, 11)?></td>	
<?php else: ?>
											<td style="color: red;"><?=substr($data['changed_date'], 5, 11)?></td>	
<?php endif; ?>
											<td style="margin: 0; padding: 0; padding-top: 3px;">
												<div id="delete<?=$id?>" class="btn btn-info" style="float: right; background-color: #bfbfbf;" onclick="javascript: addToDeleteList(<?=$id?>);">
													<i class="fa fa-close"></i>
												</div>
											</td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
<?php else: ?>
							<div style="font-weight: bold;">There are currently no sales to display with that filtering option. Chose another above.</div>
<?php endif; ?>
						</div>
					</div>
			</div>
		</div>
				
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><b>Individual Product Sales</b></h2>
						<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>new-sale';"> New Sale <i class="fa fa-plus"></i></button>
					</div>
					<div class="card-block">
					
						
<?php if (count($product_sales) > 0):?>
								<table id="individual_table" class="table table-hover table-striped">
									<thead>
										<tr>
											<th style="width: 50px;">Product ID</th>
											<th>Product Name</th>
											<th style="width: 50px;">Total Units Sold</th>
											<th>Total Sales</th>	
											<th>Unit ROI</th>
											<th>Total Profit</th>	
							
											<th style="width: 50px;">30 Day Units Sold</th>
							
											<th style="width: 50px;">30 Day Sales</th>
											<th style="width: 50px;">30 Day ROI</th>
											<th style="width: 70px;">30 Day Profit</th>
											<th style="width: 50px;">To Graph</th>					
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Product ID</th>
											<th>Product Name</th>
											<th>Total Units Sold</th>
											<th>Total Sales</th>
											<th>Unit ROI</th>
											<th>Total Profit</th>
										
											<th>30 Day Units Sold</th>
											<th>30 Day Sales</th>
											<th>30 Day ROI</th>
											<th>30 Day Profit</th>
											<th>To Graph</th>							
										</tr>
									</tfoot>
									<tbody>
<?php foreach ($product_sales as $id => $data): ?>
				
											<tr>
												<td><?=$id?></td>
												<td><a href="<?=$company_info['nav_path']?>edit-product?product_id=<?=$id?>" class="btn btn-info"><?=$data['name']?> <i class="fa fa-link"></i></a></td>
												<td style="font-weight: bold;"><?=$data['total_units']?></td>
												<td style="font-weight: bold;">$<?=$data['total_sales']?></td>
<?php if ($data['unit_price_wholesale'] == 0): ?>
												<td style="font-weight: bold;">-</td>
<?php else: ?>
												<td style="font-weight: bold;"><?=round(($data['retail_unit_price'] - $data['unit_price_wholesale']) / $data['unit_price_wholesale'], 2) * 100?>%</td>
<?php endif; ?>
<?php if ($data['unit_price_wholesale'] == 0): ?>
												<td style="font-weight: bold; border-right: 1px solid grey;">-</td>
<?php else: ?>
												<td style="font-weight: bold; color: green; border-right: 1px solid grey;">$<?=round($data['total_units'] * ($data['retail_unit_price'] - $data['unit_price_wholesale']), 2)?></td>
<?php endif; ?>

												<td style="font-weight: bold;"><?=count($data['recent2'])?></td>
												<td style="font-weight: bold;">$<?=$data['recent2_total']?></td>
<?php if ($data['recent_ws2_total'] == 0): ?>
												<td style="font-weight: bold;">-</td>
<?php else: ?>
												<td style="font-weight: bold;"><?=round(($data['recent2_total'] - $data['recent_ws2_total']) / $data['recent_ws2_total'], 2) * 100?>%</td>
<?php endif; ?>
												<td style="font-weight: bold; border-right: 1px solid grey; color: green;">$<?=round($data['recent2_total'] - $data['recent_ws2_total'], 2)?></td>
												<td><a href="" class="btn btn-info" style="width: 70%;"><i class="fa fa-arrow-right"></i></a></td>
											</tr>
<?php endforeach; ?>
									</tbody>
								</table>
<?php else: ?>
								<div>There are currently no sales to display</div>
<?php endif; ?>
					</div>
				</div>
				
				
			</div>
		</div>

		<div id="change_button" class="change_button" style="display: none;">
			<div class="gradient change_button2" onclick="javbascript: submitChanges();">
				<div class="change_button3">SUBMIT CHANGES</div>
			</div>
		</div>
		
		<style>
			.change_button2 {
				position: fixed; bottom: 0; width: 100%; background-color: red; height: 50px; z-index: 111; padding: 5px 0; cursor: pointer;
			}
			
			.change_button3 {
				background-color: #F62D51; height: 100%; text-align: center; line-height: 40px; font-weight: bold; color: white;
			}
		</style>

		<script>
			var table =  $('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric',
<?php if ($company_info['wholesale'] == 1): ?>
					targets: [0,3,8],	
<?php else: ?>
					targets: [0,8],
<?php endif; ?>
					
					orderable: false
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 50,
				order: [[ 7, "desc" ]]
			});

			

			$('#main_table').dataTable().api();
			
			jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
				return this.flatten().reduce( function ( a, b ) {
					if ( typeof a === 'string' ) {
						a = a.replace(/[^\d.-]/g, '') * 1;
					}
					if ( typeof b === 'string' ) {
						b = b.replace(/[^\d.-]/g, '') * 1;
					}
					
					return a + b;
				}, 0 );
			} );

			$('input[name="target_date"]').daterangepicker();

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 250);
			});

			$('#individual_table').DataTable( {
				columnDefs: [
				{
					type: 'num-html'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 50,
				order: [[ 2, "desc" ]]
			});

			

			var delete_list = [];

			function addToDeleteList(transaction_id) {
				delete_list.push(transaction_id);
				document.getElementById('delete' + transaction_id).style.backgroundColor = '#F62D51';
				document.getElementById('change_button').style.display = '';
			}

			function submitChanges () {

				$.ajax({
					url: "<?=$company_info['nav_path']?>updateTransactionsAction",
					type: 'post',
					dataType: 'html',
					data: {
						delete_list: delete_list
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Mission Accomplished",   
								text: 'Transactions Updated!',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: true 
								}, 
								function(){   
									
								});

							window.location.href='<?=$company_info['nav_path']?>sales';
						} else {
							console.log(data);
						}
					} 
				});
			}
			
			function search () {
				window.location.href = '<?=$company_info['nav_path']?>sales?filter=' + document.getElementById('target_date').value;
			}

			function downloadCSV () {
				$.ajax({
					url: "<?=$company_info['nav_path']?>transactionReportDownloadAction",
					type: 'post',
					dataType: 'html',
					data: {
						filter: <?=$filter?>
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Mission Accomplished",   
								text: 'CSV downloaded.',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: true 
								}, 
								function(){   
	
								});
						} else {
							alert(data);
						}
					} 
				});
			}

			var myChart = echarts.init(document.getElementById('bar-chart'));

			// specify chart configuration item and data
			option = {
				tooltip : {
				trigger: 'axis'
			},
				legend: {
				data:['Sub-Total','Paid']
			},
			toolbox: {
				show : true,
				feature : {
					magicType : {show: true, type: ['line', 'bar']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			color: ["#55ce63", "#009efb"],
			calculable : true,
			xAxis : [{
					type : 'category',
					data : [
<?php foreach ($averages as $i => $data): ?>
						'<?=$data['month'] . '/' . $data['day']?>',
<?php endforeach; ?>
			]}],
			yAxis : [{
				type : 'value'
			}],
			series : [{
				name:'Sub-Total',
				type:'bar',
				data:[
<?php $count = 0;?>
<?php foreach ($averages as $i => $data): ?>
<?php if ($count < count($averages)): ?>
						<?=round($data['sub'], 2)?>,
<?php else: ?>
						<?=round($data['sub'], 2)?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
				],
				markPoint : {
					data : [
						{type : 'max', name: 'Max'},
						{type : 'min', name: 'Min'}
					]
				},
				markLine : {
					data : [
						{type : 'average', name: 'Average'}
					]
				}
			},
			{
				name: 'Paid',
				type:'bar',
				data:[
<?php foreach ($averages as $i => $data): ?>
					<?=round($data['paid'], 2)?>,
<?php endforeach; ?>
				],
//							markPoint : {
// 						data : [
// 						{name : 'The highest year', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
// 						{name : 'Year minimum', value : 2.3, xAxis: 11, yAxis: 3}
// 						]
// 						},
				markPoint : {
					data : [
						{type : 'max', name: 'Max'},
						{type : 'min', name: 'Min'}
					]
				},
				markLine : {
					data : [
						{type : 'average', name : 'Average'}
			]}}]};

			// use configuration item and data specified to show chart
			myChart.setOption(option, true), $(function() {
				function resize() {
					setTimeout(function() {
						myChart.resize()
					}, 100)
				}

				$(window).on("resize", resize), $(".sidebartoggler").on("click", resize)
			});

			

		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>


		