		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>sales">Sales Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold; text-decoration: underline;">New Sale</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Submit the following fields to create a new sale</span></h2>
								<button class="btn btn-info" data-toggle="modal" data-target="#add-new-event" style="float: right; background-color: #7460EE;">Add New User <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		