		
		

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Vendors</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active">Vendor Main</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Inventory</h2>
							</div>
							<div class="card-block">
								<div class="row">
				                    <!-- .col -->
				                    <div class="col-md-6 col-lg-6 col-xlg-4">
				                        <div class="card card-body" onclick="Javascript:window.location.href = '<?=$base?><?=$company_info['nav_path']?>edit-vendor'" style="cursor: pointer; background-color: #55CE63; padding-top: 15px; padding-left: 20px; color: white;">
				                            <div class="row">
				                                <div class="col-md-4 col-lg-3 text-center">
				                                    <i class="fa fa-plus" style="font-size: 500%;"></i>
				                                </div>
				                                <div class="col-md-8 col-lg-9">
				                                    <h3 class="box-title m-b-0" style="color: white; font-weight: bold;">Create New Vendor</h3>
				                                    <address>
				                                       	Choose this option to create a vendor to associate products with.
				                                        <br/>
				                                    </address>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                    <!-- /.col -->
				                    <!-- .col -->
				                    <div class="col-md-6 col-lg-6 col-xlg-4">
				                        <div class="card card-body" onclick="Javascript:window.location.href = '<?=$base?><?=$company_info['nav_path']?>view-vendor'" style="cursor: pointer; background-color: #8270EF; padding-top: 15px; padding-left: 20px; color: white;">
				                            <div class="row">
				                                <div class="col-md-4 col-lg-3 text-center">
				                                    <i class="fa fa-pencil" style="font-size: 500%;"></i>
				                                </div>
				                                <div class="col-md-8 col-lg-9">
				                                    <h3 class="box-title m-b-0" style="color: white; font-weight: bold;">Edit A Current Vendor</h3>
				                                    <address>
				                                        Choose this option to edit a vendor already in the database.
				                                        <br/>
				                                    </address>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                    <!-- /.col -->
				                </div>
							</div>
						</div>
					</div>
				</div>
			</div>

