		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Pages</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>page">Pages Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">View Page</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Page Content Sections For - <span style="font-weight: bold;"><?=$page_name?></span><small> Click a row to edit</small></span></h2>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
						<div class="table-responsive">
							<table id="main_table" class="table table-hover table-striped">
								<thead>
									<tr>
										<th style="width: 50px;">ID</th>
										<th style="width: 150px;">Section Description</th>
										<th style="width: 200px;">Section Header</th>
										<th>Section Text</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($page_content as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=$data['section_description']?></td>
										<td><?=$data['section_header']?></td>
										<td><?=strip_tags($data['section_text'])?></td>
									</tr>
<?php endforeach; ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});
			
			function submitPage(page_id)
			{
				window.location.replace('<?=$company_info['nav_path']?>edit-page?page_id=' + page_id);
			}
		</script>
		
		