		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Reviews</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>reviews">Reviews Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold; text-decoration: underline;">View Review</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Reviews for <?=$product['name']?></span></h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
<?php if (count($reviews) == 0): ?>
								<div>There are no reviews for this product yet.</div>
<?php else: ?>
<?php foreach ($reviews as $id => $data): ?>
								<div class="shadow" style="padding: 8px; border: 2px solid #0FA18C; position: relative;">
									<label for="show_rating<?=$id?>"><?=$users[$data['user_id']]['first_name']?> gives it a <?=$data['rating']?>/10</label>
									<select id="show_rating<?=$id?>" name="show_rating<?=$id?>" data-current-rating="<?=$data['rating']?>" autocomplete="off">
										<option value=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
									<?=$data['description']?>	
									<div id="delete<?=$id?>" class="card" style="position: absolute; top: 5px; right: 5px; width: 30px; height: 30px; line-height: 30px; text-align: center; background-color: red; color: white; cursor: pointer;"><i class="fa fa-close"></i></div>
								</div>
<?php endforeach; ?>
<?php endif; ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
		 function ratingEnable() {
<?php foreach ($reviews as $id => $data): ?>
      $('#show_rating<?=$id?>').barrating({
          theme: 'fontawesome-stars-o',
          readonly: true,
          showSelectedRating: true,
          initialRating: currentRating<?=$id?>,
          onSelect: function(value, text) {
              if (!value) {
                  $('#show_rating<?=$id?>')
                      .barrating('clear');
              } else {
                  $('.stars-example-fontawesome-o .current-rating')
                      .addClass('hidden');
      
                  $('.stars-example-fontawesome-o .your-rating')
                      .removeClass('hidden')
                      .find('span')
                      .html(value);
              }
          },
          onClear: function(value, text) {
              $('.stars-example-fontawesome-o')
                  .find('.current-rating')
                  .removeClass('hidden')
                  .end()
                  .find('.your-rating')
                  .addClass('hidden');
          }
      });
<?php endforeach; ?>
		    }

		 var currentRating = $('#example-fontawesome-o').data('current-rating');

	        $('.stars-example-fontawesome-o .current-rating')
	            .find('span')
	            .html(currentRating);

	        $('.stars-example-fontawesome-o .clear-rating').on('click', function(event) {
	            event.preventDefault();

	            $('#example-fontawesome-o')
	                .barrating('clear');
	        });


<?php foreach ($reviews as $id => $data): ?>
	        var currentRating<?=$id?> = $('#show_rating<?=$id?>').data('current-rating');

	        $('.stars-example-fontawesome-o .current-rating')
	            .find('span')
	            .html(currentRating<?=$id?>);

	        $('.stars-example-fontawesome-o .clear-rating').on('click', function(event) {
	            event.preventDefault();

	            $('#show_rating<?=$id?>')
	                .barrating('clear');
	        });
<?php endforeach; ?>

	       

	    function ratingDisable() {
	        $('select').barrating('destroy');
	    }

	    $('.rating-enable').click(function(event) {
	        event.preventDefault();

	        ratingEnable();

	        $(this).addClass('deactivated');
	        $('.rating-disable').removeClass('deactivated');
	    });

	    $('.rating-disable').click(function(event) {
	        event.preventDefault();

	        ratingDisable();

	        $(this).addClass('deactivated');
	        $('.rating-enable').removeClass('deactivated');
	    });

	    ratingEnable();
	    
<?php foreach ($reviews as $id => $data): ?>
	    $("#delete<?=$id?>").click(function () {
			swal({   
				title: "Confrim Delete",   
				text: 'Are you sure you want to delete this review?',
				type: "warning",    
				showCancelButton: true,
				cancelButtonText: "No, go back",
				confirmButtonColor: "#15A59B",   
				confirmButtonText: "Yes!",   
				closeOnConfirm: false 
				}, 
				function(){   
					confirmDelete(<?=$id?>);
				}
			);
		});
<?php endforeach; ?>

        function confirmDelete(review_id) {
        	$.ajax({
        		url: "<?=$company_info['nav_path']?>deleteReview",
        		type: 'post',
        		dataType: 'html',
        		data: {
        			review_id: review_id
    			},
        		async: false,
        		success: function(data) {
        			if (data == 1) {
        				swal({   
        					title: "Review Deleted",   
        					text: 'This review has been deleted',
        					type: "success",    
        					confirmButtonColor: "#15A59B",   
        					confirmButtonText: "OK!",   
        					closeOnConfirm: false 
        					}, 
        					function(){   
        						window.location.replace('<?=$company_info['nav_path']?>view-reviews?product_id=<?=$product['id']?>');
        					});
        			} else {
        				alert(data);
        			}
        		} 
        	});
        } 
		</script>
