
		<!-- Main -->
			<section class="wrapper ">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px;">
					<header class="major">
						<h2>PREMIUM PRODUCT. LIFETIME SAVINGS.<div style="font-size: 50%; margin-bottom: 20px;">
						Delivered Promptly - 3 levels to fit your needs</div></h2>
					</header>

					<!-- Content -->
							<div id="levels" class="row" style="margin-bottom: 35px;">
								<div class="4u 12u(s)">
									<div class="shadow" style="height: 400px; background-color: white; position: relative;">
										<div style="position: absolute; height: 75px; top: 0; left: 0; width: 100%; background-color: green; text-align: center;">
											<h1 style="color: white; line-height: 75px;">Green Level</h1>
										</div>
										<h1 style="padding-top: 100px; text-align: center;"><span style="font-size: 225%;">20%</span> Discount</h1>
										<h1 style="text-align: center;">Donate <span style="font-size: 225%;">$150</span></h1>
										<h1 style="text-align: center;">Account Credited</h1>
										<h1 style="text-align: center; font-size: 300%;">$180</h1>
									</div>
								</div>
								<div class="4u 12u(s)">
									<div class="shadow" style="height: 400px; background-color: white; position: relative;">
										<div style="position: absolute; height: 75px; top: 0; left: 0; width: 100%; background-color: gold; text-align: center;">
											<h1 style="line-height: 75px;">Gold Level</h1>
										</div>
										<h1 style="padding-top: 100px; text-align: center;"><span style="font-size: 225%;">25%</span> Discount</h1>
										<h1 style="text-align: center;">Donate <span style="font-size: 225%;">$300</span></h1>
										<h1 style="text-align: center;">Account Credited</h1>
										<h1 style="text-align: center; font-size: 300%;">$375</h1>
									</div>
								</div>
								<div class="4u 12u(s)">
									<div class="shadow" style="height: 400px; background-color: white; position: relative;">
										<div style="position: absolute; height: 75px; top: 0; left: 0; width: 100%; background-color: black; text-align: center;">
											<h1 style="color: white; line-height: 75px;">Black Level</h1>
										</div>
										<h1 style="padding-top: 100px; text-align: center;"><span style="font-size: 225%;">30%</span> Discount</h1>
										<h1 style="text-align: center;">Donate <span style="font-size: 225%;">$500</span></h1>
										<h1 style="text-align: center;">Account Credited</h1>
										<h1 style="text-align: center; font-size: 300%;">$650</h1>
									</div>
								</div>
								<div class="12u 12u(s)">
								<h3>Have Friends? <span style="font-size: 200%; color: green; margin: 0 5px;"> GOOD!</span> 
								Join THE FREE TREE PROGRAM TODAY! A PREMIUM SERVICE THAT CAN BE ADDED ON TO ANY ACCOUNT.</h3>
								<p style="margin-top: -15px;">
									WHEN YOUR FRIENDS JOIN THE FREE TREE PROGRAM YOU WILL CONTINUOUSLY RECEIVE 5% OF EVERY 
									ORDER THEY PLACE OFF THE MENU AND /OR WHEN THEY REFILL THE MEMBERSHIP.
									REFER 20 FRIENDS, AND YOU RECEIVE THE AVERAGE OF WHAT THEY CUMULATIVELY DONATE TO 
									WWW DEPOSITED IN YOUR ACCOUNT, ON EVERY DONATION, TO USE FOR YOUR NEXT DELIVERY.
								</p>
								<p style="margin-top: -15px;">
									Our mission to provide the highest quality service by giving back to our patients 
									comes full circle with our FreeTree Program & Lifetime Patient Deal.
									Enjoy our premium sourced discounted cannabis and products from your Membership 
									Account via mobile device. Delivered promptly, 7 days a week. 
								</p>
								<p>
									Unhappy with the quality of your current provider? We will swap it out for an equivalent 
									on our menu on your first order with us, free of charge.
								</p>
								</div>
								<div class="6u 12u(s)" style="display: none;">
									<div><img class="shadow" alt="" src="../../../uploads/membership.jpg" style="padding: 0;"></div>
								</div>
							</div>
							
							<div style="margin: 50px 0;">
								<h2>Move the slider to see how much you can save with the Free Tree Program</h2>
						
								<input style="display: none;" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
						
								<button type="text" data-slider="true" data-slider-step="0.05" onchange="updateSlider(this.value)" TouchDown="button_TouchDown" TouchUp="button_TouchUp">test</button>
								<div id="join" class="row" style="text-align: center; font-size: 140%; font-weight: bold;">
									<div class="3u 6u(s)">
										<div class="shadow" style="background-color: #c1c1c1; padding: 25px;">Friends Referred: <span id="friends">0</span></div>
									</div>
									<div class="3u 6u(s)">
										<div class="shadow" style="background-color: #c1c1c1; padding: 25px; color: green;">$ Made With Green Referral: $<span id="green_earn">0</span></div>
									</div>
									<div class="3u 6u(s)">
										<div class="shadow" style="background-color: #c1c1c1; padding: 25px; color: gold;">$ Made With Gold Referral: $<span id="gold_earn">0</span></div>
									</div>
									<div class="3u 6u(s)">
										<div class="shadow" style="background-color: #c1c1c1; padding: 25px; color: black;">$ Made With Black Referral: $<span id="black_earn">0</span></div>
									</div>
								</div>
							</div>
							<div style="margin: 50px 0; text-align: center;">
								<h2>Remember to select the membership level you want when signing up, or change from your account settings any time if you are a member.</h2>
								<a href="/membership" class="button">SIGN-UP NOW!</a>
							</div>

			<script type="text/javascript">

			</script>

						
						

					<!-- Sidebar -->
						<div class="sidebar" style="display: none;">
							<hr style="margin-top: -35px;">
							<section>
								<p>
									Simply fill your cart and deduct order total from account balance.
									When you deliver your entire balance, refill to desired level of membership 
									or order off of the menu.
								</p>
								<a href="/join" class="button join_link" style=" border-bottom: 0px solid black; width: 100%;">Join Today!</a>
<!-- 								<footer> -->
<!-- 									<ul class="actions"> -->
<!-- 										<li><a href="#" class="button">Learn More</a></li> -->
<!-- 									</ul> -->
<!-- 								</footer> -->
							</section>
							<hr />
							<section>
								<a href="#" class="image fit"><img src="../../../uploads/pic01.jpg" alt="" /></a>
								<h3>Amet Lorem Tempus</h3>
								<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button join_link">Learn More</a></li>
									</ul>
								</footer>
							</section>
						</div>
				</div>
			
			</section>
			
			<style>
				.join_link {
					background-color: white;
				}
				
				.join_link:hover {
					background-color: #FFCA70;
				}
				
				#levels {
					margin-top: -150px;
				}
				
				@media screen and (max-width: 1001px) {
					#levels {
						margin-top: -30px;
					}
				}
				
				input {
					border: 1px solid #828282 !important;
					color: #828282 !important;
				}

				div input[type=radio]{
				  position: absolute;
				  visibility: hidden;
				}
				
				div label{
				  display: block;
				  position: relative;
				  font-weight: 300;
				  font-size: 1.35em;
				  padding: 25px 25px 25px 80px;
				  margin: 10px auto;
				  height: 30px;
				  z-index: 9;
				  cursor: pointer;
				  -webkit-transition: all 0.25s linear;
				}
				
				div:hover label{
					color: #FFFFFF;
				}
				
				div .check{
				  display: block;
				  position: absolute;
				  border: 0px solid #AAAAAA;
				  border-radius: 100%;
				  height: 25px;
				  width: 25px;
				  top: 30px;
				  left: 20px;
					z-index: 5;
					transition: border .25s linear;
					-webkit-transition: border .25s linear;
				}
				
				div:hover .check {
				  border: 0px solid #FFFFFF;
				}
				
				div .check::before {
				  display: block;
				  position: absolute;
					content: '';
				  border-radius: 100%;
				  height: 15px;
				  width: 15px;
				  top: 5px;
					left: 5px;
				  margin: auto;
					transition: background 0.25s linear;
					-webkit-transition: background 0.25s linear;
				}
				
				input[type=radio]:checked ~ .check {
				  border: 0px solid #0DFF92;
				}
				
				input[type=radio]:checked ~ .check::before{
				  background: #0DFF92;
				}
				
				input[type=radio]:checked ~ label{
				  color: #0DFF92;
				}				
			</style>
			<script>
				function updateMembership(value) {
					switch(value.selectedIndex) {
						case 1:
							document.getElementById('member_warning').style.display = 'inline';
							document.getElementById('member_amount').innerHTML = '150';
							break;
						case 2:
							document.getElementById('member_warning').style.display = 'inline';
							document.getElementById('member_amount').innerHTML = '300';
							break;
						case 3:
							document.getElementById('member_warning').style.display = 'inline';
							document.getElementById('member_amount').innerHTML = '500';
							break;
						default:
					 		document.getElementById('member_warning').style.display = 'none';
					}
				}
			
				function showSubmit() {
					document.getElementById('submit_row').style.display = 'inline';
				}
				
				function updateSlider(i) {
					var x = (Math.round(i * 20) / 20).toFixed(2);

					var num = x * 20;
					document.getElementById('friends').innerHTML = num;
					document.getElementById('green_earn').innerHTML = Math.ceil(num * 7.5);
					document.getElementById('gold_earn').innerHTML = Math.ceil(num * 15);
					document.getElementById('black_earn').innerHTML = Math.ceil(num * 25);
				}
			
			  $("[data-slider]")
			    .each(function () {
			      var input = $(this);
			      $("<span style='color: transparent;'>")
			        .addClass("output")
			        .insertAfter($(this));
			    })
			    .bind("slider:ready slider:changed", function (event, data) {
			      $(this)
			        .nextAll(".output:first")
			          .html(data.value.toFixed(3));
			    });
			  </script>
		
			