<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../../admin/bb_logo.ico">
    <title>SecureLoad</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../../admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../admin/css/style.css?ts=<?=time()?>&quot;" rel="stylesheet">
    <link href="../../../css/custom.css?ts=<?=time()?>&quot;" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../../../admin/css/colors/megna-dark.css" id="theme" rel="stylesheet">
    <link href="../../../css/grid.css" id="theme" rel="stylesheet">
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.js"></script> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="../../../css/fontawesome-pro-5.0.1/web-fonts-with-css/css/fontawesome-all.min.css" id="theme" rel="stylesheet">
</head>

<body>
	<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
<section id="wrapper" style="height: 100vh;">

	<script>
		var gripes = <?php echo json_encode($gripes); ?>;
		var in_use_gripes = <?php echo json_encode($in_use_gripes); ?>;
		var not_in_use_gripes = <?php echo json_encode($not_in_use_gripes); ?>;
		var selected_multiple_gripes = [];
		var selected_load = '';
	</script>

	<div class="login-register" style="background-image:url('../../../uploads/blue_bg.jpg');">        
		<div class="login-box card" style="padding: 5px; border: 2px solid #009EFB;">
			
			<div id="content_box1" class="card-block" style="background-color: white; color: #333333; font-family: 'Roboto', sans-serif !important;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLSplash</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%; margin-left: 25%;">
				<h3 style="text-align: center; color: #333333; font-weight: bold;">
					Powered Load Tensioner
					<br>
					Intelligent Transport Monitoring
				</h3>
				<img alt="" src="../../../uploads/gripe.png" style="width: 100%;">
				<h3 style="text-align: center; color: #333333; font-size: 90%;">
					Saves Time During Loading &amp; Unloading
					<br>
					Reduces the Risk of Injury
					<br>
					Monitors Load Tension During Transport
					<br>
					Long Battery Life
				</h3>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(1, 2)">Log In</button>
			</div>
			
			<div id="content_box2" class="card-block" style="background-color: white; color: #333333; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLHome</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%; margin-left: 25%;">
				<div style="height: 40px;">&nbsp;</div>
				<h3 style="text-align: center; color: #333333; text-decoration: underline;">
					Gripes Avaialble for Use
				</h3>
				<h3 style="text-align: center; color: #333333; line-height: 40px;">

<?php foreach($gripes as $id => $data): ?>
<?php if (isset($not_in_use_gripes[$id])): ?>
					<button id="home_not_in_use_button<?=$id?>" class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript:"><?=$id?></button>
<?php else: ?>
					<button id="home_not_in_use_button<?=$id?>" class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript:" style="display: none;"><?=$id?></button>
<?php endif; ?>
<?php endforeach; ?>	
	
				</h3>
				<h3 style="text-align: center; color: #333333; text-decoration: underline;">
					Gripes In Use
				</h3>
				<h3 style="text-align: center; color: #333333; line-height: 40px;">

<?php foreach($gripes as $id => $data): ?>
<?php if (isset($in_use_gripes[$id])): ?>
					<button id="home_in_use_button<?=$id?>" class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript:"><?=$id?></button>
<?php else: ?>
					<button id="home_in_use_button<?=$id?>" class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript:" style="display: none;"><?=$id?></button>
<?php endif; ?>
<?php endforeach; ?>	
				</h3>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(2, 3);" style="margin-top: 1em;">Select &amp; Sync</button>
				<br><br><br>
				<div class="row" style="text-align: center;">
					<div class="3u">
						<div>
							<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(2, 11);"><i class="fa fa-gear"></i></button>
						</div>
					</div>
					<div class="3u">
						<div>
							<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(2, 8);"><i class="fa fa-exclamation-triangle"></i></button>
						</div>
					</div>
					<div class="3u">
						<div>
							<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(2, 9);"><i class="fa fa-battery-bolt"></i></button>
						</div>
					</div>
					<div class="3u">
						<div>
							<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(2, 10);"><i class="fa fa-truck"></i></button>
						</div>
					</div>
				</div>
			</div>

			<div id="content_box3" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLSelect</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(3, 4);" style="border-radius: 50px; background-color: #103047;">Select Single SL</button>
				<br><br>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(3, 5);" style="border-radius: 50px; background-color: #103047;">Select Multiple SLs</button>
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
			<div id="content_box4" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px; border-radius: 50px;">SLSelectGripe</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
				<div style="margin-bottom: 50px;">
					<h3 style="text-align: center; color: #333333; border-bottom: 1px solid grey;">
						<div>Choose a Gripe</div>
						<div style="font-size: 60%;">LED blinks when secured</div>
					</h3>
<?php if (count($not_in_use_gripes) == 0): ?>
					No gripes available
<?php else: ?>
					<select id="SLSelectGripe_selection" class="form-control" style="background-color: white; border: 2px solid #009EFB;">
<?php foreach($not_in_use_gripes as $id => $data): ?>
						<option id="SLSelectGripe_selection_option<?=$id?>"  value="<?=$id?>"><?=$id?></option>
<?php endforeach; ?>	
					</select>
<?php endif; ?>
					
				</div>
		
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(4,7); setSingleGripe();">Select This SL</button>
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px;"><i class="fa fa-undo-alt"></i></button>
			</div>
			
			<script type="text/javascript">

				var selected_single_gripe = 0;
			
				function setSingleGripe() {
					selected_single_gripe = document.getElementById('SLSelectGripe_selection').value;

					document.getElementById('change_single_tension').innerHTML = parseFloat(selected_single_gripe);
					document.getElementById('original_single_gripe_tension').innerHTML = parseFloat(gripes[selected_single_gripe]['current_tension']);

					if (gripes[selected_single_gripe].current_load == '') {
						current_load = '';
					} else {
						current_load = parseFloat(gripes[selected_single_gripe].current_load);
					}

					document.getElementById('select_multiple_gripes_load_' + current_load).value = current_load;
					
					printSingleGripe();
				}

				function printSingleGripe() {
					
					document.getElementById('single_gripe_tension').innerHTML = parseFloat(gripes[selected_single_gripe]['current_tension']);

					if (parseFloat(gripes[selected_single_gripe]['current_tension']) == 0) {
						document.getElementById('zero_single_tension_button').style.display = 'none';
					} else {
						document.getElementById('zero_single_tension_button').style.display = '';
					}
					
				}
			</script>
			
			<div id="content_box5" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLSelectGripes</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
				<div style="margin-bottom: 25px;">
					Load:
					<select id="select_multiple_gripes_load" class="form-control" style="background-color: white; border: 2px solid #009EFB;">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						<option value="D">D</option>
						<option value="E">E</option>
					</select>
				</div>
				<h3 style="text-align: center; color: #333333; text-decoration: underline;">
					Select Multiple Available Gripes
				</h3>
				<h3 style="text-align: center; color: #333333; line-height: 40px;">

<?php foreach($gripes as $id => $data): ?>
<?php if (isset($not_in_use_gripes[$id])): ?>
					<button id="SLSelectGripes_<?=$id?>" class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: clickGripe(<?=$id?>);"><?=$id?></button>
<?php else: ?>
					<button id="SLSelectGripes_<?=$id?>" class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: clickGripe(<?=$id?>);" style="display: none;"><?=$id?></button>
<?php endif; ?>
					<input type="hidden" id="SLSelectGripes_<?=$id?>_value" value="0">
<?php endforeach; ?>	
				</h3>
				<div style="height: 40px;">&nbsp;</div>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: syncMultipleGripes();">Sync</button>
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px;"><i class="fa fa-undo-alt"></i></button>
			</div>
			
			<script>
				function clickGripe(id) {
					if (document.getElementById('SLSelectGripes_' + id + '_value').value == 0) {
						document.getElementById('SLSelectGripes_' + id).style.backgroundColor = '#F62D51';
						document.getElementById('SLSelectGripes_' + id + '_value').value = 1;
					} else {
						document.getElementById('SLSelectGripes_' + id).style.backgroundColor = '#009efb';
						document.getElementById('SLSelectGripes_' + id + '_value').value = 0;
					}
					
				}

				function syncMultipleGripes () {
<?php foreach($not_in_use_gripes as $id => $data): ?>
					if (document.getElementById('SLSelectGripes_<?=$id?>_value').value == 1) {
						selected_multiple_gripes.push(<?=$id?>);
					}

					document.getElementById('SLSelectGripes_<?=$id?>_value').value = 0;
					document.getElementById('SLSelectGripes_<?=$id?>').style.backgroundColor = '#009efb';
<?php endforeach;?>

					

					$.ajax({
						url: "/home/SetMultipleLoadAction",
						type: 'post',
						dataType: 'html',
						data: {
							gripe_ids: selected_multiple_gripes,
							load: document.getElementById('select_multiple_gripes_load').value
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								getCurrentGripes();		
								
								swal('Successfully set gripes to specified load.');

								selected_load = document.getElementById('select_multiple_gripes_load').value;

								changePage(5, 6);
							
							} else {
								
								alert(data + '!!!');
								console.log(data);
							}
						},
						error: function(data) {
							alert('error');
							console.log(data['responseText']);
						}
					});
				}
			</script>
			
			
			<div id="content_box6" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLAutoAdjust</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
				
				<h3 style="text-align: center; color: #333333; text-decoration: underline;">
					Selected Load:
				</h3>
				<h2 id="selected_load_auto_adjust" style="margin-bottom: 50px; color: #F62D51; font-weight: bold;">-</h2>
				
				<h3 style="text-align: center; color: #333333; text-decoration: underline;">
					Selected SL Modules:
				</h3>
				<h2 id="selected_gripes_auto_adjust" style="margin-bottom: 50px; color: #F62D51; font-weight: bold;">-</h2>
				
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: tightenAll();">Tighten All</button>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: loosenAll();">Loosen All</button>
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px;"><i class="fa fa-undo-alt"></i></button>
				
			</div>
			
			<script>
				function tightenAll() {
					swal('Zentri Message','TightenLoadToTarget message to GW', 'warning');
				}

				function loosenAll() {
					swal('Zentri Message',' FullExtendLoad message to GW', 'warning');
				}
			</script>
			
			<div id="content_box7" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLManAdjust</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
				<div>
					<i class="fa fa-battery-bolt"></i>
				</div>
				
				<div>
					Load:
					<select id="select_multiple_gripes_load" class="form-control" style="background-color: white; border: 2px solid #009EFB;" onchange="javascript: SLManAdjust_changeLoad(this.value);">
						<option id="select_multiple_gripes_load_" value="">- Select a Load -</option>
						<option id="select_multiple_gripes_load_A" value="A">A</option>
						<option id="select_multiple_gripes_load_B" value="B">B</option>
						<option id="select_multiple_gripes_load_C" value="C">C</option>
						<option id="select_multiple_gripes_load_D" value="D">D</option>
						<option id="select_multiple_gripes_load_E" value="E">E</option>
					</select>
				</div>
				
				<br>
				<div style="height: 10px;">&nbsp;</div>
				<h3 style="color: #333333; margin-top: -1em; margin-bottom: 1em;">Current tension of gripe <span style="font-size: 125%; font-weight: bold;">#<span id="change_single_tension">0</span></span>:</h3>
				<div style="margin-top: -25px; margin-bottom: 30px; font-weight: bold; font-size: 125%;"><span id="original_single_gripe_tension"></span> lbf</div>
								
				<button id="zero_single_tension_button" class="btn btn-danger btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: zeroSingleTension();" style="border-radius: 50px; margin-top: -10px; margin-bottom: 10px;">CLEAR TENSION</button>
								
				<div style="user-select: none;">Set to:</div>		
				<div style="white-space: nowrap; user-select: none; margin-bottom: 10px;">
					<img onclick="javascript: decreaseSingleTension();" src="../../../uploads/tri_left.png" style="width: 80px; cursor: pointer;">

					<span style="height: 50px; width: 50px; line-height: 50px; padding: 15px; font-size: 200%; font-weight: bold; margin: 1em .4em;"><span id="single_gripe_tension">0</span> lbf</span>
					
					<img onclick="javascript: increaseSingleTension();" src="../../../uploads/tri_right.png" style="width: 80px; cursor: pointer;">
				</div>		

				<br>
				
				
				
				<button id="change_single_gripe_button" class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" style="display: none;border-radius: 50px; " onclick="javascript: updateSingleTension()">CHANGE TENTION <i class="fa fa-exclamation"></i></button>
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
	
			
			<script>
				var SLManAdjust_load = '';
			
				function SLManAdjust_changeLoad(value) {
					SLManAdjust_load = value;
				}
				
				function decreaseSingleTension () {
					if (gripes[selected_single_gripe]['current_tension'] > 0) {
						gripes[selected_single_gripe]['current_tension']--; 
					}

					printSingleGripe();

					document.getElementById('change_single_gripe_button').style.display = '';
				}

				function zeroSingleTension () {
					gripes[selected_single_gripe]['current_tension'] = 0; 

					printSingleGripe();

					document.getElementById('change_single_gripe_button').style.display = '';
				}
	
				function increaseSingleTension () {
					gripes[selected_single_gripe]['current_tension']++; 
					
					printSingleGripe();

					document.getElementById('change_single_gripe_button').style.display = '';
				}

				function updateSingleTension() {
					do {
						if (SLManAdjust_load == '') {
							swal('you must select a load for this SL.');
							break;
						}

						$.ajax({
							url: "/home/updateSingleTensionAction",
							type: 'post',
							dataType: 'html',
							data: {
								gripe_id: selected_single_gripe,
								current_tension: gripes[selected_single_gripe]['current_tension'],
								load: SLManAdjust_load
							},
							async: false,
							success: function(data) {
								if (data > 0) {
									document.getElementById('original_single_gripe_tension').innerHTML = parseFloat(gripes[selected_single_gripe]['current_tension']);

									document.getElementById('change_single_gripe_button').style.display = 'none';

									swal('Zentri Message', 'IncreaseTension/DecreaseTension message to	GW', 'warning');
								
								} else {
									
									alert(data);
									console.log(data);
								}
							} 
						});
					} while (false);
				}
			</script>
			
			<div id="content_box8" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLAlert</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
			
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript:">Warning</button>
				<br><br>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript:">Stop &amp; Check</button>
				
				<div style="height: 40px;">&nbsp;</div>
				
				<div style="font-weight: bold; color: #F62D51;">The following SLs may be loose<br><span style="font-size: 200%;">1, 2</span></div>
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
			<div id="content_box9" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLBatt</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
			
				<img alt="" src="../../../uploads/battery1.jpg" style="width: 30%; border-radius: 5px;">
				<div style="font-weight: bold; color: #F62D51;">
					The following SLs have a battery level < 40%<br>
					<span id="low_battery_box" style="font-size: 200%;">-</span>
				</div>
				
				
				<div style="height: 40px;">&nbsp;</div>
				<img alt="" src="../../../uploads/battery2.jpg" style="width: 30%; border-radius: 5px;">
				
				<div style="font-weight: bold; color: #F62D51;">
					Batteries OK<br>
					<span id="not_low_battery_box" style="font-size: 200%;">-</span>
				</div>				
				
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
			<div id="content_box10" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLLoadOutPlan1</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
			
				<div>This page contains usage instructions and important data regarding SecureLoad</div>				
				
				<div style="height: 40px;">&nbsp;</div>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(10, 12);">Determine Requirements</button>
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
			<div id="content_box11" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLSettings</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
			
				<div>This page contains user settings and reporting tools.</div>				
				
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
			<div id="content_box12" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLLoadOutPlan2</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
	
				<div class="row" style="margin-bottom: 15px;">
					<div class="col-lg-10">
						<div>
							<select id="pounds" class="form-control" style="background-color: white; border: 2px solid #009EFB;">
								<option>5,000</option>
								<option selected>10,000</option>
								<option>15,000</option>
								<option>20,000</option>
								<option>25,000</option>
								<option>30,000</option>
								<option>35,000</option>
							</select>
						</div>
					</div>
					<div class="col-lg-2">
						<div style="margin-top: 10px; text-align: left; font-weight: bold; margin-left: -20px;">Lbs</div>
					</div>
				</div>		
				<div class="row">
					<div class="col-lg-10">
						<div>
							<select id="feet" class="form-control" style="background-color: white; border: 2px solid #009EFB;">
								<option>5</option>
								<option>10</option>
								<option selected>15</option>
								<option>20</option>
								<option>25</option>
								<option>30</option>
								<option>35</option>
							</select>
						</div>
					</div>
					<div class="col-lg-2">
						<div style="margin-top: 10px; text-align: left; font-weight: bold; margin-left: -20px;">Feet</div>
					</div>
				</div>
				
				<div style="height: 40px;">&nbsp;</div>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(12, 13);">FMCSA Requirements</button>
				<div style="height: 30px;">&nbsp;</div>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(12, 2);">Return To Home</button>
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
			<div id="content_box13" class="card-block" style="background-color: white; color: #333333; text-align: center; font-family: 'Roboto', sans-serif !important; display: none; position: relative;">
				<div class="shadow" style="position:absolute; top: 0; margin-top: -50px; background-color: white; text-align: center; padding: 5px 15px;">SLLoadOutPlan3</div>
				<img alt="" src="../../../uploads/secure_load_logo.png" style="width: 50%;">
				<div style="height: 40px;">&nbsp;</div>
			
				<div style="margin-bottom: 15px;">
					<select id="vehicle_type" class="form-control" style="background-color: white; border: 2px solid #009EFB;">
						<option>Small Truck</option>
						<option selected>Medium Truck</option>
						<option>Large Truck</option>
						<option>Very Large Truck</option>
						<option>Huge truck</option>
					</select>
				</div>
				<div style="margin-bottom: 15px;">
					<select id="equipment_type" class="form-control" style="background-color: white; border: 2px solid #009EFB;">
						<option>Wheeled</option>
						<option selected>Tracks</option>
					</select>
				</div>
				
				<div style="font-size: 130%;">
					<div style="font-weight: bold;">5,000 Lbs</div>
					<div style="font-weight: bold; margin-bottom: 15px;">15 Ft.</div>
					<div style="">Number of securement<br>points &amp; spacing</div>
					<div style="font-weight: bold;">4</div>
				</div>
				
				<div style="height: 40px;">&nbsp;</div>
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript: changePage(13, 2);">Return To Home</button>
				
				<button class="btn btn-info text-uppercase waves-effect waves-light" type="submit" onclick="javascript: back();" style="background-color: #F62D51; position: absolute; top: 10px; right: 10px; height: 35px; width: 35px; line-height: 35px; padding:0;  border-radius: 50px;">
					<i class="fa fa-arrow-alt-left"></i>
				</button>
			</div>
			
		</div>
	</div>
</section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../../admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../../admin/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../../../admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../../admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../../admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../../admin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../../../admin/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../../../admin/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="../../../admin/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

	<script type="text/javascript">

		var selected_action = 1;
		var previous_action = 1;
		var actions = [1];

		function changePage(box_out, box_in) {
			document.getElementById('content_box' + box_out).style.display = 'none';
			document.getElementById('content_box' + box_in).style.display = '';

			selected_action = box_in;
			previous_action = box_out;

			actions.push(box_in);

			if (box_in == 5) {
				selected_multiple_gripes = [];
			}

			if (box_in == 6) {

				var string = '';
				var count = 1; 
				
				for (record in selected_multiple_gripes) {
					var gripe_id = selected_multiple_gripes[record];

					if (count < selected_multiple_gripes.length) {
						string += gripe_id + ', ';
					} else {
						string += gripe_id;
					}

					count++;
				}

				document.getElementById('selected_gripes_auto_adjust').innerHTML = string;
				document.getElementById('selected_load_auto_adjust').innerHTML = selected_load;
			}

			getCurrentGripes();
		}

		function getCurrentGripes () {
			$.ajax({
				url: "/home/getGripesAction",
				type: 'post',
				dataType: 'html',
				data: {

				},
				async: false,
				success: function(data) {
					data = JSON.parse(data);

					string = '';

					for (record in data.not_in_use_gripes) {
						document.getElementById('SLSelectGripes_' + record).style.display = '';

						document.getElementById('home_not_in_use_button' + record).style.display = '';
						document.getElementById('home_in_use_button' + record).style.display = 'none';

						string += `
							<option id="SLSelectGripe_selection_option` + record + `"  value="` + record + `">` + record + `</option>
						`;
					}

					document.getElementById('SLSelectGripe_selection').innerHTML = string;

					for (record in data.in_use_gripes) {
						document.getElementById('SLSelectGripes_' + record).style.display = 'none';

						document.getElementById('home_not_in_use_button' + record).style.display = 'none';
						document.getElementById('home_in_use_button' + record).style.display = '';
					}

					var string = '';
					var count = 1; 
					
					for (record in data.low_battery) {
						var gripe_id = data.low_battery[record]['id'];

						//if (count < data.low_battery[record].length) {
							string += gripe_id + '<span style="font-size: 70%; color: grey;">(' + parseFloat(data.low_battery[record]['battery_level']) + '%) - </span>';
						//} else {
						//	string += gripe_id;
						//}

						count++;
					}

					document.getElementById('low_battery_box').innerHTML = string;

					var string = '';
					var count = 1; 
					
					for (record in data.not_low_battery) {
						var gripe_id = data.not_low_battery[record]['id'];

						//if (count < data.not_low_battery[record].length) {
						string += gripe_id + '<span style="font-size: 70%; color: grey;">(' + parseFloat(data.not_low_battery[record]['battery_level']) + '%) - </span>';
						//} else {
						//	string += gripe_id;
						//}

						count++;
					}

					document.getElementById('not_low_battery_box').innerHTML = string;
					
				} 
			});
		}

		function back() {
			var start_index = actions.length;
			var index = actions.length - 1;
			
			document.getElementById('content_box' + selected_action).style.display = 'none';
			document.getElementById('content_box' + actions[actions.length-2]).style.display = '';

			selected_action = actions[actions.length-2];
			previous_action = actions[actions.length-1];

			actions.pop();

			if (selected_action == 5) {
				selected_multiple_gripes = [];
			}
		}
		
		var colors = new Array(
			[62,35,255],
			[60,255,60],
			[255,35,98],
			[45,175,230],
			[255,0,255],
			[255,128,0]
		);

		var step = 0;
		//color table indices for: 
		// current color left
		// next color left
		// current color right
		// next color right
		var colorIndices = [0,1,2,3];

		//transition speed
		var gradientSpeed = 0.002;

		function updateGradient()
		{
			if ( $===undefined ) return;
			
			var c0_0 = colors[colorIndices[0]];
			var c0_1 = colors[colorIndices[1]];
			var c1_0 = colors[colorIndices[2]];
			var c1_1 = colors[colorIndices[3]];

			var istep = 1 - step;
			var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
			var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
			var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
			var color1 = "rgb("+r1+","+g1+","+b1+")";

			var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
			var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
			var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
			var color2 = "rgb("+r2+","+g2+","+b2+")";

			$('.gradient').css({
				background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
				background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});
			
			step += gradientSpeed;

			if ( step >= 1 ) {
				step %= 1;
				colorIndices[0] = colorIndices[1];
				colorIndices[2] = colorIndices[3];
			
				//pick two new target color indices
				//do not pick the same as the current one
				colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
				colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
			}
		}

		setInterval(updateGradient,5);	
	</script>
</html>