
		<!-- Main -->
			<section id="main" class="wrapper" style="margin-top: 100px;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px; text-align: center; position: relative;">
					<header class="major">
						<h2 style="margin-bottom: -80px;">test</h2>
					</header>
					<div>
						hey
					</div>
				</div>
			</section>
			
			<script type="text/javascript">
			var username = '64d570652b59cbf9c7a89fce5f0b0b1a';
			var password = '';
			
			var data_string =`{
					"destination":
					{
						"address":
						{
							"unparsed":"1650 Kearsarge Rd, La Jolla, CA, USA"},
							"notes":"Small green door by garage door has pin pad, enter *4821*"
						},
						"recipients":
						[{
							"name":"Fred Douglas",
							"phone":"207-522-4409",
							"notes":"Hook this guy up."
						}],
						"notes":"Order 384: Stokes Confections 100mg (2 bottles) - Kushy Punch Hybrid (1) - Kushy Punch Hybrid (3)",
						"autoAssign":
						{
							"mode":"distance"
						}
					}`;

			data_string = data_string.replace(/(\r\n|\n|\r)/gm,"");

			$.ajax({
				url: "https://onfleet.com/api/v2/tasks",
				type: 'POST',
				async: false,
				headers: {
					"Authorization": "Basic " + btoa(username + ":" + password)
				},
				dataType: 'json',
				data: data_string,
				async: false,
				success: function(data) {
					console.log(data);
				} 
			});



			</script>
