<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		
		<script src="../../../bower_components/sweetalert/dist/sweetalert.min.js"></script> 
		<link rel="stylesheet" type="text/css" href="../../../bower_components/sweetalert/dist/sweetalert.css">	
	
		<meta charset="UTF-8">
		<title>Admin Login</title>
		<style>
			body {
				background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
				background-size: cover;
				font-family: Montserrat;
			}
		
			.login-block {
				width: 320px;
				padding: 20px;
				background: #fff;
				border-radius: 5px;
				border-top: 5px solid #ff656c;
				margin: 0 auto;
			}
		
			.login-block h1 {
				text-align: center;
				color: #000;
				font-size: 18px;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 20px;
			}
		
			.login-block input {
				width: 100%;
				height: 42px;
				box-sizing: border-box;
				border-radius: 5px;
				border: 1px solid #ccc;
				margin-bottom: 20px;
				font-size: 14px;
				font-family: Montserrat;
				padding: 0 20px 0 50px;
				outline: none;
			}
		
			.login-block input#username {
				background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
				background-size: 16px 80px;
			}
		
			.login-block input#username:focus {
				background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
				background-size: 16px 80px;
			}
		
			.login-block input#password {
				background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
				background-size: 16px 80px;
			}
		
			.login-block input#password:focus {
				background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
				background-size: 16px 80px;
			}
		
			.login-block input:active, .login-block input:focus {
				border: 1px solid #ff656c;
			}
		
			.login-block button {
				width: 100%;
				height: 40px;
				background: #ff656c;
				box-sizing: border-box;
				border-radius: 5px;
				border: 1px solid #e15960;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
				font-family: Montserrat;
				outline: none;
				cursor: pointer;
			}
		
			.login-block button:hover {
				background: #ff7b81;
			}
	
		</style>
	</head>
<body>
	<div class="login-block" style="margin-top: 10%;">
		<h1>Login</h1>
		<input type="text" value="" placeholder="Username" id="username" />
		<input type="password" value="" placeholder="Password" id="password" />
		<button onclick="dontgetit()">Submit</button>
	</div>
</body>
<script type="text/javascript">
		$(document).keypress(function(event){
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if(keycode == '13'){
				dontgetit();
			}
		});

<?php if ($error == true): ?>
		swal("Oops...", "Your login information was incorrect", "error");
<?php endif; ?>
		
		function dontgetit()
		{
			alert('test');
		}
</script>
</html>