
		<!-- Main -->
			<section class="wrapper">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px; position: relative; text-align: center;">
					<header class="major">
						<h2 style="margin-bottom: -65px;">MEDIA</h2>
					</header>

					<div class="shadow bar" style="height: 15px; width: 100%; z-index: 11111;">&nbsp;</div>
					<div class="content">
						<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
						<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
						<ul class="juicer-feed" data-feed-id="worldwideweed" data-columns="6"></ul>
					</div>
				</div>
			
			</section>
			
			<style>
				.referral a {
					display: none !important;
				}
				
				.juicer {
					display: none !important;
				}
			</style>
			