
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner" style="margin-top: 100px;">

					<header class="major" style="text-align: center; margin-bottom: 35px;">
						<h2>Blog</h2>
					</header>
					<div class="row">
<?php foreach($blog_posts as $id => $data): ?>
						<div class="6u 12u(s)">
							<div class="shadow" style="text-align: left; background-color: white; cursor: pointer;" onclick="javascript: window.location.href='/blog/view?id=<?=$id?>'">
								<div class="box_pic" style="width: 100%; height: 400px; background-image: url('../../../uploads/<?=trim($data['attachment_file_name'])?>');">&nbsp;</div>
								<div style="padding: 50px; width: 100%; height: 0; padding-bottom: 35%;">
									<h2><?=$data['title']?></h2>
									<h5 style="margin-top: -55px; font-style: italic; color: #939393;"><?=$data['created_date']?></h5>
									<div>
									<?=substr(strip_tags($data['content_text']), 0, 160)?>... CLICK TO READ MORE!
									</div>
								</div>
							</div>
						</div>
<?php endforeach; ?>			
					</div>

				</div>
			</section>
			<style>
				.image_left {
					padding-left: 75px;	
				}
					
				@media screen and (max-width: 736px) {
					
					.image_left {
						padding-left: 20px;	
					}
		
				}
			</style>
