<div id="main">

						<!-- Post -->
							<section class="main special" style="background-image: url('../../../uploads/flower_bg2.png');">
								<div class="inner" style="background-color: white;">
									<header class="major">
										<span class="category">About Us</span>
<!-- 										<ul class="meta"> -->
<!-- 											<li>3 days ago</li> -->
<!-- 											<li><a href="#" class="favorites">2,174</a></li> -->
<!-- 											<li><a href="#" class="comments">1,423</a></li> -->
<!-- 										</ul> -->
									</header>
									<div class="image main" style="background-image: url('../../../uploads/mint.jpg'); height: 300px;">
										<h2 style="padding-top: 100px;"><span style="color: white; font-size: 160%; background-color: rgba(0,0,0,0.65); padding: 10px; font-family: line;">Southern California's first and only medical marijuana florists</span></h2>
									</div>
									<p>
Here at Flowers on Flowers, we are a diverse group of florists and growers that believe all plants are created equal and therefore deserve a chance to shine together !!  We want everyone to discover a different kind of gift giving opportunity.  We have created a whole new experience by combining floral arrangements with Medical Marijuana.
<br><br>
We use only locally sourced flowers from our growers in Southern California.  You may choose from a variety of styles and floral designs as well as an assortment of Medical Marijuana strains.  We are committed to an excellence of beauty and hold ourselves to the highest standards.
<br><br>
All proceeds benefit the American Association For Deaf Children
<br><br>
<span style="font-weight: bold;">
Freshest Flowers
<br>
Custom Options
<br>
Mason Jars with lids 
</span>
<br>

Every floral arrangement offers a choice e between an 1/8, 1/4 or 1/2 oz with at least three strains to choose from.
<br><br>
<span style="font-weight: bold;">
1/2 oz purchases have the option of splitting between two strains.  
<br>
Each nug is perfectly trimmed and delicately placed upon a stem for easy removal.
<br>
24 hour delivery
</span>
									</p>
									<footer>
										<ul class="actions">
											<li><a href="/floral" class="button">Browse our arangements</a></li>
											<li><a href="/products" class="button">Browse our products</a></li>
										</ul>
									</footer>
								</div>
							</section>

						<!-- 
							<section class="main">
								<div class="posts">
									<article>
										<a href="#" class="image"><img src="../../../images/pic05.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Mauris vitae</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic06.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Dapibus nulla</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic07.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Dictum veroeros</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic08.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Lorem sed magna</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic09.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Vitae adipiscing</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic10.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Aliquam phasellus</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
								</div>
								<footer class="major">
									<ul class="pagination">
										<li><a href="#" class="previous">Prev</a></li>
										<li><a href="#" class="page active">1</a></li>
										<li><a href="#" class="page">2</a></li>
										<li><a href="#" class="page">3</a></li>
										<li><span class="extra">&hellip;</span></li>
										<li><a href="#" class="page">19</a></li>
										<li><a href="#" class="page">20</a></li>
										<li><a href="#" class="next">Next</a></li>
									</ul>
								</footer>
							</section>
							-->

					</div>