<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title>Application Approved!</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body style="font-family: 'Raleway', sans-serif;">
		<h1>Congrats <?=ucfirst($user['first_name'])?>! Your application to <?=$site?> has been approved!</h1>
		<br>
		<div>
			Please <a href="http://<?=$site?>/sign-up/member?key=<?=$key?>&user_id=<?=$user['id']?>">CLICK HERE</a> 
			to accept your invite, and create a password. This link will expire after your password has been created
		</div>
	</body>
</html>