<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <style type="text/css">
.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; font-family: 'Open Sans', Arial, Sans-serif !important; }
table { border-spacing: 0; table-layout: fixed; margin: 0 auto; }
table table table { table-layout: auto; }
img { display: block !important; overflow: hidden !important; }
.yshortcuts a { border-bottom: none !important; }
a { color: #41B3D3; text-decoration: none; }
img:hover { opacity:0.9 !important;}
.textbutton a { font-family: 'open sans', arial, sans-serif !important;}
.btn-link-1 a { color: #FFFFFF !important; }
.btn-link-2 a { color: #4a4a4a !important; }
td[class="hide"] { height: 5px !important; max-height: 5px !important; }

/*Responsive*/
@media only screen and (max-width: 640px) {
body { width: auto !important; font-family: 'Open Sans', Arial, Sans-serif !important; }
table[class="table-inner"] { width: 90% !important; text-align: center !important; }
*.table-full { width: 100%!important; max-width: 100%!important; text-align: center !important; } 
/* image */
img[class="img1"] { width: 100% !important; height: auto !important; }
}

@media only screen and (max-width: 479px) {
body { width: auto !important; font-family: 'Open Sans', Arial, Sans-serif !important; }
table[class="table-inner"] { width: 90% !important; text-align: center !important;}
*.table-full { width: 100%!important; max-width: 100%!important; text-align: center !important; } 
/* image */
img[class="img1"] { width: 100% !important; height: auto !important; }
}
</style>
</head>

<body>
  <!-- header -->
  <table bgcolor="#f8f8f8" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table width="600" style="max-width: 600px" class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <table width="200" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td bgcolor="#0A8B6E" align="center">
                    <table width="80%" class="table-inner" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="50"></td>
                      </tr>
                      <!-- logo -->
                      <tr>
                        <td align="center" style="line-height:0px;"><img style="display:block;font-size:0px; border:0px; line-height:0px;" src="http://wwweed.org/uploads/wwweed_logo_green.png" alt="logo" /></td>
                      </tr>
                      <!-- end logo -->
                      <tr>
                        <td height="40"></td>
                      </tr>
                      <!-- company name -->
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#FFFFFF; line-height:26px; font-weight: bold;">World Wide Weed</td>
                      </tr>
                      <!-- end company name -->
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <!-- address -->
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#FFFFFF; line-height:26px;"> San Diego, California</td>
                      </tr>
                      <!-- end address -->
                      <tr>
                        <td height="25"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="400" class="table-full" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table width="90%" class="table-inner" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="50"></td>
                      </tr>
                      <!-- title -->
                      <tr>
                        <td align="right" style="font-family: 'Open Sans', Arial, sans-serif; font-size:38px; color:#3b3b3b; line-height:26px;">RECEIPT</td>
                      </tr>
                      <!-- end title -->
                      <tr>
                        <td height="25"></td>
                      </tr>
                      <tr>
                        <td align="right">
                          <table align="right" width="50" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td bgcolor="#ff646a" height="3" style="line-height:0px; font-size:0px;">&nbsp;</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="15"></td>
                      </tr>
                      <!-- company name -->
                      <tr>
                        <td align="right" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#3b3b3b; line-height:26px; font-weight: bold;"><?=$customer?></td>
                      </tr>
                      <!-- end company name -->
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <!-- address -->
                      <tr>
                        <td align="right" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:26px;"> <?=$delivery_address1?>
                          <br /> <?=$delivery_address2?>
                          <br /> Order ID : <span style="color:#3b3b3b"> <strong><?=$transaction_id?></strong> </span></td>
                      </tr>
                      <!-- end address -->
                      <tr>
                        <td height="25"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end header -->
  <!-- title -->
  <table width="100%" align="center" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table align="center" width="600" style="max-width:600px;" class="table-full" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="50"></td>
          </tr>
          <!-- header -->
          <tr>
            <td>
              <table class="table-inner" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="263" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">description</td>
                  <td width="87" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">PRICE</td>
                  <td width="87" align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">AMOUNT</td>
                  <td width="87" align="right" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">TOTAL</td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- end header -->
          <tr>
            <td height="10" style="border-bottom:3px solid #bcbcbc;"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end title -->
  <!-- list -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table width="600" style="max-width: 600px;" class="table-full" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="35"></td>
          </tr>
<?php if (isset($schedule)): ?>
<?php foreach ($products as $cart_id => $product_data): ?>
			<tr>
				<td align="center">
					<table width="100%" class="table-inner" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="263" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;"><?=$product_data['product']['name']?></td>
							<td width="87" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;">$<?=$product_data['product_size']['price']?></td>
							<td width="87" align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;"><?=$product_data['quantity']?></td>
							<td width="87" align="right" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;">$<?=$product_data['product_size']['price'] * $product_data['quantity']?></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="5" style="border-bottom:1px solid #ecf0f1;"></td>
			</tr>
<?php endforeach; ?>
<?php else: ?>
<!-- NON-SCHEDULED -->
<?php foreach ($products as $cart_id => $data): ?>
			<tr>
				<td align="center">
					<table width="100%" class="table-inner" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="263" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;"><?=$data['product']['name']?></td>
							<td width="87" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;">$<?=$data['product_size']['price']?></td>
							<td width="87" align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;"><?=$data['quantity']?></td>
							<td width="87" align="right" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;">$<?=$data['product_size']['price'] * $data['quantity']?></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="5" style="border-bottom:1px solid #ecf0f1;"></td>
			</tr>
<?php endforeach; ?>
<?php endif; ?>

	

        </table>
      </td>
    </tr>
  </table>
  <!-- end list -->
  <!-- total -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table width="600" class="table-full" style="max-width: 600px;" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="40" style="border-bottom:3px solid #3b3b3b;"></td>
          </tr>
        </table>
        <table align="center" width="600" style="max-width: 600px;" class="table-full" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="15"></td>
          </tr>
          <tr>
            <td align="center">
              <table width="400" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td bgcolor="#f8f8f8" align="center">
                    <table class="table-inner" align="center" width="90%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="10"></td>
                      </tr>
<?php if ($transaction['alt_cost'] > 0): ?>
						<tr>
							<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#3b3b3b; line-height:26px; text-transform:uppercase;line-height:24px;">Discount Applied:</td>
						</tr>
						<tr>
							<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color:#3b3b3b;  font-weight: bold;"><?=$discount?>% OFF!</td>
						</tr>
<?php else: ?>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
<?php endif; ?>
                      
                      <tr>
                        <td height="15"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="200" class="table-full" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" bgcolor="#e1e6e7">
                    <table class="table-inner" width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="10"></td>
                      </tr>
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#3b3b3b; line-height:26px; text-transform:uppercase;line-height:24px;">Total</td>
                      </tr>
                      <tr>
<?php if ($transaction['alt_cost'] > 0): ?>
							<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color:#3b3b3b;  font-weight: bold;">
								<div style="color: red; text-decoration: line-through;">$<?=number_format($transaction['sub_total'], 2)?></div>
								<div>$<?=number_format($transaction['alt_cost'], 2)?> USD</div>
							</td>
<?php else: ?>
							<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color:#3b3b3b;  font-weight: bold;">$<?=number_format($total, 2)?> USD</td>
<?php endif; ?>
                      </tr>
                      <tr>
                        <td height="15"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="15"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end total -->
  <!-- note -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="600" align="center">
              <table align="center" width="100%" class="table-inner" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="40"></td>
                </tr>
                <!-- title -->
                <tr>
                  <td align="left" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#3b3b3b; line-height:26px;  font-weight: bold; text-transform:uppercase">Notes</td>
                </tr>
                <!-- end title -->
                <tr>
                  <td height="5"></td>
                </tr>
                <!-- content -->
                <tr>
                  <td align="left" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:26px;"> <?=$notes?> </td>
                </tr>
                <!-- end content -->
                <tr>
                  <td height="15" style="border-bottom:3px solid #bcbcbc;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end note -->
  <!-- footer -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" style="border-bottom:10px solid #ecf0f1;">
        <table width="600" style="max-width: 600px;" class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="25"></td>
          </tr>
          <tr>
            <td>
              <!--left-->
              <table width="180" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center" style="line-height:0px;"><img style="display:block;font-size:0px; border:0px; line-height:0px;" src="http://wwweed.org/uploads/phone.png" alt="img" /></td>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; padding-left:15px;">619-944-WEED(9333)</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--end left-->
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="25" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="15"></td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <!--middle-->
              <table width="180" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center" style="line-height:0px;"><img style="display:block;font-size:0px; border:0px; line-height:0px;" src="http://wwweed.org/uploads/mail.png" alt="img" /></td>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px;padding-left: 15px;">info@wwweed.org</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              
              <!--end middle-->
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="25" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="15"></td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <!--right-->
              <table width="180" class="table-full" align="right" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table class="table-inner" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="btn-link-2" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px;"><a href="http://<?=$site?>" style="padding: 8px; border: 1px solid grey; border-radius: 2px;">To Site</a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--end right-->
            </td>
          </tr>
          <tr>
            <td height="25"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end footer -->
</body>

</html>
