
			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
<?php $convention_rand = rand(0, count($loader['conventions']) - 1); ?>
								<!-- Sidebar -->
									<section class="box">
										<a href="#" class="image featured"><img src="../../../uploads/<?=trim($loader['conventions'][$convention_rand]['attachment_file_name'])?>" alt="" /></a>
										<header>
											<h3><?=$loader['conventions'][$convention_rand]['title']?></h3>
										</header>
										<p><?=$loader['conventions'][$convention_rand]['shortened_post']?></p>
										<footer>
											<a href="/convention" class="button alt">Read More</a>
										</footer>
									</section>
									<section class="box">
										<header>
											<h3>Recent Podcasts</h3>
										</header>
										<p>Here are some of the recent MightyCast posts! Catch up with the gang and hear about the latest in the comic universe.</p>
										<ul class="divided">
<?php $count = 0; ?>
<?php foreach ($podcasts as $id => $data): ?>
<?php if ($count < 5): ?>
											<li><a href="/podcast/view?content_id=<?=$data['id']?>"><?=$data['title']?></a></li>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										</ul>
										<footer>
											<a href="/podcast" class="button alt">All Podcasts</a>
										</footer>
									</section>

							</div>
							<div class="8u 12u(mobile) important(mobile)">

								<!-- Content -->
<?php foreach ($content as $content_id => $data): ?>
									<article class="box post">
<?php if (file_exists('uploads/' . $data['attachment_file_name'])): ?>
										<a href="#" class="image featured"><img src="../../../uploads/<?=$data['attachment_file_name']?>" alt="" /></a>
<?php else: ?>
										<a href="#" class="image featured"><img src="../../../images/pic01.jpg" alt="" /></a>
<?php endif; ?>
										<header>
											<h2><?=$data['title']?></h2>
											<p><?=$data['created_date']?></p>
										</header>
										<p>
											<?=$data['shortened_post']?>
										</p>
										<footer>
											<ul class="actions">
												<li><a href="/news/view?content_id=<?=$data['id']?>" class="button icon fa-file-text">Continue Reading</a></li>
												<li><a href="/news/view?content_id=<?=$data['id']?>#disqus_thread" data-disqus-identifier="news<?=$data['id']?>"class="button alt icon fa-comment">Comments</a></li>
											</ul>
										</footer>
									</article>
<?php  endforeach; ?>
							</div>
						</div>
					</div>
				</div>

		