
		<!-- Main -->
			<section class="wrapper ">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px;">
						<section class="main special">
									<div class="row">
									
										<div class="12u">
											<div>
												<img alt="" src="../../../uploads/boxes.png">
											</div>
										</div>
										<div class="6u 12u(s)">
											<h2>HOW TO JOIN</h2> 
											<h1>1. SEND US YOUR DOCUMENTS</h1>
											<p style="font-size: 75%;">
												Before you can join and receive your first delivery, we need to verify that your 
												recommendation and California I.D. are both valid. Doing this is easy! Just 
												scan or snap a picture of both your I.D. and current recommendation, and submit 
												them using the form on this page or email them to info@wwweed.org.
											</p>
											
											<h1>2. WAIT FOR OUR RESPONSE</h1>
											<p style="font-size: 75%;">
												After we get your email and verify that your recommendation and I.D. are both 
												current, we'll email you and schedule your first delivery with the hour! Delivery times can 
												differ depending on the time of day a purchase was made and where you're located. 24 hour notice must be given on most products.
												Our response will include an estimated delivery time within 1 hour.
											</p>
											
											<h1>3. SIGN MEMBERSHIP AGREEMENT</h1>
											<p style="font-size: 75%;">
												When the delivery driver arrives at your house, he or she will come to your door with a Membership 
												Agreement paper. Once you sign it, you'll be able to donate and receive your delivery. If 
												you want to make the process a bit quicker, download the Membership Agreement Form here. 
												Feel free to print it out and sign it before we arrive!
											</p>
											
										</div>
										<div class="6u 12u(s)">
											<h2>YOUR INFO</h2>
											<form id="member_form" enctype="multipart/form-data" action="uploader/upload-application" method="POST">
												<div class="field half first">
													<input type="text" name="first_name" id="first_name" style="background-color: white;" required placeholder="First name" />
												</div>
												<div class="field half">
													<input type="text" name="last_name" id="last_name" style="background-color: white;" required placeholder="Last name" />
												</div>
												<div style="margin-top: 15px; font-weight: bold;">DELIVERY ADDRESS</div>
												<div class="field">
													<input type="text" name="address" id="address" style="background-color: white;" required placeholder="Street Address" />
												</div>
												<div class="field half first">
													<input type="text" name="city" id="city" style="background-color: white;" required placeholder="City" />
												</div>
												<div class="field half">
													<input type="text" name="zip" id="zip" style="background-color: white;" required placeholder="Zip Code" />
												</div>
												<div style="margin-top: 15px; font-weight: bold;">CONTACT INFO</div>
												<div class="field half first">
													<input type="text" name="email" id="email" style="background-color: white;" required placeholder="Email" />
												</div>
												<div class="field half">
													<input type="text" name="phone" id="phone" style="background-color: white;" required placeholder="Phone Number" />
												</div>
												<div style="margin-top: 15px; font-weight: bold;">FREE TREE PROGRAM LEVEL <span style="color: red;">(OPTIONAL, READ <a href="/free-tree">HERE</a> FOR MORE INFO)</span></div>
												<div class="field">
													<div class="select-wrapper">
														<select name="membership" id="membership" style="background-color: white;" onchange="javascript:updateMembership(this);">
															<option value="0">None</option>
															<option value="1">Green - $150</option>
															<option value="2">Gold - $300</option>
															<option value="3">Black - $500</option>
														</select>
													</div>
												</div>
												
												<div id="member_warning" style="display: none; margin-top: 15px; color: red;">By selecting this you acknowledge that you will be making a $<span id="member_amount">150</span> payment unpon reciept of my first order.</div>
												
												<div style="margin-top: 15px; font-weight: bold; display: none;">PAYMENT METHOD</div>
												<div class="field" style="display: none;">
													<div class="select-wrapper">
														<select name="payment" id="payment" style="background-color: white;">
															<option value="1">Cash</option>
															<option value="2">CC / Venmo</option>
														</select>
													</div>
												</div>
												<div style="margin-top: 15px; font-weight: bold; text-transform: uppercase;">Who/What/Where/How did you hear about us?</div>
												<div class="field">
													<div class="select-wrapper">
														<select name="discover" id="discover" style="background-color: white;" onchange="javascript: checkReferral()">
															<option value="0">- SELECT -</option>
															<option value="Online Search">Online Search</option>
															<option value="A Member...">A Member...</option>
															<option value="WeedMaps">WeedMaps</option>
															<option value="GetNugg">GetNugg</option>
															<option value="Green Rush">Green Rush</option>
															<option value="Other">Other</option>
														</select>
													</div>
												</div>
												
												<div id="referr_row1" style="margin-top: 15px; font-weight: bold; text-transform: uppercase; display: none;">Who referred you? This is important, don't forget to hook a friend up!</div>
												<div id="referr_row2" class="field" style="display: none;">
													<div>BY NAME</div>
													<input type="text" name="referral" id="referral" style="background-color: white;" placeholder="James Rick" />
													<div>OR BY CODE</div>
													<input type="text" name="referral_code" id="referral_code" style="background-color: white;" placeholder="AB234" />
												</div>
												
												<div style="margin: 15px 0; font-weight: bold;">REQUIRED DOCUMENTS</div>
												<div>
													<div style="float: left;">Driver's License</div>
													&nbsp; <input id="uploadedfile1" name="uploadedfile1" type="file" required style="width: 100%; background-color: #d3d3d3; color: black;" />
												</div>
												<br>
												<div>
													<div style="float: left;">Medical Marijuana Recommendation</div>
													&nbsp; <input id="uploadedfile2" name="uploadedfile2" type="file" required style="width: 100%; background-color: #d3d3d3; color: black" />
												</div>
												
												<div>
													<textarea rows="5" cols="" style="border: 1px solid #828282 !important;" readonly>
As a qualified patient protected by California Law, Health and Safety Code 11362.5 and 11362.7, et, seq,. and in conjunction with the California State Senate Bill 420, you are required to read and agree to understand the following statements of fact. Please read the following statements and click the check mark box then press submit on the verification page. You are entering into a legally binding 'click-on agreement' with our collective for our protection and yours. 1. I am legally able to use, possess, and cultivate cannabis for medical purposes. I understand that I am allowed to do so through safe and affordable access such as the type provided by Worldwideweed, therefore, designate Worldwideweed,  as my primary care provider for this purpose. I recognize that Worldwideweed operates under the nonprofit Free Tree Organics, as it has since day one of its inception. In doing so, I agree to sign and follow all Worldwideweed,  rules and regulations regarding their service. 2. I further authorize Worldwideweed,  to create and/ or assign agency rights in its own name for the purpose of growing medication and/or obtaining edible forms of medication for my benefit. 3. I also agree to pay all personal out-of-pocket expenses and reasonable compensation for Worldwideweed,  member services and medicine. 4. I hereby declare under penalty of perjury under the laws of the State of California that a medical doctor recommended or approved my use of medical marijuana. i have been diagnosed for a serious illness for which cannabis provides relief. 5. I hereby verify that I am a California resident and my personal medical marijuana will not be taken out of the State of California. I further verify and agree that my medical marijuana shall not be shared, sold, bartered, traded, exchanged or delivered in any other means to any other person. 6. I hereby declare and understand that my contributions to Worldwideweed,  for and through prescribed medicinal products I may acquire from Worldwideweed,  are used to ensure the continued operation of Worldwideweed,  and that any said transaction in no way constitutes commercial promotion or sale of any item. 7. As a member, I hereby agree, appoint and designate Worldwideweed,  and their representatives, as my true and lawful agents for the limited purpose of assisting me in obtaining my legally prescribed medicinal marijuana. I understand that this means Worldwideweed,  will be required to purchase, possess, transport and distribute my medication to me as prescribed by my physician and I grant them the limited authority to do so. I further authorize Worldwideweed,  to share their primary caregiver status of my person in order to enter into contracts to obtain and/or allow growth/preparation of medication and edibles for my benefit. 8. As a member, I understand that Worldwideweed,  has other members with similar Membership Agreements. I hereby authorize Worldwideweed,  to jointly possess the medical marijuana as described under this agreement. I agree the medicinal marijuana possessed by Worldwideweed,  at any time is the collective property of every patient who is also under this Membership Agreement and the care of Worldwideweed, . 9. I agree to provide Worldwideweed,  with all changes in my contact information, diagnosis, or primary physician immediately. 10. I hereby declare that I am NOT in any way affiliated with any state or federal police or agency of law enforcement. I authorize Worldwideweed,  to acknowledge the fact of my membership, when needed, for the preservation of my medicinal rights under the Compassionate use Act of 1996. Disclaimer- General Release, Indemnification and Hold Harmless Clause I, being of lawful age and sound mind, do now release, acquit, and forever discharge Worldwideweed,  herein referred to as owner, Worldwideweed,  from all actions, claims, demands, or damages accruing to me from any known or unknown injury, loss, or damage sustained by or to me. This release shall remain in force and run concurrently with my membership in further agree to indemnify and hold harmless Worldwideweed,  from any injuries or damages resulting form use or misuse of medical marijuana obtained from Worldwideweed, . By accepting these terms I understand that I am entering into a legally binding 'click-on' agreement between myself and Worldwideweed, . Welcome! TERMS OF SERVICE ---- OVERVIEW This website is operated by Worldwideweed, . Throughout the site, the terms 'we', 'us' and 'our' refer to Worldwideweed, . Worldwide weed offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here. By visiting our site and/ or purchasing something from us, you engage in our 'Service' and agree to be bound by the following terms and conditions ('Terms of Service', 'Terms')'as is' and 'as available' without any warranties, representations or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools. Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s). We may also, in the future, offer new services and/or features through the website (including, the release of new tools and resources). Such new features and/or services shall also be subject to these Terms of Service. SECTION 8 - THIRD-PARTY LINKS Certain content, products and services available via our Service may include materials from third-parties. Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties. We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party. SECTION 9 - USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments. We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service. You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party. SECTION 10 - PERSONAL INFORMATION Your submission of personal information through the store is governed by our Privacy Policy. To view our Privacy Policy. SECTION 11 - ERRORS, INACCURACIES AND OMISSIONS Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order). We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated. SECTION 12 - PROHIBITED USES In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses. SECTION 13 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free. We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable. You agree that from time to time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you. You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement. In no case shall Worldwideweed, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law. SECTION 14 - INDEMNIFICATION You agree to indemnify, defend and hold harmless Worldwideweed,  and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party. SECTION 15 - SEVERABILITY In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions. SECTION 16 - TERMINATION The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes. These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site. If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof). SECTION 17 - ENTIRE AGREEMENT The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision. These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service). Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party. SECTION 18 - GOVERNING LAW These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of 501 W Broadway Ste A-217 San Diego CA 92101 SECTION 19 - CHANGES TO TERMS OF SERVICE You can review the most current version of the Terms of Service at any time at this page. We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes. SECTION 20 - CONTACT INFORMATION Questions about the Terms of Service should be sent to us at card@wwweed.org
													
													

													
													</textarea>
													<div style="margin-top: 25px;">
														<input type="radio" id="f-option" name="selector" style="box-sizing: content-box; padding: 10px !important;" onclick="javascript: showSubmit();">
														<label class="card" for="f-option" style="background-color: #0FA18C; border: 2px solid black;"><h1 style="margin-top: -8px; color: black;">I have read and agree to the <a href="/terms" target="_blank" style="color: #0044aa;">World Wide Weed Terms of Service</a></h1></label>
													</div>
												</div>
												
												<div id="text_row"><i class="fa fa-arrow-up"></i> Click above to accept our terms and continue <i class="fa fa-arrow-up"></i></div>
												
												<div id="submit_row" style="margin-top: 55px; display: none;">
													<input id="member_submit" class="button" type="submit" value="Submit" style="padding: 20px !important; " />
												</div>
											</form>
										</div>
									</div>
						
							</section>
					<script type="text/javascript">
						function checkReferral() {
							if (document.getElementById('discover').value == 'A Member...') {
								document.getElementById('referr_row1').style.display = '';
								document.getElementById('referr_row2').style.display = '';
							} else {
								document.getElementById('referr_row1').value = '';
								document.getElementById('referr_row2').value = '';
								document.getElementById('referr_row1').style.display = 'none';
								document.getElementById('referr_row2').style.display = 'none';
							}
						}
					
						$('#member_submit').click(function(e) {
							e.preventDefault(); //This will prevent form from submitting

							do {
								if (document.getElementById('first_name').value == '') {
									swal("Error!", "You must enter your first name", "error");
									break;
								}

								if (document.getElementById('last_name').value == '') {
									swal("Error!", "You must enter your last name", "error");
									break;
								}

								if (document.getElementById('address').value == '') {
									swal("Error!", "You must enter an address of residence", "error");
									break;
								}

								if (document.getElementById('city').value == '') {
									swal("Error!", "You must enter a city of residence", "error");
									break;
								}

								if (document.getElementById('zip').value == '') {
									swal("Error!", "You must enter a zip code of residence", "error");
									break;
								}
								
								if (document.getElementById('email').value == '') {
									swal("Error!", "You must enter your email address", "error");
									break;
								}

								if (document.getElementById('phone').value == '') {
									swal("Error!", "You must enter your phone number", "error");
									break;
								}

								if (document.getElementById('uploadedfile1').value == '') {
									swal("Error!", "You must enter your driver's license", "error");
									break;
								}
								if (document.getElementById('uploadedfile2').value == '') {
									swal("Error!", "You must enter your medical rec", "error");
									break;
								}

								document.getElementById('member_submit').style.display = 'none';
								
								$.ajax({
									url: "/login/check-email",
									type: 'post',
									dataType: 'html',
									data: 
									{
										email: document.getElementById('email').value
									},
									async: false,
									success: function(data) {
										if (data == 1) {
											swal({   
												title: "Uploading information...",   
												text: 'This may take a moment, please be patient.',
												showConfirmButton: false
												});
											$('#member_form').submit();
										} else {
											swal("Error!", data, "error");
										}
									} 
								});
							} while(false);

							
						});
					</script>
						

					<!-- Sidebar -->
						<div class="sidebar" style="display: none;">
							<hr style="margin-top: -35px;">
							<section>
								<p>
									Simply fill your cart and deduct order total from account balance.
									When you deliver your entire balance, refill to desired level of membership 
									or order off of the menu.
								</p>
								<a href="/join" class="button join_link" style=" border-bottom: 0px solid black; width: 100%;">Join Today!</a>
<!-- 								<footer> -->
<!-- 									<ul class="actions"> -->
<!-- 										<li><a href="#" class="button">Learn More</a></li> -->
<!-- 									</ul> -->
<!-- 								</footer> -->
							</section>
							<hr />
							<section>
								<a href="#" class="image fit"><img src="../../../uploads/pic01.jpg" alt="" /></a>
								<h3>Amet Lorem Tempus</h3>
								<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button join_link">Learn More</a></li>
									</ul>
								</footer>
							</section>
						</div>
				</div>
			
			</section>
			
			<style>
				.join_link {
					background-color: white;
				}
				
				.join_link:hover {
					background-color: #FFCA70;
				}
				
				#levels {
					margin-top: -150px;
				}
				
				@media screen and (max-width: 1001px) {
					#levels {
						margin-top: -30px;
					}
				}
				
				input {
					border: 1px solid #828282 !important;
					color: #828282 !important;
				}

				div input[type=radio]{
				  position: absolute;
				  visibility: hidden;
				}
				
				div label{
				  display: block;
				  position: relative;
				  font-weight: 300;
				  font-size: 1.35em;
				  padding: 25px 25px 25px 80px;
				  margin: 10px auto;
				  height: 30px;
				  z-index: 9;
				  cursor: pointer;
				  -webkit-transition: all 0.25s linear;
				}
				
				div:hover label{
					color: #FFFFFF;
				}
				
				div .check{
				  display: block;
				  position: absolute;
				  border: 0px solid #AAAAAA;
				  border-radius: 100%;
				  height: 25px;
				  width: 25px;
				  top: 30px;
				  left: 20px;
					z-index: 5;
					transition: border .25s linear;
					-webkit-transition: border .25s linear;
				}
				
				div:hover .check {
				  border: 0px solid #FFFFFF;
				}
				
				div .check::before {
				  display: block;
				  position: absolute;
					content: '';
				  border-radius: 100%;
				  height: 15px;
				  width: 15px;
				  top: 5px;
					left: 5px;
				  margin: auto;
					transition: background 0.25s linear;
					-webkit-transition: background 0.25s linear;
				}
				
				input[type=radio]:checked ~ .check {
				  border: 0px solid #0DFF92;
				}
				
				input[type=radio]:checked ~ .check::before{
				  background: #0DFF92;
				}
				
				input[type=radio]:checked ~ label{
				  color: #0DFF92;
				}				
			</style>
			<script>
				function updateMembership(value) {
					switch(value.selectedIndex) {
						case 1:
							document.getElementById('member_warning').style.display = 'inline';
							document.getElementById('member_amount').innerHTML = '150';
							break;
						case 2:
							document.getElementById('member_warning').style.display = 'inline';
							document.getElementById('member_amount').innerHTML = '300';
							break;
						case 3:
							document.getElementById('member_warning').style.display = 'inline';
							document.getElementById('member_amount').innerHTML = '500';
							break;
						default:
					 		document.getElementById('member_warning').style.display = 'none';
					}
				}
			
				function showSubmit() {
					document.getElementById('submit_row').style.display = 'inline';
					document.getElementById('text_row').style.display = 'none';
				}
				
				function updateSlider(i) {
					var x = (Math.round(i * 20) / 20).toFixed(2);

					var num = x * 20;
					document.getElementById('friends').innerHTML = num;
					document.getElementById('green_earn').innerHTML = Math.ceil(num * 7.5);
					document.getElementById('gold_earn').innerHTML = Math.ceil(num * 15);
					document.getElementById('black_earn').innerHTML = Math.ceil(num * 25);
				}
			
			  $("[data-slider]")
			    .each(function () {
			      var input = $(this);
			      $("<span style='color: transparent;'>")
			        .addClass("output")
			        .insertAfter($(this));
			    })
			    .bind("slider:ready slider:changed", function (event, data) {
			      $(this)
			        .nextAll(".output:first")
			          .html(data.value.toFixed(3));
			    });
			  </script>
		
			