.input-group {
	margin-bottom: 15px;
	margin-top: -8px;
}

.box_pic {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	background-position: 50% 50%; 
	background-size: cover; 
	border-radius: 2px;
	background-repeat: no-repeat;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.swal2-confirm {
	margin-right: 15px;
}